.banner-friday
  color #ffffff
  background-color #222222
  overflow hidden
  &__info
    z-index 1
  &__discount
    color #D12525
  &__promocode
    &::before
      content ''
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 241px
      height 90px
      background-image image-set(url('../images/banner-friday-promocode.webp') 1x, url('../images/banner-friday-promocode@2x.webp') 2x)
      background-repeat no-repeat
      background-size cover
      z-index -1
  &__btn
    background-color #D12525
    z-index 20
  &__before
    &::after
      bottom -10px
      left 0
      width 42px
      height 6px
      background-color #D12525
  &__list
    z-index 10
  &__item-discount
    color #D12525
    z-index 10
  &__item-background
    position absolute
    top 50%
    left -10px
    transform translate(0, -50%)
    background-image url(../images/banners/banner-friday/asset-1.webp)
    width 76px
    height 88px
    &--2
      top 75%
      scale 1.2
    &--3
      top 114%
      scale 1.5
  &__image
    @media(min-width point-m)
      margin-left -5rem
      bottom 0
      object-fit cover
    @media(min-width point-l)
      height 100%
