.banner-friday
  position relative
  &__inner
    padding 2.75rem 0
    @media(min-width point-m)
      max-width 75%
  &__title
    margin-bottom 2.5rem
    font-size font-xl
    line-height line-xl
    font-weight 700
    @media(max-width point-m - 1)
      margin-bottom 1rem
  &__info
    position relative
    display flex
    flex-wrap wrap
    column-gap 0.25rem
    row-gap 0.5rem
    align-items flex-start
    margin-bottom 1.5rem
  &__before
    position relative
    margin-top -10px
    font-size 2.25rem
    line-height 1
    letter-spacing 0.02em
    &::after
      content ''
      position absolute
  &__brands
    font-size 1.75rem
    line-height 1.25
    text-transform uppercase
    letter-spacing 0.05em
  &__promocode
    position relative
    font-weight 700
    text-transform uppercase
    &::before
      position absolute
  &__btn
    position relative
  &__list
    position relative
    display flex
    flex-wrap wrap
    column-gap 1.5rem
    row-gap 0.25rem
    margin-bottom 1.5rem
    @media(max-width point-m - 1)
      flex-direction column
  &__item
    position relative
    display flex
    align-items center
    gap 0.5rem
  &__item-discount
    font-size 1.75rem
    letter-spacing 0.05em
  &__item-text
    font-size 1.25rem
  &__discount
    margin-right 1rem
    font-size 5rem
    line-height 0.8
  &__image
    display block
    @media(max-width point-m - 1)
      margin-top -10rem
    @media(min-width point-m)
      position absolute
  &__image-container
    @media(max-width point-m - 1)
      margin-inline -30px
      width calc(100% + 60px)
  &__promocode-text
    margin-top 8px
    font-size 1rem
    line-height 1.5
    text-transform lowercase
    letter-spacing 0
