.catalog-subheader
  margin-bottom (basePadding*2)
  padding (basePadding/2) (basePadding*2)
  font-weight normal
  text-align right
  text-transform uppercase
  color var(--background-color)
  background-color var(--nav-background)
