mixin catalogMenu(menu)
  .catalog-menu
    h2.catalog-menu__header !{menu.name}
      if menu.clarification
        a(href='#').catalog-menu__clarification !{menu.clarification}
    ul.catalog-menu__list
      each item in menu.list
        li.catalog-menu__item(class = `${item.active ? 'catalog-menu__item--active' : ''}`): a(href != item.href).link-secondary !{item.name}
