.catalog-menu
  &__header
    font-size  1.25em
    position relative
    line-height 1.5em
    font-weight 500
  &__clarification
    margin-left (basePadding * 2)
    font-size font-xs
    font-weight normal
  &__list
    margin-top .3125rem
    font-size font-m
    line-height line-m
  &__item
    &--active
      a
        font-weight bold
