mixin scripts(scripts)
  each src in scripts
    -
      const isExternalScript = /^(?:https?\:)?\/\//i;
      src = isExternalScript.test(src) ? src : '/template/scripts/' + src + '?' + Date.now();
    script(src=src)
