include ../classes/classes

include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts
include /blocks/style/style
  
doctype html
html(lang='ru')
  include ../head/head
  body.page
    include ../header/header
    main
      block content
    include ../footer/footer
    include /blocks/modal-reminder/modal-reminder
    include /blocks/modal-city/modal-city
  +style('rest')
  block end
  if isContactsPage
    script(src="https://unpkg.com/video.js/dist/video.min.js")
    script(src="https://unpkg.com/videojs-vr/dist/videojs-vr.min.js")
  +scripts(['jquery-3.5.1.min.js'])
  +scripts(['script.js'])
