.table-wrap
  parMargin()
  overflow-x auto
.table
  width 100%
  &__header
    padding (basePadding/3*2) basePadding
    font-size font-s
    line-height line-s
    text-align left
    vertical-align middle
    background-color var(--marked-color-light)
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border-bottom 1px solid var(--marked-color-light)
    ^[-1]__row:last-child > &
      border-bottom 1px solid var(--marked-color-light)
    &--empty
      // text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
    &--forms
      min-width 150px
    &--features
      min-width 350px
