.banner-may
  background-image image-set(url('../images/banners/banner-may/bg_l.webp') 1x, url('../images/banners/banner-may/bg_l@2x.webp') 2x)
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  @media(max-width point-l - 1)
    background-image image-set(url('../images/banners/banner-may/bg_m.webp') 1x, url('../images/banners/banner-may/bg_m@2x.webp') 2x)
  @media(max-width point-m - 1)
    background-image image-set(url('../images/banners/banner-may/bg_s.webp') 1x, url('../images/banners/banner-may/bg_s@2x.webp') 2x)
  &__inner
    align-items center
  &__title
    letter-spacing 0.05em
    color #D12525
  &__discount
    color #D12525
  &__promocode
    text-align center
  &__duration
    color #816B60
  &__link
    color #D12525
    @media(hover: hover)
      &:hover
        color #b12121
