.banner-may
  &__inner
    display flex
    flex-direction column
    gap 0.625rem
    padding-y 2.5rem
  &__title
    font-size 26px
    line-height 1.4
    font-weight 700
    text-transform uppercase
  &__discount
    font-size 26px
    line-height 1.4
    font-weight 700
    span 
      font-size 64px
      line-height 1
      font-weight 700
  &__promocode
    font-size 26px
    line-height 1.2
    @media(max-width point-m - 1)
      font-size 22px
    span 
      font-weight 700
      text-transform uppercase
  &__duration
    margin-top 0.3rem
    font-weight 700
    text-transform uppercase
  &__link
    font-size 20px
    margin-top 0.3rem
