.search-result
  & + &
    margin-top 2.25rem
  &__name
    font-weight bold
  &__path
    display flex
    align-items center
    margin-top .5rem
    font-size .675rem
  &__path-parent
    padding-right (basePadding /2)
  &__path-separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
  &__body
    margin-top .75rem
    line-height 1.5
