include ../product-size/product-size

mixin productSizes(sizes)
  ul.product-sizes
    if sizes.length > 1
      each item in sizes
        li.product-sizes__item: +productSize(item)
    else
      .product-sizes__item !{sizes[0]}
