.product-sizes
  display grid
  grid-column-gap (basePadding*2)
  grid-row-gap (basePadding)
  grid-template-columns fit-content(50%) fit-content(50%) fit-content(50%) fit-content(50%) fit-content(50%)
  margin-top (basePadding)
  @media (max-width point-m - 1)
    grid-template-columns fit-content(50%) fit-content(50%)
