include /blocks/form-input/form-input

mixin productSize(size)
  -
    const itemId = `product-size-${size}`;
  +formInput({'type': 'radio', 'value': size, 'name': 'size', 'label': size})(id != itemId).product-size
