.palette
  parMargin()
  display flex
  flex-wrap wrap
  justify-content center
  margin-x -(basePadding)
  margin-bottom -(basePadding*2)
  &--product-card
    justify-content flex-start
    & ^[0]__item
      gap 16px
      padding-left 0
      flex-direction row
  &__item
    display flex
    flex-basis calc(100% / 8)
    flex-direction column
    align-items center
    padding-x basePadding
    padding-bottom (basePadding*2)
    text-align center

    a
      position relative
      filter grayscale(.5)
      transition filter .4s
      &:hover
        filter grayscale(0)
        transition filter .1s

    img
      display block
      width 4rem
  &__name
    width 6.25rem
    margin-top .25rem
    text-align center

  &__description
    margin-top .75rem
    font-size font-s
    color var(--font-color-secondary)
  &__result
    margin-top .375rem
    font-size font-s
    text-decoration-style dotted

  .layout-columns__aside > &
    & ^[-1]__item
      display flex
      flex-direction column
      align-items center
      width 50%

      img
        width 6rem
        margin-bottom (basePadding/2)
