mixin palette(list)
  ul.palette&attributes(attributes)
    each item in list
      li.palette__item
        - webp = item.src.substr(0, item.src.lastIndexOf('.')) + '.webp'
        if item.detail
          a(href != item.detail data-fancybox='palette')
            picture
              source(srcset=webp type='image/webp')
              img(src != item.src alt != item.name title != item.name)
        else
          picture
            source(srcset=webp type='image/webp')
            img(src != item.src alt != item.name title != item.name)
        if item.name
          .palette__name !{item.name}
        if item.desc
          .palette__description !{item.desc}
        if item.result
          a(href != item.result data-fancybox='').palette__result результат
