.consultation-answer
  &__header
    display flex
    align-items flex-end
  &__photo
    width 5rem
    max-width 25%
    margin-right (basePadding*2)
  &__author
    font-size font-m
    line-height line-m
  &__body
    ^[-1]__header + &
      margin-top .935rem
  &__category
    ^[-1]__header + &
    ^[-1]__body + & // @stylint ignore
      margin-top .935rem
  &__author-details
    display none
