mixin productCertificate(settings={})
  div(class=classes('product-certificate', settings))&attributes(attributes)
    .product-certificate__title #[strong Товар проверен] 
    .product-certificate__text Документы на эту продукцию есть в #[a(href='https://pub.fsa.gov.ru/rds/declaration/view/16912289/common' target='_blank' rel='nofollow') реестрах Росаккредитации] - можете их посмотреть
