.product-certificate
  display flex
  flex-direction column
  gap (basePadding / 2)
  &__title
    display flex
    align-items center
    gap basePadding
    &::before
      display block
      content ''
      width 2rem
      height 2rem
      mask-image url(../images/svg-sprites/rest.svg#badge)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
      background-color var(--font-color-secondary)
  &__text
    font-size font-s
    line-height line-m
