.banner-gifts
  background-image image-set(url('../images/banners/banner-gift/bg_l.webp') 1x, url('../images/banners/banner-gift/bg_l@2x.webp') 2x)
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  @media(max-width point-l - 1)
    background-image image-set(url('../images/banners/banner-gift/bg_m.webp') 1x, url('../images/banners/banner-gift/bg_m@2x.webp') 2x)
  @media(max-width point-m - 1)
    background-image image-set(url('../images/banners/banner-gift/bg_s.webp') 1x, url('../images/banners/banner-gift/bg_s@2x.webp') 2x)
  @media(max-width point-s - 1)
    background-image image-set(url('../images/banners/banner-gift/bg_xs.webp') 1x, url('../images/banners/banner-gift/bg_xs@2x.webp') 2x)
  &__duration
    color #816B60
  &__title
    & mark
      color #D12525
