.banner-gifts
  padding 2.75rem 0
  @media(max-width point-l - 1)
    padding 1.75rem 0
  @media(max-width point-s - 1)
    padding-bottom 11.5rem
  &__duration
    font-weight 500
    text-transform uppercase
    letter-spacing 0.03em
  &__discount
    margin-top 0
    margin-bottom 1.25rem
  &__title
    margin-top 1.2rem
    margin-bottom 1.25rem
    font-size 1.625rem
    line-height 1.25
    width 55%
    @media(max-width point-l - 1)
      width 60%
      margin-top 0.5rem
    @media(max-width point-s - 1)
      width 100%
      font-size 1.5rem
  &__clarification
    margin-top 2.5rem
    line-height 1.2
    @media(max-width point-l - 1)
      margin-top 2rem
      font-size 0.75rem
    @media(max-width point-m - 1)
      width 50%
    @media(max-width point-s - 1)
      width 100%
      margin-top 1rem
