.products-list-element
  position relative
  padding-bottom basePadding - .25rem
  &--wide
    @media (max-width point-m - 1)
      display grid
      grid-template-areas 'image name' 'image price' 'image buy' 'image sizes' 'image .'
      grid-template-columns 1fr 1fr
      grid-gap 0
      padding-bottom (basePadding * 2) - .5rem
      & ^[-1]__image
        grid-area image
        padding-right basePadding
      & ^[-1]__price
        grid-area price
      & ^[-1]__buy
        grid-area buy
      & ^[-1]__sizes
        grid-area sizes
        grid-gap .5rem 1rem
        padding-x 0
  &__image
    display flex
    justify-content center
    align-items flex-start
    padding-bottom basePadding
    & img 
      @media(min-width point-m)
        height 200px
        object-fit contain
  &__name
    position relative
    display block
    line-height line-m
    text-align center
    text-transform uppercase
    text-decoration none
    color var(--font-color)
    overflow hidden
    @media(min-width point-l)
      max-height 78px
    &:hover
      color var(--link-color)
      overflow visible
    &:hover ^[-1]__span
      display inline-block
      overflow visible
  &__span
    @media(min-width point-l)
      padding-bottom 0.5rem
      background-color #ffffff
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 3
      -webkit-box-orient vertical
  &__price
    margin-top basePadding
    font-size 1.5rem
    text-align center
  &__price-from
    margin-right .25rem
    font-size 1rem
  &__buy
    display flex
    flex-direction column
    align-items center
    margin-top (basePadding/2*3)
    .btn
      padding .5rem .75rem
      font-size .875rem
    .btn + .btn
      margin-top (basePadding/2)
  &__sizes
    display grid
    grid-template-columns unquote('minmax(min-content, 3rem)') 1fr min-content
    grid-gap .5rem 1.5rem
    align-items center
    margin-top (basePadding/2*3)
  &__size
    display contents
    & + &::before
      content ''
      grid-column 1/4
      height 1px
      background-color var(--border-color)
      opacity .5
