include /blocks/products-list-size/products-list-size

mixin productsListElement(item)
  -
    item.buyOneClick = !!item.buyOneClick
  div(class=classes('products-list-element', { wide: !!item.sizes }))&attributes(attributes)
    a(href='product.html').products-list-element__image: img(src='https://dummyimage.com/484x726' alt != item.name)
    a(href='product.html').products-list-element__name 
      span.products-list-element__span !{item.name}
    if item.sizes
      ul.products-list-element__sizes
        each size in item.sizes
          +productsListSize(size).products-list-element__size
    else
      - const price = item.price.toString().match(/(\d+?)(?=(\d{3})+(?!\d)|$)/g).join(' ')
      .products-list-element__price
        if item.sizes
          span.products-list-element__price-from от 
        | !{price} ₽
      .products-list-element__buy
        a(href='product.html').btn Купить
        if buyOneClick
          a(href='#buy-one-click' data-fancybox).btn Купить в 1 клик
