.rating-input
  display flex
  flex-direction row-reverse
  justify-content flex-end
  &:not(:checked) > input
    display none
  &:not(:checked) > label
    width 1.3rem
    height 1.3rem
    box-sizing content-box
    padding 0 0.3rem
    mask-image url(../images/svg-sprites/rest.svg#star)
    mask-repeat no-repeat
    mask-size contain
    background-color var(--marked-color-medium)
    cursor pointer
  & > input:checked ~ label 
    background-color var(--star-color)
  &:not(:checked) > label:hover
  &:not(:checked) > label:hover ~ label 
    background-color var(--star-color)
