mixin ratingInput(text)
  .form-input.form-input--rating
    span.form-input__label= text
    .rating-input
      input(type="radio" id="star-5" name="rating" value="5")
      label(for="star-5")
      input(type="radio" id="star-4" name="rating" value="4")
      label(for="star-4")
      input(type="radio" id="star-3" name="rating" value="3")
      label(for="star-3")
      input(type="radio" id="star-2" name="rating" value="2")
      label(for="star-2")
      input(type="radio" id="star-1" name="rating" value="1")
      label(for="star-1")
