.banner-shopping
  color #ffffff
  background linear-gradient(180deg, #363636 0%, #232323 79.4%, #232323 102.09%)
  z-index 2
  @media (min-width point-xl)
    &::before
    &::after
      content ''
      width 235px
      height 100%
      top 0
      background-repeat no-repeat
      background-size cover
      background-position center
    &::before
      left 0
      background-image image-set(url('../images/banner-shopping-bg-left.webp') 1x, url('../images/banner-shopping-bg-left@2x.webp') 2x)
    &::after
      right 0
      background-image image-set(url('../images/banner-shopping-bg-right.webp') 1x, url('../images/banner-shopping-bg-right@2x.webp') 2x)
  &__bg
    &::before 
      content ''
      top 0
      width 100%
      height 100%
      z-index -1
      background image-set(url('../images/banner-shopping-bg.webp') 1x, url('../images/banner-shopping-bg@2x.webp') 2x)
      background-repeat no-repeat
      background-position right -5% top
      background-size contain
      @media (max-width point-xxl - 1)
        background-position right -45% top
      @media (max-width point-xl - 1)
        background image-set(url('../images/banner-shopping-bg-tablet.webp') 1x, url('../images/banner-shopping-bg-tablet@2x.webp') 2x)
        background-position right top
        background-size 40%
        background-repeat no-repeat
      @media (max-width point-m - 1)
        background image-set(url('../images/banner-shopping-bg-mobile.webp') 1x, url('../images/banner-shopping-bg-mobile@2x.webp') 2x)
        background-position right -17px top
        background-repeat no-repeat
        background-size 51% auto, cover
      @media (max-width point-s - 1)
        background-position right -17px top
        background-repeat no-repeat
        background-size 69% auto, cover
  &__title
    display inline-block
    color transparent
    background linear-gradient(173.51deg, #EBC18F 5.11%, #975F22 219.21%)
    background-clip text
    &::before
      content ''
      bottom -126%
      width 100%
      height 110px
      z-index -2
      background-image image-set(url('../images/banner-shopping-bg-1.webp') 1x, url('../images/banner-shopping-bg-1@2x.webp') 2x)
      background-repeat no-repeat
      background-size cover
      background-position center
      @media (max-width point-m - 1)
        bottom 25%
        left -12%
        background-size auto 56%
      @media (max-width point-s - 1)
        // width 210%
        bottom 212%
        left 0
        background-size cover
  &__discount
    & span
      color #CCA473
      z-index 1
      &::before
        content ''
        top 50%
        left 36%
        transform translate(-50%, -50%)
        width 108px
        height 58px
        z-index -1
        background-image var(--icon-shopping)
        background-repeat no-repeat
        background-size cover
        background-position center
  &__promocode
    color var(--font-color)
    background-color #CCA473
    border-radius 20px
    @media (max-width point-m - 1)
      display block
