.banner-shopping
  position relative
  @media (min-width point-xl)
    &::before
    &::after
      position absolute
  &__bg
    position relative
    width 100%
    padding 3.75rem 0 2.75rem
    @media (max-width point-m - 1)
      padding 2.75rem 0
    @media (max-width point-s - 1)
      padding-top 11rem
    &::before 
      position absolute
      @media (max-width point-s - 1)
        padding-top 11rem
  &__title
    position relative
    margin-bottom 2rem
    font-size font-xxxl
    line-height line-xxs
    font-weight 700
    text-transform uppercase
    @media (max-width point-m - 1)
      width 284px
      margin-bottom 0.5rem
      font-size font-xxl
      line-height line-s
    @media (max-width point-s - 1)
      width 180px
    &::before
      position absolute
  &__discount
    font-size font-xxl
    line-height line-s
    & span
      position relative
      font-size 2.125rem
      line-height 1.4
      font-weight 700
      &::before
        position absolute
  &__promocode
    padding 0.4rem 0.75rem
    font-size 0.875rem
    line-height 1.75
    text-transform uppercase
    & span
      font-size 1rem
      font-weight 700
    @media (max-width point-m - 1)
      width 205px
      margin-top 0.5rem
  &__btn
    margin-top 2.2rem
    @media (max-width point-m - 1)
      margin-top 1.5rem
  p
    font-size 1.375em
