.footer-menu
  parMargin()
  &__header
    font-weight 500
    color var(--marked-color-light)
  &__list
    padding-left basePadding
    list-style square
    line-height line-m
    ^[-1]__header + & //@stylint ignore
      margin-top (font-m/2)
  &__item
    & + &
      margin-top (font-m/4)
