mixin footerMenu(menu)
  .footer-menu
    if menu.header
      .footer-menu__header !{menu.header}
    ul.footer-menu__list
      each item in menu.list
        li.footer-menu__item: a(href='') !{item}
