mixin wholesaleProduct(item)
  div(class=classes('wholesale-product', item.settings))&attributes(attributes)
    h3.visually-hidden.wholesale-product__name !{item.name}
    .wholesale-product__logo: img(src= item.logo alt='')
    img(src= item.image alt= item.name title= item.name).wholesale-product__image
    .wholesale-product__info
      block
      a(href= item.href).wholesale-product__button.btn.btn--secondary Подробнее
