.wholesale-product
  position relative
  display flex
  flex-direction column
  height calc(100% - 3rem)
  margin-top 3rem
  padding-top 3rem
  border 1px solid var( --border-color)
  border-radius .5rem
  &__logo
    position absolute
    top -3rem
    left 50%
    display flex
    justify-content center
    align-items center
    width 6rem
    height 6rem
    padding .5rem
    background-color var(--background-color)
    border 1px solid var( --border-color)
    border-radius 3rem
    transform translateX(-50%)
    ^[-1]--toppik &
      padding 1rem
  &__image
    width 100%
    padding 1rem
    aspect-ratio 1/1
    object-fit contain
    object-position center
  &__info
    display flex
    flex-direction column
    justify-content space-between
    flex-grow 1
    padding 1rem 1rem 2rem
    text-align center
    background-color var(--marked-color-light)
  &__button
    margin-top 1rem
