.article-header
  --article-reading-justify flex-end
  @media(max-width point-m - 1)
    --article-reading-justify flex-start
  &__author
    display flex
    @media(max-width point-m - 1)
      order 2
  &__job
    margin-top 0
    font-size 0.875rem
    line-height 1.3
    color var(--link-secondary-color-hover)
  &__img
    width 3.75rem
    height 3.75rem
    margin-right 0.625rem
    border-radius 50%
  &__reading
    // justify-content flex-end
    text-align right
    @media(max-width point-m - 1)
      margin-bottom 1.5rem
      order 1
  &__text
    margin 1.5rem 0
    line-height 1.625
    font-weight 700
    color var(--link-secondary-color-hover)
