.product-payment-delivery
  h2.product-payment-delivery__header.product-payment-delivery__header--payment Оплата заказа
  p Оплатить товар можно следующими способами:
  ul.list-marked
    li
      p: a(href='#' data-mrc-sh-title='payment-online') Онлайн оплата
      div(data-mrc-sh-body='payment-online')
        p: img(width='257' alt='Робокасса' src='/images/dostavka-i-oplata/robokassa.svg' height='75' title='robo.gif')
        p В нашем интернет-магазине вы можете оплатить заказ через 
          a(href='http://robokassa.ru/ru/' target='_blank') платежный агрегатор Робокасса
          | .
        p: a(href='#' rel='nofollow' data-mrc-sh-title='payment-1'): strong Прием электронных платежей Webmoney, Яндекс.Деньги и других систем
        p(data-mrc-sh-body='payment-1') Принимаем электронные платежи без рисков и лишних сложностей! На сегодняшний день вы можете оплатить заказ одной из следующих электронных валют:
        ul(data-mrc-sh-body='payment-1').list-marked.list-marked--w-prev-par
          li Webmoney — 
            a(href='http://www.webmoney.ru/' target='_blank') webmoney.ru
          li Яндекс.Деньги — 
            a(href='https://money.yandex.ru/' target='_blank') money.yandex.ru
          li Moneymail RUR — 
            a(href='https://www.moneymail.ru/' target='_blank') moneymail.ru
          li RBK Money RUR — 
            a(href='https://rbkmoney.ru/' target='_blank') rbkmoney.ru
          li EasyPay — 
            a(href='https://ssl.easypay.by/' target='_blank') easypay.by
          li Единый кошелек — 
            a(href='http://www.w1.ru/' target='_blank') w1.ru
          li LiqPay — 
            a(href='https://www.liqpay.com/' target='_blank') liqpay.com
          li WebCreds
          li Z-Payment — 
            a(href='https://z-payment.com/' target='_blank') z-payment.ru
        p: a(href='#' rel='nofollow' data-mrc-sh-title='payment-2'): strong Прием платежей по банковским картам VISA и MasterCard
        p(data-mrc-sh-body='payment-2') Вы можете оплатить заказ по карте 
          strong Visa
          |  и 
          strong MasterCard
          | . Оплата по банковской карте через Интернет реализуется так, чтобы обеспечить максимальную защиту данных, вводимых клиентом, что минимизирует риск мошенничества. Каждая оплата картами 
          strong Visa
          |  и 
          strong MasterCard
          |  проходит тщательную проверку системой, что дополнительно повышает безопасность приема платежей.
        +grid({
          'padding-y': true,
          'par-like': true,
          'align': 'center'
        })(data-mrc-sh-body='payment-2')
          +cell({
            m: 2,
            s: 3,
            xs: 4
          }): img(alt='Visa' src='/images/dostavka-i-oplata/visa.svg' style='width: 100%')
          +cell({
            m: 2,
            s: 3,
            xs: 4
          }): img(alt='MasterCard' src='/images/dostavka-i-oplata/mastercard.svg' style='width: 100%')
        p(data-mrc-sh-body='payment-2') Безопасность обработки платежей банковскими картами гарантирована системой сертификации по международному стандарту PCI DSS и совместимостью с протоколами 
          strong Verified by Visa
          |  и 
          strong MasterCard Secure Code
          |  (3-D Secure).
        +grid({
          'padding-y': true,
          'par-like': true,
          'align': 'center'
        })(data-mrc-sh-body='payment-2')
          +cell({
            m: 2,
            s: 3,
            xs: 4
          }): img(alt='Verified by Visa' src='/images/dostavka-i-oplata/verefied-by-visa.svg' style='width: 100%')
          +cell({
            m: 2,
            s: 3,
            xs: 4
          }): img(alt='MasterCard Secure Code' src='/images/dostavka-i-oplata/secure-code.svg' style='width: 100%')
        p(data-mrc-sh-body='payment-2') Если такая функция не подключена на вашей карте, то платежи по карте могут быть отклонены фильтрами системы безопасности. Рекомендуем обратиться в банк за выяснением точной причины отказа.
        p: a(href='#' rel='nofollow' data-mrc-sh-title='payment-3')
          strong Оплата заказа в системах Интернет-банк
        p(data-mrc-sh-body='payment-3') Для совершения платежных операций с помощью системы Интернет-банк не требуется регистрация в платежных системах, не нужно заводить новые аккаунты. Все, что для этого нужно — это иметь карту банка и мобильный телефон. Все операции максимально защищены и кража средств с карты плательщика сторонними лицами при совершении платежа посредством Интернет-банкинга сведена до минимума.
        p(data-mrc-sh-body='payment-3') В настоящий момент доступны системы Интернет-банк следующих Банков:
        ul(data-mrc-sh-body='payment-3').list-marked.list-marked--w-prev-par
          li ОАО «Альфа-Банк» (система Альфа-Клик)
          li ОАО Промсвязьбанк (система PSB-Retail)
          li АК ФБ Инноваций и Развития (ЗАО) (система BSS)
          li ОАО «Межтопэнергобанк» (система mteb@online)
          li HandyBank (
            a(href='http://www.handybank.ru/?option=com_content&view=article&id=2574&Itemid=158' target='_blank') система Интернет-банк следующих банков
            | )
        p: a(href='#' rel='nofollow' data-mrc-sh-title='payment-4'): strong Прием платежей со счетов мобильных телефонов — «Мобильная коммерция»
        p(data-mrc-sh-body='payment-4') Оплатить заказ можно со счета вашего мобильного телефона. В настоящее время доступен прием платежей со счетов телефонов таких мобильных операторов, как: Мегафон, Билайн и МТС.
        p(data-mrc-sh-body='payment-4'): strong Оплата счета ROBOKASSA с помощью приложения для iPhone
        p(data-mrc-sh-body='payment-4') Оплата с банковской карты через приложение ROBOKASSA.
        p(data-mrc-sh-body='payment-4'): a(href='http://robokassa.ru/ru/iRobokassa.aspx' target='_blank') Порядок оплаты через iPhone
        p: a(href='#' rel='nofollow' data-mrc-sh-title='payment-5'): strong Прием платежей через терминалы QIWI, Элекснет, Comepay и другие
        p(data-mrc-sh-body='payment-5') Это простая организация приема платежей через терминалы мгновенной оплаты.
        p(data-mrc-sh-body='payment-5') В настоящее время поддерживается:
        ul(data-mrc-sh-body='payment-5').list-marked
          li прием платежей через терминалы QIWI — 
            a(href='https://qiwi.ru/main.action' target='_blank') www.qiwi.ru
          li прием платежей через терминалы Элекснет — 
            a(href='http://www.elecsnet.ru/' target='_blank') www.elecsnet.ru
          li прием платежей через терминалы Comepay — 
            a(href='http://www.comepay.ru/' target='_blank') www.comepay.ru
          li прием платежей через терминалы Кассира.нет
          li прием платежей через терминалы Мобил Элемент — 
            a(href='http://www.mobilelement.ru/' target='_blank') www.mobilelement.ru
          li прием платежей через терминалы PinPay Express
          li прием платежей через терминалы Absolutplat — 
            a(href='http://www.absolutplat.ru/' target='_blank') www.absolutplat.ru
        p(data-mrc-sh-body='payment-5') Все платежи проходят по защищенным каналам и не имеют комиссии. Вы оплачиваете только стоимость товара.
        h3 Порядок оплаты заказа
        ol.list-numbered
          li Для того чтобы воспользоваться данным способом оплаты необходимо на шаге «Способ оплаты» выбрать «Оплата онлайн»;
          li После подтверждения заказа вы будете перенаправлены на сайт платежного сервиса Робокасса, где вам необходимо выбрать способ оплаты;
          li Выбрав удобный вам способ оплаты, просто следуйте подсказкам на странице;
          li После подтверждения оплаты заказа у Вас будет 45 минут на совершение оплаты через один из способов, которые предлагает Робокасса.
          li После того как вы совершили оплату, статус вашего заказа изменится на 
            strong Оплачен
            | .
    li
      p: a(href='#' data-mrc-sh-title='payment-courier') Оплата при получении
      div(data-mrc-sh-body='payment-courier'): p Оплата осуществляется наличными при получении товара Курьеру или в отделении Почты России (в зависимости от выбранного способа доставки).
    li
      p: a(href='#' data-mrc-sh-title='payment-cash') Оплата в магазине
      div(data-mrc-sh-body='payment-cash'): p Оплата осуществляется наличными в нашем магазине по адресу: Санкт-Петербург, наб. Обводного канала 108А.
  h2.product-payment-delivery__header.product-payment-delivery__header--delivery Доставка заказа
  p Мы предлагаем следующие виды доставки товаров из интернет-магазина:
  ul.list-marked
    li
      p: a(href='#' data-mrc-sh-title='delivery-courier') Доставка курьером
      div(data-mrc-sh-body='delivery-courier')
        p Доставка осуществляется службой курьерской доставки по принципу «от двери до двери».
        p Доставку выполняет компания «Курьер экспресс сервис».
        p
          | Вы можете рассчитать стоимость доставки на сайте 
          a(href='http://www.cse.ru/' target='_blank')  «Курьер экспресс сервис»
          |  в разделе 
          a(href='http://www.cse.ru/sitecontent/city-mosrus/lang-rus/content/131/' target='_blank') Тарифный калькулятор
          | .
    li
      p: a(href='#' data-mrc-sh-title='delivery-postal') Доставка Почтой России
      div(data-mrc-sh-body='delivery-postal')
        p Мы осуществляем доставку Почтой России 1 классом при 100% предоплате. Рассчитать стоимость доставки вы можете на сайте 
          a(href='http://russianpostcalc.ru/' target='_blank') russianpostcalc.ru
        p
          strong Важно!
          |  Реальная стоимость пересылки рассчитывается на почте после взвешивания посылки и может незначительно отличаться от стоимости, рассчитанной при оформлении заказа.
    li
      p: a(href='#' data-mrc-sh-title='delivery-self') Самовывоз
      div(data-mrc-sh-body='delivery-self')
        p Самовывоз осуществляется из нашего магазина по адресу Санкт-Петербург, наб. Обводного канала, 108А.
        p
          strong Режим работы
          br
          | с 10 до 21, без выходных
        p После отправки заявки через сайт вам придет письмо с номером заказа. В магазине, чтобы забрать заказ, вам необходимо будет назвать номер заказа.
  p Условия:
  ul.list-marked.list-marked--w-prev-par
    li Доставка товаров интернет-магазином zagustitelvolos.com осуществляется за счет и по поручению клиента.
    li Доставка производится во все регионы России.
    li Обработка и подтверждение заказов по телефону осуществляется оператором нашего магазина ежедневно с 10 до 18 часов.
    li После оформления заказа с Вами по указанному номеру телефона свяжется менеджер для подтверждения заказа. Вы сможете задать ему все интересующие Вас вопросы.
  h2.product-payment-delivery__header.product-payment-delivery__header--show-room: a(href='/o-nas/shou-rum/') Шоу-рум в Санкт-Петербурге
