.product-payment-delivery
  &__header
    position relative
    padding-left 3rem
    color var(--link-color)
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 2.25rem
      height 2.25rem
      background-color var(--link-color)
      mask-image var(--mask-image)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
    &--show-room
      --mask-image url(../images/svg-sprites/product-payment-delivery.svg#icon-show-room)
    &--delivery
      --mask-image url(../images/svg-sprites/product-payment-delivery.svg#icon-delivery)
    &--payment
      --mask-image url(../images/svg-sprites/product-payment-delivery.svg#icon-payment)
