mixin productImages(settings = {list: true})

  .product-images
    .product-images__main: a(href='/images/catalog/hairfor2.jpg' data-fancybox='product-images')
      picture
        source(srcset='/images/catalog/hairfor2.webp' type='image/webp')
        img(src='/images/catalog/hairfor2.jpg' alt='' title='')
    if settings.list
      .product-images__list
        - i = 0
        while i < 5
          a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item
            picture
              source(srcset='https://dummyimage.com/160x240.webp' type='image/webp')
              img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
          - i+=1
