.product-images
  img
    display block
  &__list
    display grid
    grid-row-gap basePadding // @stylint ignore
    grid-column-gap basePadding // @stylint ignore
    grid-template-columns repeat(4, 1fr)
    margin-top basePadding
  &__main
  &__item
    box-shadow 0 0 1px 1px var(--border-color)
