include /blocks/form-input/form-input

.modal-quick-buy
  .modal-quick-buy__title Заказать в 1 клик
  form.modal-quick-buy__form
    +formInput({type: 'text', name: 'name', label: 'Имя', required: true})#quick-buy-name
    +formInput({type: 'tel', name: 'phone', label: 'Телефон', placeholder: '+7 (___) ___-__-__', required: true})#quick-buy-phone
    +formInput({type: 'checkbox', name: 'agreement',id:'agreement', checked:true, required: true, label:['Нажимая на кнопку, я даю свое ', {tag: 'a', attr:{href:''}, content:'согласие на обработку своих персональных данных'}]}).modal-quick-buy__agreement
    button(type='submit').btn Заказать
