include /blocks/modal/modal
include /blocks/form-input/form-input

+pageSection({'tag':'section', 'color': 'light', 'padding-y': true}).banner-cerificate.container: .content
  +grid({ padding: 'y' })
    +cell({xs: 12}): h2.home-subheader Приглашаем в салон
    +cell({l: 5, m: 6, xs: 12}).banner-cerificate__info
      p В&nbsp;нашем салоне вы&nbsp;можете бесплатно опробовать загуститель для волос и&nbsp;убедиться в&nbsp;его эффективности! Мы&nbsp;наглядно все продемонстрируем и&nbsp;предоставим вам профессиональную консультацию, а&nbsp;вы&nbsp;сможете оценить результат на&nbsp;себе.
      p Наши специалисты помогут вам:
      ul.list-marked.list-marked--w-prev-par.banner-cerificate__list
        li подобрать наиболее подходящий оттенок;
        li покажут, как наносить загустители и&nbsp;использовать аксессуары.
      a(href='#banner-cerificate__modal' data-modal).banner-cerificate__button.btn.btn--secondary Записаться в салон
    +cell({l: 7, m: 6, xs: 12}): +youtubeResponsive('sk7u-KvL_Cc')
  +modal#banner-cerificate__modal
    form.form
      +formInput({ type: 'text', name: 'name', label: 'Имя' })
      +formInput({ type: 'tel', name: 'tel', label: 'Телефон' })
      button(type='submit').btn Записаться
