.banner-cooperation
  &__header
    font-size 1.5em
    & + p
      margin-top .5em
  &__form
    display flex
    flex-direction column
    .btn
    .form-input + .form-input
      margin-top basePadding
      
