include /blocks/form-input/form-input

+blockMarked({'color': 'light'}).banner-cooperation
  +grid({'padding-y': true, 'align': 'center'})
    +cell({m:8,s:6,xs:12})
      .banner-cooperation__header Получить актуальный прайс на почту
      p Отправим цены со скидкой на всю продукцию Toppik
    +cell({m:4,s:6,xs:12})
      form.banner-cooperation__form
        +formInput({type:'email', required: true, placeholder: 'Ваша почта'})
        button(type='submit').btn.btn--secondary Получить прайс
