include /blocks/page-section/page-section

+pageSection.banner-fidentia
  .container
    .content
      +grid({ align: 'center' })
        +cell({ l: 5, m: 6, xs: 12 }).banner-fidentia__info
          picture
            source(srcset='/images/fidentia.webp 1x, /images/fidentia@2x.webp 2x' type='image/webp')
            source(srcset='/images/fidentia.png 1x, /images/fidentia@2x.png 2x')
            img(src='/images/fidentia.png' alt='логотип Fidentia' width=88 height=80).banner-fidentia__logo
          .banner-fidentia__promo
            .banner-fidentia__duration с 1 по 31 мая
            .banner-fidentia__discount Скидка 20%
            .banner-fidentia__brands на все товары бренда Fidentia #[br] по промокоду #[strong May]
          a(href='https://zagustitelvolos.com/catalog/kamuflyazh/filter/brand-is-fidentia/apply/').banner-fidentia__button.btn.btn--secondary Выбрать загуститель
        +cell({ l: 7, m: 6, xs: 12 }).banner-fidentia__image
          picture
            source(srcset='/images/banner-fidentia.webp 1x, /images/banner-fidentia@2x.webp 2x' type='image/webp')
            source(srcset='/images/banner-fidentia.png 1x, /images/banner-fidentia@2x.png 2x')
            img(src='/images/banner-fidentia.png' alt='Загустители волос Fidentia' width=629 height=536)

//- +pageSection.banner-fidentia
//-   .container
//-     .content
//-       +grid({ align: 'center' })
//-         +cell({ l: 5, m: 6, xs: 12 }).banner-fidentia__info
//-           picture
//-             source(srcset='/images/fidentia.webp 1x, /images/fidentia@2x.webp 2x' type='image/webp')
//-             source(srcset='/images/fidentia.png 1x, /images/fidentia@2x.png 2x')
//-             img(src='/images/fidentia.png' alt='логотип Fidentia' width=88 height=80).banner-fidentia__logo
//-           .banner-fidentia__title Мгновенная густота волос без раздражения на коже!
//-           a(href='/').banner-fidentia__button.btn.btn--secondary Заказать новинку
//-         +cell({ l: 7, m: 6, xs: 12 }).banner-fidentia__image
//-           picture
//-             source(srcset='/images/banner-fidentia.webp 1x, /images/banner-fidentia@2x.webp 2x' type='image/webp')
//-             source(srcset='/images/banner-fidentia.png 1x, /images/banner-fidentia@2x.png 2x')
//-             img(src='/images/banner-fidentia.png' alt='Загустители волос Fidentia' width=629 height=536)
