.banner-fidentia
  &__info
    display flex
    flex-direction column
    align-items flex-start
    gap 1.5rem
    padding-y 2.5rem
    @media (max-width point-m - 1)
      align-items center
  &__logo
    width 5.5rem
  &__title
    font-size 1.5rem
    letter-spacing .0625rem
    line-height 1.5
    text-transform uppercase
    @media (max-width point-m - 1)
      font-size 1.25rem
      text-align center
  &__image
    position relative
    @media (max-width point-m - 1)
      height 50vw
    picture
      display contents
  &__promo
    display flex
    flex-direction column
    row-gap 0.625rem
    @media (max-width point-l - 1)
      row-gap 0.5rem
  &__discount
    font-size 2.875rem
    line-height 0.8
    font-weight 500
    text-transform uppercase
    @media (max-width point-l - 1)
      font-size 2.25rem
  &__brands
    font-size 1.25rem
    @media (max-width point-l - 1)
      font-size 1rem
