.banner-fidentia
  background-color #F6F3EF
  background-image url(../images/banner-fidentia.webp)
  overflow hidden
  &__info
    @media (max-width point-m - 1)
      z-index 2
  &__image
    img
      position absolute
      top 50%
      left 0
      height auto
      translate 0 -50%
      @media (max-width point-m - 1)
        left 50%
        max-width calc(100% - 2.5rem)
        translate -50% -50%
  &__promo
    @media (max-width point-m - 1)
      align-items center
  &__duration
    color #816B60
  &__discount
    color #D12525
    letter-spacing 0.05em
  &__brands
    color #222222
