.header-cart
  --color-header-cart var(--link-secondary-color-hover)
  color var(--color-header-cart)
  &::before
    content ''
    display block
    width 2rem
    height 2rem
    margin-right (basePadding/2)
    background-color var(--color-header-cart)
    mask-image url(../images/svg-sprites/common.svg#cart)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    transition background-color .2s
  &:hover
    --color-header-cart var(--link-secondary-color)
    &::before
      transition-duration .1s
