.block-marked
  parMargin()
  padding-x (basePadding*2)
  padding-y basePadding
  background-color var(--marked-color-light)
  &--color-light
    background-color var(--marked-color-light)
  &--color-medium
    background-color var(--marked-color-medium)
  &--color-dark
    background-color var(--marked-color)
  &--padding-y-big
    padding-y (basePadding*2)
  &--in-grid
    margin-x -(basePadding)
    padding-x (basePadding*3)
