.article-comments
  &__item
    display flex
    line-height 1.625
    & + &
      margin-top 1rem      
    &--subcomment
      padding-left 3rem
      & .article-comments__answers
        display none
  &__img
    margin-right 0.5rem
    width 44px
    height 44px
  &__inner
    display flex
    flex-direction column
    row-gap 0.5rem
  &__container
    display flex
    flex-wrap wrap
    column-gap 1rem
  &__name
    font-weight 700
  &__date
    color var(--link-color)
