.article-comments
  .article-comments__item
    +img({
    name: 'avatar',
    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { values: [ 1,2 ] }
    ]
    })(alt= 'Аватар пользователя' title= 'Аватар пользователя' width=44 height=44).article-comments__img
    .article-comments__inner 
      .article-comments__container
        .article-comments__name Владимир Салащенко  
        .article-comments__date 11 месяцев назад
      .article-comments__text Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. 
      .article-comments__container
        a(href='/').link-secondary.article-comments__answers 2 ответа
        a(href='/').link-secondary Ответить

  .article-comments__item
    +img({
    name: 'avatar',
    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { values: [ 1,2 ] }
    ]
    })(alt= 'Аватар пользователя' title= 'Аватар пользователя' width=44 height=44).article-comments__img
    .article-comments__inner 
      .article-comments__container
        .article-comments__name Владимир Салащенко  
        .article-comments__date 11 месяцев назад
      .article-comments__text Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. 
      .article-comments__container
        a(href='/').link-secondary.article-comments__answers 2 ответа
        a(href='/').link-secondary Ответить

  .article-comments__item.article-comments__item--subcomment
    +img({
    name: 'avatar',
    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { values: [ 1,2 ] }
    ]
    })(alt= 'Аватар пользователя' title= 'Аватар пользователя' width=44 height=44).article-comments__img
    .article-comments__inner 
      .article-comments__container
        .article-comments__name Владимир Салащенко  
        .article-comments__date 11 месяцев назад
      .article-comments__text Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. 
      .article-comments__container
        a(href='/').link-secondary.article-comments__answers 2 ответа
        a(href='/').link-secondary Ответить
  .article-comments__item.article-comments__item--subcomment
    +img({
    name: 'avatar',
    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
    formats: [
      { ext: 'png', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [
      { values: [ 1,2 ] }
    ]
    })(alt= 'Аватар пользователя' title= 'Аватар пользователя' width=44 height=44).article-comments__img
    .article-comments__inner 
      .article-comments__container
        .article-comments__name Владимир Салащенко  
        .article-comments__date 11 месяцев назад
      .article-comments__text Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. Прекрасная статья. 
      .article-comments__container
        a(href='/').link-secondary.article-comments__answers 2 ответа
        a(href='/').link-secondary Ответить 
  
  
