.header-sites
  width 100%
  padding-top 5px
  .header > &
    & ^[-1]__title
      display none
    & .content
      max-width 74rem
  .header-navigation > &
    padding-y basePadding
    border-top 5px solid #d1c4a5
    @media screen and (min-width point-m)
      display none
    & ^[-1]__title
      padding-bottom basePadding
    & ^[-1]__list
      flex-direction column
    & ^[-1]__item
      flex 0 0 auto
  &__list
    display flex
    margin-left -5px
    @media(max-width point-m - 1)
      overflow-x scroll
  &__item
    display flex
    flex-grow 1
    flex-basis 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    @media(max-width point-m - 1)
      flex-shrink 0
      flex-basis auto
      min-width 152px
    a
    .a-repl
      position relative
      display flex
      align-items center
      justify-content space-between
      width 100%
      margin-bottom 5px
      padding 4px 10px
      text-decoration none

      span
        flex 0 1 auto
