.header-sites
  background-color #efefef
  .header-navigation > &
    & ^[-1]__item
      &--active
        background-color transparent

        a, span, .a-repl
          font-weight 500
          background-color #fff
      &:hover
        background-color transparent

        a
        .a-repl
          background-color #fff
  &__item
    a
    .a-repl
      color #5d5d5d
      background-color #fcfcfc
      &::after
        content ''
        flex-shrink 0
        width var(--item-icon-width)
        height var(--item-icon-height)
        background-image var(--item-icon-image)
        background-repeat no-repeat
        background-position center
        background-size cover
    &--hairdesign
      --item-icon-width 52px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-hairdesign)
    &--salonvolos
      --item-icon-width 23px
      --item-icon-height 30px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-salon)
    &--vsepariki
      --item-icon-width 52px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-vsepariki)
    &--triholog
      --item-icon-width 14px
      --item-icon-height 35px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-triholog)
    &--zagustitel
      --item-icon-width 42px
      --item-icon-height 37px
      --item-icon-image url(../images/svg-sprites/common.svg#top-menu-zagustitel)
    &--active
      background-color #fff

      a, span, .a-repl
        font-weight 500
        background-color transparent
    &:hover
      background-color #fff

      a, .a-repl
        background-color transparent
