.banner-sale
  background-image url(../images/banner-sale-bg.webp)
  background-repeat no-repeat
  background-position center
  background-size cover
  &__subtitle
    @media (min-width point-s)
      color #ffffff
      background-color rgba(0, 0, 0, .5)
      border-radius .25rem
    
