.banner-sale
  &__info
    display flex
    flex-direction column
    gap 1.5rem
    padding-top 2rem
    padding-bottom 3rem
  &__logo
    width 10rem
  &__title
    font-size 1.75rem
    letter-spacing .0625rem
    line-height 1.5
    text-transform uppercase
  &__subtitle
    @media (min-width point-s)
      align-self flex-start
      padding .125rem 1rem
  &__image
    align-self flex-end
    picture
      display contents
