include /blocks/page-section/page-section

+pageSection.banner-sale
  .container
    .content
      +grid({align: 'center'})
        +cell({ l: 7, m: 6, xs: 12 }).banner-sale__info
          img(src='/images/toppik.svg' alt='' width=160 height=93).banner-sale__logo
          .banner-sale__title Распродажа остатков Toppik<br>американского производства
          p.banner-sale__subtitle Успей заказать, количество товара ограничено
        +cell({ l: 5, m: 6, xs: 12 }).banner-sale__image.hidden-s.hidden-xs
          picture
            source(srcset='/images/banner-sale.webp 1x, /images/banner-sale@2x.webp 2x' type='image/webp')
            source(srcset='/images/banner-sale.png 1x, /images/banner-sale@2x.png 2x')
            img(src='/images/banner-sale.png' alt='Загустители волос Toppik американского производства' width=423 height=275)
