.page-subsection
  & + &
    margin-top (basePadding*2.375)
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top basePadding
  &--centered
    display flex
    flex-direction column
    align-items center
  &--article
    h1 + &
    & + &
      margin-top 2.5rem
