mixin productPrice(settings={})
  div(class=classes('product-price', settings))&attributes(attributes)
    if !settings['not-available']
      .product-price__value 13&nbsp;500&nbsp;₽
    .product-price__buy: a(href='#').btn Купить в 1 клик
    .product-price__info
      .rating-sum
        - for (i=0; i<5; i++)
          .rating-sum__star
      .product-price__number Артикул: 837
