.product-price
  display flex
  flex-wrap wrap
  align-items center
  row-gap basePadding
  &__value
    flex-basis 9rem
    margin-right (basePadding*5)
    font-size (font-xxxl*1.5)
    font-weight 500
  &__info
    display flex
    flex-direction column
    align-items flex-end
    gap 0.5rem
    margin-left auto
  &__number
    margin-left auto
    font-size font-s
    color var(--font-color-secondary)
