.sort
  @media(max-width point-m - 1)
    margin-top 0!important
  &__inner
    display flex
    align-items center
    flex-wrap wrap
    gap 0.8rem
    @media(max-width point-m - 1)
      position absolute
      flex-direction column
      align-items stretch
      gap 0.5rem
      width 100%
      left 0
      padding 1rem 0 2rem
      opacity var(--sort-inner-opacity, 0)
      pointer-events var(--sort-inner-pointer-events, none)
      background-color #fff
      transition-duration 0.2s
      z-index 10
      &--active
        transition opacity 0.1s
        opacity var(--sort-inner-opacity, 1)
        pointer-events var(--sort-inner-pointer-events, auto)
        box-shadow 0px 15px 10px -15px rgba(0,0,0,0.2)
  &__btn
    font-weight 400
    @media(min-width point-m)
      padding-top (basePadding/1.5)
      padding-bottom (basePadding/1.5)
      font-size 0.9em
    &--active
      font-weight 700
