.mobile-filter
  @media(max-width point-m - 1)
    position relative
    display flex
    column-gap 0.5rem
  &__block
    @media(max-width point-m - 1)
      width 50%
    --filter-inner-translate unquote('calc(-100% - ' + basePadding + ')')
    --sort-inner-opacity 0
    --sort-inner-pointer-events none
    &--active
      --filter-inner-translate 0
      --sort-inner-opacity 1
      --sort-inner-pointer-events auto
  &__button
    width 100%
    &--active
      color #fff
      background-color var(--link-secondary-color-hover)
