mixin menuItem(item, className)
  -
    i = i || 0
    if (typeof className === 'string') {
      className = className.split(' ')
    }
    const settings = item.settings || {}
    let itemClass = className.map(classItem => classes(`${classItem}__item`, settings).split(' ')).flat(1)

    if (item.active) itemClass.push(...className.map(classItem => `${classItem}__item--active`))
    if (item.sublist) itemClass.push(...className.map(classItem => `${classItem}__item--parent`))
    if (i) itemClass.push(...className.map(classItem => `${classItem}__item--sub ${classItem}__item--sub-${i}`))
    itemClass = [...new Set(itemClass)]
  li(class= itemClass)
    if item.href
      a(href= item.href) !{item.name}
    else
      span !{item.name}
    if item.sublist
      label(class= `${className}__sublist-switch`)
      - i += 1
      +menuList(item.sublist, className)
      - i -= 1

mixin menuList(list, className)
  -
    if (Array.isArray(list)) items = list
    if (typeof className === 'string') className = className.split(' ')
    const listClass = className.map(item => {
      if (i > 0) return `${item}__list ${item}__list--sub ${item}__list--sub-${i}`
      else return `${item}__list`
    }).join(' ')
  ul(class= listClass)
    each item in list
      +menuItem(item, className)

mixin mainMenu(list, className)
  -
    if (typeof attributes.class === 'string') attributes.class = attributes.class.split(' ')
    className = className || attributes.class.map((item) => item.split(' ')).flat(1)
    attributes.class = ''
  nav(class= className)&attributes(attributes)
    -
      if (Array.isArray(className)) {
        className = className.filter((item) => item.indexOf('__') === -1)
      }
    +menuList(list, className)



//- mixin mainMenu(list)
//-   - attributes.class = attributes.class ? attributes.class : 'main-menu'
//-   nav(class != attributes.class id != attributes.id)
//-     ul(class != attributes.class ? `${attributes.class}__list` : '')
//-       each item in list
//-         -
//-           let itemClassList = []
//-           attributes.class != undefined ? itemClassList.push(`${attributes.class}__list-item`) : ''
//-           item.active ? itemClassList.push(`${attributes.class}__list-item--active`) : ''
//-           item.sublist ? itemClassList.push(`${attributes.class}__list-item--parent`) : ''
//-         li(class != itemClassList)
//-           a(href=`${item.href}`) !{item.name}
//-           if item.sublist
//-             label(class != `${attributes.class}__sublist-switch`)
//-             ul(class != `${attributes.class}__sublist`)
//-               each subitem in item.sublist
//-                 -
//-                   let subItemClassList = []
//-                   attributes.class != undefined ? subItemClassList.push(`${attributes.class}__sublist-item`) : ''
//-                   subitem.active ? subItemClassList.push(`${attributes.class}__sublist-item--active`) : ''
//-                 li(class != subItemClassList)
//-                   a(href=`${subitem.href}`) !{subitem.name}
//-                     if item.subsublist
//-                       each subsublist in item.subsublist
//-                         li
//-                           a(href=`${subsublist.subsublist.href}`) !{subsublist.subsublist.name}
