// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-xxl = 1400px
point-hd = 1600px

containerWidth = 68rem

// font sizes

font-xxs = 0.625em
font-xs = 0.75em
font-s = 0.875em
font-m = 1em
font-l = 1.125em
font-xl = 1.25em
font-xxl = 1.375em
font-xxxl = 1.5em
// line-heights

line-xxs = 0.9375em
line-xs = 1.125em
line-s = 1.3125em
line-m = 1.625em
line-l = 1.6875em
line-xl = 1.875em
line-xxl = 2.0625em
line-xxxl = 2.25em

// base-padding
basePadding = 0.9375rem

// functions
padding-x(n)
  padding-left n
  padding-right n
padding-y(n)
  padding-top n
  padding-bottom n
margin-x(n)
  margin-left n
  margin-right n
margin-y(n)
  margin-top n
  margin-bottom n

// blocks

parLike = 'p', '.par', '.list-marked','.list-numbered','.table','.table-wrap','.figure', '.tabs','.footer-menu', '.footer-phone', '.list-advantages', '.grid--par-like', '.palette', '.block-marked', '.link-icons', '.form', '.iframe-responsive', '.aside-menu', '.table-wrap'
parMargin(mar = font-s)
  for item in parLike
    {item} + &
      margin-top mar
  h1 + &
    margin-top mar
  h2 + &
    margin-top .5625em
  h3 + &
    margin-top .3125em
  h4 + &
    margin-top .125em
  h5 + &
    margin-top .125em
