html
  --background-color #fff

  --font-color #222

  --font-color-secondary #636363

  --link-color #816b60
  --link-color-hover #4f423b

  --link-secondary-color #4e4e4e
  --link-secondary-color-hover #707070

  --message-text-warning-color #ff8c00
  --message-text-success-color #006400

  --nav-background #222

  --border-color #e7e7e7

  --star-color #ffd700
  
  --marked-color-light #f4f4f4
  --marked-color-medium #e3e3e3
  --marked-color #5c5c5c
  --marked-content #fdfdfd

  --icon-skype url(../images/svg-sprites/link-icons.svg#icon-skype)
  --icon-mail url(../images/svg-sprites/link-icons.svg#icon-mail)
  --icon-vk url(../images/svg-sprites/link-icons.svg#icon-vk)
  --icon-facebook url(../images/svg-sprites/link-icons.svg#icon-facebook)
  --icon-ok url(../images/svg-sprites/link-icons.svg#icon-ok)
  --icon-viber url(../images/svg-sprites/link-icons.svg#icon-viber)
  --icon-whatsapp url(../images/svg-sprites/link-icons.svg#icon-whatsapp)
  --icon-instagram url(../images/svg-sprites/link-icons.svg#icon-instagram)
  --icon-search url(../images/svg-sprites/common.svg#zoom)

  --icon-shopping url(../images/svg-sprites/common.svg#banner-shopping-discount)
  --icon-arrow url(../images/svg-sprites/common.svg#arrow)

  --icon-clock url(../images/svg-sprites/common.svg#clock)
  --icon-eye url(../images/svg-sprites/common.svg#eye)
  --icon-like url(../images/svg-sprites/common.svg#like)
