.form-input
  &--checkbox
    display flex
    align-items baseline
    & ^[-1]__field
      order 0
      width auto
    & ^[-1]__label
      order 1
      margin-left (basePadding/3)
  &--file
    & ^[-1]__field
      padding 0
      border none
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &--select
    & ^[-1]__label
      font-size .875rem
    & ^[-1]__field
      display unset
      padding unset
      line-height unset
  &--rating
    display flex
    column-gap basePadding
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
    display block
    width 100%
    padding (basePadding/3*2) (basePadding/3*4)
    font-family 'Fira Sans', sans-serif
    line-height 1.5
    border 1px solid #e7e7e8
    textarea&
      height calc(9.75rem + 2px)
      resize none
  &__label
    display inline-block
    margin-bottom (basePadding/3)
  &__checkbox
    flex-shrink 0
    margin-right (basePadding/2)
