.article
  position relative
  &--padding-top
    margin-top 2.5rem
  &__block
    margin-top 1.5rem
  &__socials
    display flex
    flex-wrap wrap
    align-items center
    column-gap 1.5rem
    row-gap 1.5rem
  &__socials-list
    display flex
  &__socials-likes
    display flex
    column-gap 1rem
    padding 0.5rem 1.5rem 0.9rem
    border 1px solid #B49D84
    border-radius 30px
  &__socials-likes-inner
    display flex
    align-items flex-end
  &__socials-button
    width 1.875rem
    height 1.875rem
    background-color transparent
    border none
    background-image var(--icon-like)
    background-repeat no-repeat
    opacity 0.5
    transition opacity .4s
    &--dislike
      transform  scale(1, -1) translateY(-30%)
    &:disabled
    &:hover
      opacity 1
      transition-duration .1s
  &__socials-count
    margin-left 0.5rem
    color var(--link-color)
  // Стили для блоков сбоку
  &__aside-container
    position relative
  &__aside-img
    margin-bottom 1rem
  &__aside
    position absolute
    top 0
    right -35%
    width 31%
    @media(max-width point-m - 1)
      position relative
      margin 2.5rem 0
      right auto
      width 50%
    @media(max-width point-s - 1)
      width 100%
