mixin productBuy(settings = {})
  div(class=classes('product-buy', settings))&attributes(attributes)
    if !settings['not-available']
      .product-buy__availability
        p: strong В наличии!
        .product-buy__available-icon отправим сегодня
    .product-buy__count
      p: strong Количество
      .product-buy__value
        a(href='#' data-value-change='dec').product-buy__change.product-buy__change--dec
        input(type='number' min=1 value=1).product-buy__field
        a(href='#' data-value-change='inc').product-buy__change.product-buy__change--inc
    if !settings['not-available']
      .product-buy__button: a(href='#').btn Купить
