.product-buy
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
  margin -(basePadding)

  @supports (display grid)
    display grid
    align-items end
    grid-column-gap (basePadding*4)
    grid-row-gap (basePadding*2)
    grid-template-areas 'availability count button'
    grid-template-columns 1fr min-content 14.5rem
    margin 0
    .product-item-detail-info-container
      display contents
    @media screen and (max-width point-m - 1)
      grid-template-areas 'availability count' 'button button'
      grid-template-columns min-content auto
    &--not-available
      grid-template-areas 'count'
      grid-template-columns auto
  &--material
    justify-content flex-start
    & ^[-1]__availability
      width 100%

      strong
        color var(--message-text-success-color)

  &__availability
    margin basePadding

    @supports (display grid)
      grid-area availability
      margin 0

    strong
      color var(--link-color-hover)
  &__available-icon
    position relative
    display flex
    align-items center
    min-height 2.125rem
    margin-top (font-m/2)
    padding-left 5rem
    font-style italic
    color var(--link-secondary-color)
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 4rem
      height 2.125rem
      background-color #7c776c
      mask-image url(../images/svg-sprites/rest.svg#truck)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
  &__count
    display flex
    flex-direction column
    align-items flex-start
    margin basePadding

    @supports (display grid)
      grid-area count
      margin 0

  &__value
    display flex
    justify-content center
    align-items center
    margin-top (basePadding/3*2)
  &__field
    display block
    line-height 1.5
    border 1px solid #e7e7e8

    width 4rem
    padding (basePadding/3)
    text-align center
    -moz-appearance textfield // @stylint ignore

    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      margin 0
      -webkit-appearance none // @stylint ignore

  a&__change
    position relative
    display block
    width 1.5rem
    height 1.5rem
    border 2px solid var(--border-color)
    border-bottom 2px solid var(--border-color)
    opacity .5
    transition opacity .4s
    &:hover
    &:focus
      opacity .75
      transition-duration .1s
    &:active
      opacity 1
      transition-duration .1s
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      width var(--change-button-size)
      height var(--change-button-size)
      background-color var(--font-color-secondary)
      mask-image var(--change-button-mask-image)
      mask-repeat no-repeat
      mask-position center
      mask-size var(--change-button-mask-size)
      transform translate(-50%, -50%)
    &--dec
      --change-button-size .75rem
      --change-button-mask-image url(../images/svg-sprites/rest.svg#minus)
      --change-button-mask-size 100%
      margin-right .25rem
    &--inc
      --change-button-size .75rem
      --change-button-mask-image url(../images/svg-sprites/rest.svg#plus)
      --change-button-mask-size cover
      margin-left .25rem
  &__button
    margin basePadding

    @supports (display grid)
      grid-area button
      margin 0

    .btn
      width 100%
      font-size font-xxl
    &--inactive
      .btn
        opacity .25
        filter grayscale(1)
        &:hover
          background-color var(--link-color)
          cursor default
