@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css'

html
  font-size 16px
  font-family 'Fira Sans', sans-serif
  scroll-behavior smooth
  &.no-scroll
    overflow hidden
p
  font-size font-m
  line-height line-m
  parMargin()
  & + .par
    margin-top 0.875em
    
.par + .par
  margin-top 0.875em

h1
  font-size 2.125em
  line-height 1.29411765em
  position relative
  font-weight 500
  &:first-child:not([class])
    margin-top 1rem
h2
  font-size 1.625em
  line-height 1.385em
  position relative
  font-weight 500
  h1 + &
    margin-top .4375rem
  for item in parLike
    {item} + &
      margin-top 1.385em
  & + .par
    margin-top .5625em
h3
  font-size  1.25em
  position relative
  line-height 1.5em
  font-weight 500
  for item in parLike
    {item} + &
      margin-top 1.25em
  h2 + &
    margin-top .1875em
  & + .par
    margin-top .3125em
h4
  font-size  1.125em
  line-height 1.492em
  font-weight 500
  position relative
  for item in parLike
    {item} + &
      margin-top 1em
  h3 + &
    margin-top .25em
  & + .par
    margin-top .125em
h5
.h5
  font-size 1em
  line-height 1.375em
  font-weight 500
  position relative
  for item in parLike
    {item} + &
      margin-top 1em
  h4 + &
    margin-top .25em
  & + .par
    margin-top .125em
strong
b
  font-weight bold
img
  max-width 100%
.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  text-align center
  text-decoration none

.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width containerWidth
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
.no-break
  white-space nowrap
.text-align
  &--center
    text-align center
@import "../blocks/grid"
@import "../blocks/list-marked"
@import "../blocks/list-numbered"
@import "../blocks/page-section"
@import "../blocks/page-subsection"
@import "../blocks/form"
@import "../blocks/form-input"
@import "../blocks/header/header.core"
@import "../blocks/header-cart/header-cart.core"
@import "../blocks/header-mobile-switcher/header-mobile-switcher.core"
@import "../blocks/header-navigation/header-navigation.core"
@import "../blocks/header-navigation/header-navigation.mobile.core"
@import "../blocks/header-register"
@import "../blocks/header-sites/header-sites.core"
@import "../blocks/header-top/header-top.core"
@import "../blocks/logo/logo.core"
@import "../blocks/text-marked"
@import '../blocks/visually-hidden'
@import '../blocks/banner-sale/banner-sale.core.styl'
@import '../blocks/banner-shopping/banner-shopping.core.styl'
@import '../blocks/banner-fidentia/banner-fidentia.core'
@import '../blocks/banner-friday/banner-friday.core'
@import '../blocks/banner-new-year/banner-new-year.core'
@import "../blocks/banner-gifts/banner-gifts.core"
@import '../blocks/banner-sevich/banner-sevich.core'
@import '../blocks/banner-hairfor/banner-hairfor.core'
@import "../blocks/banner-mini/banner-mini.core"
@import "../blocks/banner-may/banner-may.core"
@import '../blocks/banner-schedule/banner-schedule.core'
