@import 'includes/mixins'
@import 'includes/variables'

html
  color var(--font-color)

body
  background-color var(--background-color)

mark
  background-color transparent
  color #ffb400

sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
a
  color var(--link-color)
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color var(--link-color-hover)
    transition none
  &.link-secondary
    color var(--link-secondary-color)
    &:hover
    &:focus
    &:active
      color var(--link-secondary-color-hover)
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none

.btn
  text-decoration none
  color #fff
  background-color var(--link-secondary-color)
  transition background-color .2s
  border none
  font-size font-m
  cursor pointer
  &:hover
  &:focus
  &:active
    color #fff
    background-color var(--link-secondary-color-hover)
    transition none
  a&
    border-bottom none
    text-decoration none
  &--wide
    width 100%
  &--secondary
    background-color var(--link-color)
    &:hover
    &:focus
    &:active
      background-color var(--link-color-hover)

@import "../blocks/link-icons"
@import "../blocks/breadcrumbs"
@import "../blocks/iframe-responsive"
@import "../blocks/block-marked"
@import "../blocks/footer"
@import "../blocks/footer-menu"
@import "../blocks/footer-phone"
@import "../blocks/footer-socials"
@import "../blocks/modal"
@import "../blocks/modal-reminder"
@import "../blocks/modal-city"
@import "../blocks/header/header.rest"
@import "../blocks/header-mobile-switcher/header-mobile-switcher.rest"
@import "../blocks/header-cart/header-cart.rest"
@import "../blocks/header-navigation/header-navigation.rest"
@import "../blocks/header-navigation/header-navigation.mobile.rest"
@import "../blocks/header-search"
@import "../blocks/header-sites/header-sites.rest"
@import "../blocks/header-top/header-top.rest"
@import "../blocks/logo/logo.rest"
@import "../blocks/banner-gifts/banner-gifts.rest"
@import "../blocks/banner-mini/banner-mini.rest"
@import '../blocks/banner-schedule/banner-schedule.rest'
