.layout-columns
  margin-top 1.25rem - (basePadding)
  &__aside
    @media screen and (min-width point-s)
      order 0
  &__main
    & .breadcrumbs:first-child
      padding-top 0
    @media screen and (min-width point-s)
      order 1
