extends /blocks/layout/layout

block content
  .container
    .content
      +grid({'padding-y': true}).layout-columns
        +cell({m:9, s:8, xs:12}).layout-columns__main
          block main
        +cell({m:3, s:4, xs:12}).layout-columns__aside
          block aside
block end
