.form-register
  margin-y 1.5rem
  &__field
    margin-bottom basePadding
    &.form-input
      &--checkbox
        display flex
        & .form-input__label
          order 1
          width 100%
        & .form-input__field
          order 0
          width 1rem
          margin-right basePadding
  &__required-mark
  /.required-mark // @stylint ignore
    color var(--message-text-warning-color)
