include /blocks/form-input/form-input

mixin formRegister(form)
  form.form-register
    each item in form.fields
      if typeof item === 'string'
        .form-register__field !{item}
      else
        if item.required && !item.noReqMark
          - item.label = [...item.label, ' ', {tag: 'span', content: '*', className: 'form-register__required-mark'}]
        +formInput(item).form-register__field
    if form.submit
      button(type="submit").btn.form-register__submit !{form.submit}
    else if (form.buttons)
      .form-register__buttons
        each item in form.buttons
          if item.type === undefined
            - item.type = 'submit'
          button(type != item.type name != item.name).btn.form-register__submit !{item.value}
