.consultation-categories
  &__title
    font-size 1.625em
    line-height 1.385em
    position relative
    font-weight 500
  &__list
    margin-top basePadding
  &__item
    display flex
    justify-content space-between
    margin-x -(basePadding/3)
    font-size font-s
    & + &
      margin-top (basePadding/3*2)
    &--active
      & ^[-2]__link
      & ^[-2]__count // @stylint ignore
        font-weight 500
        text-decoration none
        color #000
  &__link
  &__count
    padding-x (basePadding/3)
    color #7c776c
  &__count
    min-width 2rem
    text-align right
