.orders-current-item
  parMargin()
  & + &
    margin-top (basePadding*2.375)
  &__header
    display flex
    justify-content space-between
    align-items baseline
    padding (basePadding/2) basePadding
    background #c2f388
    border 1px solid rgba(194, 243, 136, .5)
  &__title
    margin-x basePadding
  &__body
    padding (basePadding) (basePadding*2) 0
    border-right 1px solid #d6d6d6
    border-left 1px solid #d6d6d6
  &__section
    padding-bottom basePadding
    &:last-child
      border-bottom 1px solid #d6d6d6
    & + &
      margin-top basePadding
  &__section-title
    display flex
    align-items center
    padding-y (basePadding/2)
    font-size font-xs
    font-weight bold
    color var(--font-color-secondary)
    &::after
      content ''
      flex-grow 1
      height 1px
      margin-left (basePadding*2)
      background-color rgba(#d6d6d6, .5)
  &__info
    padding-y (basePadding/2)
  &__clarification
    margin-top 1em
    font-size font-s
  &__status
    display inline-block
    color var(--font-color-secondary)
    &--success
      color var(--message-text-success-color)
    &--failure
      color var(--message-text-warning-color)
  &__footer
    display flex
    flex-wrap wrap
    justify-content space-between
    padding (basePadding) basePadding
    border 1px solid #d6d6d6
    border-top none

    a
      margin-x basePadding
  a&__repeat
    margin-left auto
    padding-left 1.5em
    background-image url(../images/svg-sprites/rest.svg#repeat)
    background-repeat no-repeat
    background-position left center
    background-size 1rem
