.header-top
  &__address
    a
      color var(--color-text)
      &:hover
        color var(--link-secondary-color-hover)
  &__link
    a
      color var(--color-text)
      &:hover
        color var(--link-secondary-color-hover)
