include /data/main-menu
include /blocks/link-icon/link-icon

.header-top
  .header-top__item.header-top__item--logo
    .header-top__logo: include ../logo/logo
  .header-top__item.hidden-s.hidden-xs(itemscope itemtype='http://schema.org/LocalBusiness')
    .header-top__schedule
      meta(content='zagustitelvolos.com' itemprop='name')
      meta(content='8 /812/ 401 43 55' itemprop='telephone')
      meta(content='http://zagustitelvolos.com/bitrix/templates/main/img/top_log.png' itemprop='image')
      span( itemprop="openingHours") пн-пт: с
        strong 10:00
        |  до
        strong 21:00
      br
      span( itemprop="openingHours") сб-вс: с
        strong 10:00
        |  до
        strong 19:00
    .header-top__address(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') 
        | Санкт-Петербург, 
        br
        a(href='/kontakty/') наб. Обводного канала, 108А

  .header-top__item.hidden-s.hidden-xs
    .header-top__phone +7 (812) 701-06-04
    ul.header-top__links
      li.header-top__link: +linkIcon('mail')(href='mailto:zakaz@zagustitelvolos.com') zakaz@zagustitelvolos.com
      li.header-top__link
        
  .header-top__item.header-top__item--cart
    p.header-top__city.hidden-xs Ваш город: 
      a(href='/').header-top__city-name Санкт-Петербург
    include ../header-register/header-register
    include ../header-cart/header-cart
    