.header-top
  display flex
  justify-content space-between
  align-items center
  margin-x -(basePadding)
  padding-y basePadding
  &__item
    margin-x basePadding
    &--cart
      display flex
      flex-basis 12.625rem
      flex-direction column
      align-items center
      @media screen and (max-width point-m - 1)
        margin-left auto
    &--logo
      text-align center
    &--mobile-menu
      align-self flex-start
  &__logo
    display flex
    flex-direction column
    align-items center
  &__name
    font-size font-s
    line-height line-s
  &__schedule
    font-size font-s
    line-height line-m

    strong
      font-size font-xl
  &__address
    margin-top font-s
    font-size font-s
    line-height line-s
  &__links
    margin-top font-m
  &__link
    font-size font-s
    line-height line-m
    & + &
      margin-top .25em
  &__phone
    flex-basis 16.875rem
    align-self center
    font-size font-xxxl
    font-weight bold
    white-space nowrap
  &__city
    margin-bottom 0.875em
    font-size 0.875em
    line-height 1.2em
    text-align center
