@require '../header-top/header-top.rest.styl'

.footer
  overflow hidden
  margin-top 3.5rem
  font-size font-s
  color var(--marked-color-medium)
  background-color var(--nav-background)

  a
    text-decoration none
    color var(--marked-color-medium)
    &:hover
      color var(--link-secondary-color-hover)
  strong
    color var(--marked-color-light)
  &__inner
    padding-top (basePadding*2)
  &__links
    margin-top font-m
  &__link
    line-height line-m
    & + &
      margin-top .25em
    a
      color var(--color-text)
      &:hover
        color var(--link-secondary-color-hover)
  &__schedule
    margin-top 1em
  &__bottom
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-x -(basePadding/2)
    padding-bottom (basePadding/2*3)
    & > * // @stylint ignore
      padding (basePadding/2)
  &__advertising
    position relative
    align-self flex-start
    min-height 2rem
    margin-top (basePadding/2)
    padding-y 0
    padding-left 3rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 2rem
      height 2.25rem
      background-color #734D76
      mask-image url('../images/svg-sprites/rest.svg#medreclama')
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    a
      color var(--link-color)
      &:hover
        color var(--link-color-hover)
