include ../footer-menu/footer-menu
include /blocks/link-icon/link-icon

footer.footer.container
  .content.footer__inner
    +grid({'padding-y':true})
      -
        const menus = [
          {
            list: ['Загуститель волос','Для женщин','Для мужчин','До и после','Отзывы','Как это работает','Как пользоваться','Как подобрать цвет',],
          },
          {
            header: 'Каталог',
            list: ['Загустители','Аксессуары',],
          },
          {
            header: 'Служебные страницы',
            list: ['Доставка и оплата','Акции','Сертификаты','Партнерство','Дистрибьютеры','Соглашения на обработку персональных данных',],
          },
          {
            list: ['О нас','Новости','Контакты',],
          },
        ]
      +cell({m:3,xs:12})
        h2.footer__subtitle О продукции
        +footerMenu(menus[0])
      +cell({m:3,xs:12})
        h2.footer__subtitle Магазин
        +footerMenu(menus[1])
        +footerMenu(menus[2])
      +cell({m:3,xs:12})
        h2.footer__subtitle Контакты
        include ../footer-phone/footer-phone
        ul.footer__links
          li.footer__link: +linkIcon('mail', {light: true})(href='mailto:zakaz@zagustitelvolos.com') zakaz@zagustitelvolos.com 
        p.footer__schedule Режим работы с 
          strong 10:00 
          | до 
          strong 21:00 
          | (мск) без выходных. Россия, СНГ
      +cell({m:3,xs:12})
        +footerMenu(menus[3])
        h3 Присоединяйтесь к нам:
        include ../footer-socials/footer-socials
      +cell({m:8,xs:12})
        .footer__bottom
          .footer__advertising
            a(href='http://www.medreclama.ru/' target='_blank') Маркетинг клиники
            br
            | Агентство «Medreclama»
