.list-numbered
  @extend p

  padding-left (basePadding*2)

  & + &
  p + &
  .list-marked + &
  .table + &
  .figure + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top 0
  > li
    margin-bottom (font-m/4)
    list-style decimal
  &--big-numbers
    padding-left 0
    counter-reset numbers // @stylint ignore

    & > li
      display flex
      margin-bottom font-xl
      list-style none
      counter-increment numbers // @stylint ignore
      &::before
        content counter(numbers)
        flex-shrink 0
        align-self flex-start
        width 3rem
        height 3rem
        margin-right basePadding
        font-size (font-m*2)
        line-height 3rem
        text-align center
        color #fff
        background-color var(--link-color-hover)
        border-radius 50%
      &:last-child
        margin-bottom 0
      &.cell
        margin 0
  &--article-numbers
    padding-left 0
    counter-reset numbers // @stylint ignore
    & > li
      display flex
      list-style none
      counter-increment numbers // @stylint ignore
      &::before
        content counter(numbers) '.'
        margin-right 1.5rem
        font-size 1.5rem
        line-height 1.25
        font-weight 500
        color var(--link-color)
        font-style italic
        text-align center
        letter-spacing 0.05em
