#bx-soa-order
  display flex
  flex-wrap wrap
  margin-x -.9375rem

.bx-soa
  flex-grow 0
  flex-shrink 0
  width calc(100% / 12 * 9)
  padding-x .9375rem
  @media screen and (max-width point-s - 1)
    width 100%

.bx-soa-sidebar
  flex-grow 0
  flex-shrink 0
  width calc(100% / 12 * 3)
  padding-x .9375rem
  @media screen and (max-width point-s - 1)
    width 100%

@media screen and (min-width point-s)
  #bx-soa-total-mobile
    display none

.bx-soa-section
  &.bx-selected
    border-color var(--border-color)
    .bx-soa-section-title-container
      padding .703125rem

.bx-soa-section-title-container
  display flex
  padding .234375rem .5rem
  background-color var(--marked-color-light)

  h2
    margin .234375rem .4375rem
  .text-right
    margin .234375rem .4375rem

.bx-soa-editstep
  border-bottom none
  text-decoration-style dotted // @stylint ignore

.bx-soa-more-btn
  display flex
  justify-content space-between
  margin -.9375rem
  .btn
    margin .9375rem

.bx-soa-pp
  display flex
  flex-wrap wrap
  margin-x -.9375rem

.bx-soa-pp-item-container
  display flex
  flex-grow 0
  flex-shrink 0
  flex-wrap wrap
  width calc(100% / 12 * 7)
  margin-x -.9375rem
  padding-x .9375rem
  @media screen and (max-width point-s - 1)
    width 100%

  .bx-soa-pp-company
    flex-grow 0
    flex-shrink 0
    width calc(100% / 12 * 4)
    padding-x .9375rem
    @media screen and (max-width point-s - 1)
      width calc(100% / 12 * 6)

.bx-soa-pp-desc-container
  flex-grow 0
  flex-shrink 0
  width calc(100% / 12 * 5)
  padding-x .9375rem
  @media screen and (max-width point-s - 1)
    width 100%

.bx-soa-customer
  width 100%
  max-width 32rem
  .bx-soa-custom-label
    display inline-block
    margin-bottom .3125rem

.bx-soa-customer-field
  display flex
  flex-direction column
  width 100%
  max-width 32rem
  margin-top 1.5rem

  textarea
    height calc(5.5rem + 2px)
    resize none

.bx-soa-customer .bx-soa-customer-input,
.bx-soa-customer .form-control
  display block
  width 100%
  padding .625rem 1.25rem
  line-height 1.5
  border 1px solid var(--border-color)
