.banner-hairfor
  background-image url('../images/banners/banner-hairfor/bg_l.webp')
  background-repeat no-repeat
  background-size cover
  background-position center
  @media(max-width point-m - 1)
    background-image url('../images/banners/banner-hairfor/bg_s.webp')
  &__inner
    z-index 1
  &__date
    color #816B60
  &__promo
    align-items center
    span 
      justify-content center
      align-items center
      color #D12525
      text-align center
      // &::before
      //   position absolute
      //   content ''
      //   width 100%
      //   height 100%
      //   background linear-gradient(90deg, #e7e0da 0%, #ffede4 100%)
      //   backdrop-filter blur(2px)
      //   border-radius 30px
      //   padding 1rem 2rem
      //   z-index -1
  &__code
    color #D12525
  b
    color #D12525
  &__btn
    background-color #D12525
    &:hover
      background-color #b12121
  &__advertising
    color #816b60
