.banner-hairfor
  &.container
    padding 0
  overflow hidden
  &__inner
    padding-y 2rem
    @media(max-width point-m - 1)
      padding-bottom 0
  &__logo
    display block
    max-height 2rem
    margin-bottom 2.5rem
  &__description
    margin-bottom 24px
    font-size 26px
    font-style normal
    font-weight 700
    line-height 36px
    letter-spacing 1.3px
    text-transform uppercase
    color #B49D84
  &__date
    margin-bottom 0.75rem
  &__title
    // margin-bottom 1rem
    font-size 26px
    font-style normal
    line-height 33px
    text-transform uppercase
    b
      font-size 48px
    span
      text-transform uppercase
      font-weight 700
  &__promo
    display flex
    gap 0.5rem
    margin-bottom 1.5rem
    span 
      position relative
      display inline-flex
      // margin-left 1rem
      // padding-inline 18px
      font-weight 500
  &__code
    display inline-block
    padding 2px 18px
    font-size 16px
    font-style normal
    font-weight 700
    line-height 26px
    background-image linear-gradient(90deg, #E7E0DA 0%, #F6E7E0 100%)
    border-radius 100vmax
  &__duration
    font-size 1.25rem
    line-height 1.2
  &__image
    display block
    height 100%
    margin-top auto
    img
      display block
      object-fit cover
      object-position bottom
      margin-right -40px
      @media(min-width point-m - 1)
        margin-inline -40px
        min-width calc(100% + 110px)
    @media(max-width point-m - 1)
      width calc(100% + 85px)
      margin-inline -15px
  &__advertising
    margin-top 1rem
    font-size 0.75rem
    line-height normal
  &__discount
    // margin-right 0.5rem
    font-size 2.8rem
    font-weight 500
    color #D12525
  &__text
    max-width 70%
  &__btn 
    margin-top 2rem
