.link-icon
  padding-left (1.5rem)
  background-repeat no-repeat
  background-position left center
  background-size 1rem
  &--mail
    background-image var(--icon-mail-dark)
    &^[-1]--light
      background-image var(--icon-mail-light)
