.product-colors
  display flex
  flex-wrap wrap
  margin-x -(basePadding/2)
  margin-y -(basePadding/2)
  &__item
    &.grid__cell
      padding-x (basePadding/2)
      padding-y (basePadding/2)

    a
      display block
      font-size font-xs
      text-align center
      text-decoration none
      color var(--font-color)

    img
      display block
      transition opacity .4s

    span
      display block
      margin-y (font-m / 2)
      line-height line-s

    &:hover
      img
        opacity .5
        transition opacity .1s

    &--active
      a
        border 1px solid var(--link-color)
  &__available
    font-size font-xxs
    text-align center
    color var(--message-text-success-color)
