+grid({'padding-y': true}).product-colors
  -
    const colours = [
      'Светлый блонд',
      'Средний блонд',
      'Темно-коричневый',
      'Средне-коричневый',
      'Светло-коричневый',
      'Каштан',
      'Седой',
    ]
  each item in colours
    - const itemClass = colours.indexOf(item) === 0 ? 'product-colors__item--active' : ''
    +cell({m:2,s:2,xs:3}).product-colors__item(class != itemClass)
      a(href='#')
        picture
          source(srcset='https://dummyimage.com/202x202.webp' type='image/webp')
          img(src='https://dummyimage.com/202x202.jpg')
        span !{item}
