mixin catalogCategory(item)

  div(class != classes('catalog-category', item.settings))
    a(href='/catalog-category.html').catalog-category__image: img(src != item.image alt != item.name)
    .catalog-category__name !{item.name}
    if block
      .catalog-category__description: block
