.catalog-category
  
  &__image
    position relative
    display block
    padding-bottom 100%
    border 1px solid rgba(#f0f0f0, .5)
    transition box-shadow .4s
    &:hover
      box-shadow 0 0 4px 1px var(--marked-color-medium)
      transition box-shadow .1s
    img
      position absolute
      top 50%
      left 50%
      max-width calc(100% - 2rem)
      max-height calc(100% - 2rem)
      transform translate(-50%, -50%)
  &__name
    font-size  1.25em
    position relative
    line-height 1.5em
    font-weight 500
    margin-top .5rem
    margin-bottom .25rem
    text-align center
