.tabs
  parMargin()
  
  &__labels
    display flex
    flex-wrap wrap
    border-bottom 1px solid #ccc
    ^[-1]--secondary &
      justify-content space-evenly
      border-bottom none
  &__label
    display flex
    align-items center
    justify-content center
    flex-grow 1
    padding .75em
    line-height 1.5
    text-align center
    text-transform uppercase
    color var(--color-link)
    background-color var(--marked-color-light)
    cursor pointer
    transition background-color .4s
    @media screen and (max-width point-s - 1)
      flex 1 1 100%
    &:hover
      background-color var(--marked-color-medium)
      transition background-color .1s
    &--active
      color #fff
      background-color var(--marked-color)
      border-bottom none
      cursor default

      @supports (text-decoration-style dashed)
        text-decoration none
        border-bottom none
      &:hover
        background-color var(--marked-color)
    ^[-1]--secondary &
      flex-grow 0
      text-decoration underline
      text-decoration-style dashed
      color var(--link-secondary-color)
      background-color transparent
      &:hover
        color var(--link-secondary-color-hover)
        background-color transparent
      &--active
        color var(--font-color)
        cursor default
        &:hover
          color var(--font-color)
  &__item
      display none
      padding-top (basePadding*2)
      &--active
        display block
