extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 Ошибка 404. Страница не найдена
      each item in mainMenu
        p: strong: a(href != item.href) !{item.name}
        if item.sublist
          ul.list-marked.list-marked--w-prev-par
            each i in item.sublist
              li: a(href != i.href) !{i.name}
