extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Акции'})
      h1 Акции
      +pageSection
        +pageSubsection
          h2 Набор ко Дню студента
          p Ко дню студентов 25 января дарим всем, приобретающим загуститель волос Toppik 55 г, баночку Toppik 3 г travel size.
          p Акция действует до 29 февраля 2020 года.
          +grid({'par-like': true, 'padding-y': true})
            +cell({m:3,s:4,xs:12})
              picture
                source(srcset='https://dummyimage.com/484x726.webp' type='image/webp')
                img(src='https://dummyimage.com/484x726' alt='Набор ко Дню студента' title='Набор ко Дню студента' loading='lazy' decoding='async')
