extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/img/img
include /blocks/article-item/article-item
include /blocks/article-content/article-content
include /blocks/form-input/form-input
include /blocks/table/table
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Лучшие спреи для объема волос - для прикорневого объема, отзывы и рейтинг лучших

        +pageSection.article.article--padding-top
          +grid
            +cell({ m:9 })
              +pageSubsection({ 'article': true })
                .article-header 
                  +grid({ 'align': 'center', 'nopadding':true })
                    +cell({ l:8, m:7, s:12 }).article-header__author
                      +img({
                        name: 'olga-leites',
                        path: '/images/stati/',
                        formats: [
                          { ext: 'jpg', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                        density: [
                          { values: [ 1,2 ] }
                        ]
                        })(alt= 'Ольга Лейтес' title= 'Ольга Лейтес' width=60 height=60 class='article-header__img') 
                      .article-header__name
                        p Ольга Лейтес
                        p.article-header__job Генеральный директор и&nbsp;основательница &laquo;Центра Дизайна волос&raquo;
                    +cell({ l:4, m:5, s:12 }).article-header__reading
                      include /blocks/article-reading-item/article-reading-item
                  p.article-header__text Какая женщина не&nbsp;мечтает о&nbsp;невероятной пышной прическе, на&nbsp;которую не&nbsp;надо много времени. Индустрия красоты предлагает разные способы создания желаемого образа. Вариант, придающий волосам естественную пышность,&nbsp;&mdash; спрей для прикорневого объема.
                  p.article-header__text В&nbsp;состав аэрозолей входят укрепляющие, повышающие гладкость компоненты. Подходят женщинам с&nbsp;тонкими и&nbsp;непослушными волосами. Наносятся только на&nbsp;корни. Подборка составлена по&nbsp;результатам независимого тестирования.

                  //- +img({
                  //-   name: 'header',
                  //-   path: '/images/stati/kamuflirovanie-sediny/',
                  //-   formats: [
                  //-     { ext: 'jpg', orig: true },
                  //-     { ext: 'webp', mime: 'image/webp' },
                  //-   ],
                  //-   density: [
                  //-     { name:'xs', values: [ 1,2 ] },
                  //-     { name:'s', values: [ 1,2 ] },
                  //-   ]
                  //-   })(alt= '' title= '' width=800 height=533) 
                
              +pageSubsection({ 'article': true }).article-content 
                .block-marked.block-marked--article
                  p.article-content__title Содержание
                  a(href='#best').article-content__link
                    .article-content__item Лучшие спреи для прикорневого объема волос
                  a(href='#rating').article-content__link
                    .article-content__item Рейтинг лучших средств для объема волос
                  a(href='#faq').article-content__link
                    .article-content__item Популярные вопросы
                  a(href='#shortly').article-content__link
                    .article-content__item Коротко о главном
                  a(href='/').link-secondary.article-content__all Показать все

              +pageSubsection({ 'article': true })
                h2#best Лучшие спреи для прикорневого объема волос
                h3 Спрей загуститель для корней волос Toppik
                ul(class= gridClasses()).article__block.par
                  +articleItemProduct('', 'toppik-black', 'Камуфляж для волос Toppik – Черный', '150', '225', '/catalog/kamuflyazh/toppik/380-chernyy/') 
                  +articleItemProduct('', 'toppik-light-brown', 'Камуфляж для волос Toppik – Светло-коричневый', '150', '225', '/catalog/kamuflyazh/toppik/409-svetlo-korichnevyy/')
                  +articleItemProduct('', 'toppik-middle-blond', 'Камуфляж для волос Toppik – Средний блонд', '150', '225', '/catalog/kamuflyazh/toppik/394-sredniy-blond/')
                p Представлен в&nbsp;4&nbsp;естественных оттенках. Маскирует зоны поредения на&nbsp;макушке, висках, лбу, в&nbsp;области пробора у&nbsp;мужчин и&nbsp;женщин. Покрывает обширные площади с&nbsp;редеющими прядями. Средство устойчиво к&nbsp;поту, ветру и&nbsp;дождю. Дополнительный объем формируется с&nbsp;помощью гребешка Toppik. Кератиновые частички в&nbsp;составе уплотняют тонкие волосы у&nbsp;корней, приподнимая&nbsp;их. Эффект держится до&nbsp;мытья головы. Комбинируется со&nbsp;стайлингами.
                p Наносится на&nbsp;высушенные полотенцем волосы с&nbsp;расстояния 2-3&nbsp;см выше области, нуждающейся в&nbsp;загустении. Аэрозоль распыляется по&nbsp;всей голове или отдельным зонам. Для укладки используют расческу без щетины.

                +table
                  +tr.table__row
                    +th Достоинства
                    +th Недостатки 
                  +tr.table__row
                    +td: p Легкое применение
                    +td: p Неэкономный расход при покрытии всей головы
                  +tr.table__row
                    +td: p Не утяжеляет локоны
                    +td: p Много подделок
                  +tr.table__row
                    +td: p Маскирует залысины
                    +td
                  +tr.table__row
                    +td: p Естественный эффект
                    +td

                h3 Спрей загуститель для волос Hairfor2
                ul(class= gridClasses()).article__block.par
                  +articleItemProduct('', 'hairfor2-black', 'Спрей загуститель для волос Hairfor2 – черно-коричневый', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/415-cherno-korichnevyy/')
                  +articleItemProduct('', 'hairfor2-light-brown', 'Спрей загуститель для волос Hairfor2 – светло-коричневый', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/418-svetlo-korichnevyy/')
                  +articleItemProduct('', 'hairfor2-grey', 'Спрей загуститель для волос Hairfor2 – седой', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/sprey-zagustitel-dlya-volos-hairfor2-sedoy/')
                p Представлен в&nbsp;двух форматах 100&nbsp;мл и&nbsp;300&nbsp;мл в&nbsp;8&nbsp;цветах. Рекомендован для тонких или редких волос. Подходит мужчинам и&nbsp;женщинам. Действие основано на&nbsp;свойствах кератиновых микроволокон, которые закрепляются на&nbsp;прядях, уплотняя&nbsp;их. Естественные оттенки усиливают эффект густой объемной прически. Держится до&nbsp;следующего мытья головы.
                p Перед применением помыть и&nbsp;высушить волосы. Расческой с&nbsp;редкими зубьями приподнять прядь у&nbsp;корней, распылить загуститель с&nbsp;расстояния 20&nbsp;см. Если средство попало на&nbsp;кожу вне волосяного покрова,, удаляют его диском, смоченным в&nbsp;спирте или мыльном растворе. Флакона 300&nbsp;мл хватает на&nbsp;4-6 недель использования.
                +table
                  +tr.table__row
                    +th Достоинства
                    +th Недостатки 
                  +tr.table__row
                    +td: p Удобное применение
                    +td: p Цена
                  +tr.table__row
                    +td: p Водостойкая формула
                    +td
                  +tr.table__row
                    +td: p Разнообразие оттенков
                    +td
                  +tr.table__row
                    +td: p Экономное расходование
                    +td

                h3 Спрей для прикорневого объема Tefia Catch Your Style 250 мл
                +grid({ align: 'center', justify: 'center', 'padding': 'y', 'par-like': true }).par
                  +cell({ s:4, xs:8 })
                    +img({
                      name: 'brands-tefia',
                      path: '/images/stati/luchshie-sprei-dlja-obema-volos/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Спрей для прикорневого объема Tefia Catch Your Style 250 мл' title= 'Спрей для прикорневого объема Tefia Catch Your Style 250 мл' width=477 height=600)
                  +cell({ s:8 })
                    p Это универсальное уплотняющее средство для тонких, нормальных и&nbsp;непослушных волос. Формула фиксирующего аэрозоля обогащена натуральными компонентами. В&nbsp;составе ингредиенты, защищающие от&nbsp;воздействия окружающей среды. Рекомендован для текстурированной укладки. Фиксация средняя.
                    p Наносится на&nbsp;подсушенные после мытья волосы. Объем формируется за&nbsp;счет обволакивающей воздухопроницаемой пленки. Средство распыляется в&nbsp;прикорневую зону с&nbsp;расстояния 2-3&nbsp;см. После применения пряди не&nbsp;слипаются, не&nbsp;блестят, укладка держится в&nbsp;течение дня. Спрей Tefia рекомендован для салонного и&nbsp;домашнего применения.
                .article__block.par
                  +table
                    +tr.table__row
                      +th Достоинства
                      +th Недостатки 
                    +tr.table__row
                      +td: p Экономичный расход
                      +td: p Средняя фиксация
                    +tr.table__row
                      +td: p Обогащенный состав
                      +td: p Цена
                    +tr.table__row
                      +td: p Ненавязчивый запах
                      +td: p Ощущение немытой головы на следующий день

                h3 Спрей-мусс для прикорневого объема Wella Professionals Eimi Root Shoot 
                +grid({ align: 'center', justify: 'center', 'padding': 'y', 'par-like': true }).par
                  +cell({ s:4, xs:8 })
                    +img({
                      name: 'brands-wella',
                      path: '/images/stati/luchshie-sprei-dlja-obema-volos/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Спрей-мусс для прикорневого объема Wella Professionals Eimi Root Shoot' title= 'Спрей-мусс для прикорневого объема Wella Professionals Eimi Root Shoot' width=477 height=600)
                  +cell({ s:8 })
                    p Пенка представлена в&nbsp;двух форматах: полноразмерный 200&nbsp;мл и&nbsp;компактный 70&nbsp;мл. Одно нажатие на&nbsp;дозатор гарантирует стойкий подъем корней. Дозатор разработан для точечного применения. Хитозан в&nbsp;составе восстанавливает увлажненность и&nbsp;укрепляет волосы. Также это природный антистатик. Касторовое масло борется с&nbsp;сухостью, делает пряди упругими. Средняя фиксация.
                    p Средство наносится на&nbsp;корни, распределяется массирующими движениями. Затем локоны сушатся феном. Дополнительно мусс защищает пряди от&nbsp;термического воздействия. Не&nbsp;утяжеляет, не&nbsp;пересушивает и&nbsp;не&nbsp;склеивает прическу. Подходящее средство для ежедневного применения&nbsp;&mdash; эффект пышной прически держится до&nbsp;12&nbsp;часов.
                .article__block.par
                  +table
                    +tr.table__row
                      +th Достоинства
                      +th Недостатки 
                    +tr.table__row
                      +td: p 2 формата
                      +td: p Средняя фиксация
                    +tr.table__row
                      +td: p Термическая защита
                      +td
                    +tr.table__row
                      +td: p Экономичный расход
                      +td
                    +tr.table__row
                      +td: p Точечное применение
                      +td

                h3 Спрей для прикорневого объема PHILIP KINGSLEY Maximizer Root Boosting Spray 125 мл
                +grid({ align: 'center', justify: 'center', 'padding': 'y', 'par-like': true }).par
                  +cell({ s:4, xs:8 })
                    +img({
                      name: 'brands-philip',
                      path: '/images/stati/luchshie-sprei-dlja-obema-volos/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Спрей для прикорневого объема PHILIP KINGSLEY Maximizer Root Boosting Spray 125 мл' title= 'Спрей для прикорневого объема PHILIP KINGSLEY Maximizer Root Boosting Spray 125 мл' width=477 height=600)
                  +cell({ s:8 })
                    p Средство приподнимает корни, повышая пышность прически. Рекомендовано для прямых, тонких и&nbsp;непослушных волос. Термоактивируемые полимеры образуют на&nbsp;прядях пленку, защищающую от&nbsp;влаги, солнца, пересушивания. Кондиционирующие компоненты разглаживают, улучшают состояние волос, контролируют завивание.
                    p Наносится на&nbsp;корни и&nbsp;по&nbsp;всей длине после мытья на&nbsp;подсушенные полотенцем волосы, тепло фена активирует действие полимеров. Рекомендован для профессионального применения.
                .article__block.par
                  +table
                    +tr.table__row
                      +th Достоинства
                      +th Недостатки 
                    +tr.table__row
                      +td: p Защита от ультрафиолета
                      +td: p Цена
                    +tr.table__row
                      +td: p Мгновенный результат
                      +td: p Неэкономичный расход
                    +tr.table__row
                      +td: p Разглаживающий, ухаживающий эффект
                      +td

                h3 Спрей для прикорневого объема Root boost Moroccanoil 250 мл
                +grid({ align: 'center', justify: 'center', 'padding': 'y', 'par-like': true }).par
                  +cell({ s:4, xs:8 })
                    +img({
                      name: 'brands-moroccanoil',
                      path: '/images/stati/luchshie-sprei-dlja-obema-volos/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Спрей для прикорневого объема Root boost Moroccanoil 250 мл' title= 'Спрей для прикорневого объема Root boost Moroccanoil 250 мл' width=477 height=600)
                  +cell({ s:8 })
                    p Представлен в&nbsp;двух форматах: 250&nbsp;мл и&nbsp;75&nbsp;мл. Аэрозоль создает естественный объем у&nbsp;корней тонких, нормальных и&nbsp;прямых волос. Питательная формула уплотняет корни, формируя прочную основу при горячей укладке. Не&nbsp;склеивает пряди. Масло арганы питает корни и&nbsp;кожу головы. После укладки прическа блестит. Долговременная фиксация.
                    p Средство обильно наносится по&nbsp;проборам подсушенных волос с&nbsp;расстояния 10-15&nbsp;см, взбивается пальцами. Далее укладка с&nbsp;феном.
                .article__block.par
                  +table
                    +tr.table__row
                      +th Достоинства
                      +th Недостатки 
                    +tr.table__row
                      +td: p 2 формата
                      +td: p Цена
                    +tr.table__row
                      +td: p Питательный состав
                      +td: p Неудобный дозатор
                    +tr.table__row
                      +td: p Антистатический эффект
                      +td
                    +tr.table__row
                      +td: p Отсутствует эффект немытой головы
                      +td

                h3 Спрей для прикорневого объема INSIGHT PROFESSIONAL volume up root lotion volumizing 100 мл
                +grid({ align: 'center', justify: 'center', 'padding': 'y', 'par-like': true }).par
                  +cell({ s:4, xs:8 })
                    +img({
                      name: 'brands-insight',
                      path: '/images/stati/luchshie-sprei-dlja-obema-volos/',
                      formats: [
                        { ext: 'png', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Спрей для прикорневого объема INSIGHT PROFESSIONAL volume up root lotion volumizing 100 мл' title= 'Спрей для прикорневого объема INSIGHT PROFESSIONAL volume up root lotion volumizing 100 мл' width=477 height=600)
                  +cell({ s:8 })
                    p Уплотняет тонкие пряди, не&nbsp;утяжеляя&nbsp;их. На&nbsp;97&nbsp;% у&nbsp;средства органический состав. Крапива укрепляет, придает упругость локонам. Женьшень стимулирует рост, а&nbsp;псиллиум делает прическу блестящей.
                    p Наносится в&nbsp;прикорневую зону с&nbsp;расстояния 2-3&nbsp;см на&nbsp;подсушенные после мытья волосы. Распределяется по&nbsp;всей длине.
                .article__block.par
                  +table
                    +tr.table__row
                      +th Достоинства
                      +th Недостатки 
                    +tr.table__row
                      +td: p Органический состав
                      +td: p Незначительное уплотнение волос у корней
                    +tr.table__row
                      +td: p Легкий фруктовый аромат
                      +td
                    +tr.table__row
                      +td: p Кондиционирующий эффект
                      +td

              +pageSubsection({ 'article': true })
                h2#rating Рейтинг лучших средств для объема волос
                +table
                  +tr.table__row
                    +th Наименование
                    +th Выводы 
                  +tr.table__row
                    +td: p Спрей загуститель Toppik
                    +td: p Это профессиональное средство, которое решает 2 проблемы: недостаточный объем и редеющие пряди. Если загуститель расходовать целенаправленно, баночки хватает на 4-6 недель. Проблема с подделками решается покупкой спрея у официального дистрибьютора. 
                  +tr.table__row
                    +td: p Спрей загуститель Hairfor2
                    +td: p Средство удобно в применении. Среди 8 оттенков легко найти подходящий. Уплотняя прикорневую зону, загуститель дополнительно тонирует зоны с поредевшими волосами. Водостойкая формула гарантирует длительный эффект. Если средство наносить на прикорневую область, флакона хватает на месяц.
                  +tr.table__row
                    +td: p Спрей Tefia
                    +td: p После распыления прикорневая зона фиксируется в приподнятом состоянии, и держится весь день. К вечеру появляется ощущение немытой головы. Поредевшие пряди не скрывает.
                  +tr.table__row
                    +td: p Спрей-мусс Wella Professionals
                    +td: p Наличие компактного варианта — плюс этого средства. Мусс дополнительно защищает от термического воздействия, расходуется экономно. Держится в течение дня, залысины не маскирует.
                  +tr.table__row
                    +td: p Спрей PHILIP KINGSLEY 
                    +td: p Уплотняющий эффект, дополнительная защита от ультрафиолета, разглаживание непослушных прядей. Маленький объем при большом расходе.
                  +tr.table__row
                    +td: p Спрей Moroccanoil
                    +td: p У средства 2 формата. Формирует стойкий прикорневой объем, дополнительный уход. Обильное распыление по всей длине ведет к быстрому расходу средства. Не тонирует.
                  +tr.table__row
                    +td: p Спрей NSIGHT PROFESSIONAL
                    +td: p Органическое кондиционирующее средство, которое дает легкое уплотнение прядей. Это больше ухаживающее, чем фиксирующее средство.

              +pageSubsection({ 'article': true })
                h2#faq Популярные вопросы
                h3 Есть ли отличия между лаком и средством для прикорневого объема?
                p У&nbsp;аэрозоля для закрепления приподнятых корней более легкая консистенция и&nbsp;сильная фикция, чтобы приподнимать волосы, не&nbsp;утяжеляя&nbsp;их. Специальный носик упрощает процедуру.
                h3 Скроет&nbsp;ли объем у&nbsp;корней поредение волос?
                p При небольшой степени поредения спрей для прикорневого объема решает проблему маскировки алопеции. Визуально загущают прическу средства, уплотняющие волосы и&nbsp;тонирующие проблемные зоны.
                h3 При близком рассмотрении видно, что человек воспользовался загустителем?
                p Если это проверенный оригинальный спрей, тон которого соответствует исходному цвету, заметить его, находясь рядом, невозможно.

              +pageSubsection({ 'article': true })
                h2#shortly Коротко о главном
                .block-marked.block-marked--article
                  ol.list-numbered.list-numbered--article-numbers
                    li Красивая пышная прическа&nbsp;&mdash; неотъемлемая часть привлекательного образа. Под воздействием разных факторов волосы редеют и&nbsp;теряют пышность. Для решения проблемы стилисты рекомендуют использовать средства, улучшающие внешний вид прически&nbsp;&mdash; спреи для прикорневого объема.
                    li На&nbsp;косметическом рынке большой выбор аэрозолей для обладательниц непослушных, тонких и&nbsp;редеющих волос. Состав стайлингов дополнительно обогащают ухаживающими и&nbsp;защищающими компонентами. Аэрозоли бывают бесцветными и&nbsp;тонирующими. Разнообразие затрудняет выбор подходящего средства.
                    li Для естественного эффекта на&nbsp;короткое время берут легкие составы со&nbsp;слабой фиксацией. Сильная фиксация поддержит объем в&nbsp;течение дня. Загустители выполняют двойную функцию: уплотняют прикорневую зону, приподнимая&nbsp;ее, и&nbsp;маскируют области с&nbsp;редеющими прядями. Эти средства не&nbsp;боятся воды, ветра и&nbsp;солнца. Эффект держится до&nbsp;следующего мытья головы.

  +style('inner') 

