extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/img/img
include /blocks/block-marked/block-marked
include /blocks/article-content/article-content
include /blocks/article-item/article-item
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Как убрать лысину и&nbsp;залысины на&nbsp;голове у&nbsp;мужчины
        +pageSection.article.article--padding-top
          +grid
            +cell({ l:9, m:9, s:12 })
              +pageSubsection({ 'article': true })
                .article-header 
                  +grid({ 'align': 'center', 'nopadding':true })
                    +cell({ l:8, m:7, s:12 }).article-header__author
                      +img({
                      name: 'olga',
                      path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                      formats: [
                        { ext: 'jpg', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                      density: [
                        { values: [ 1,2 ] }
                      ]
                      })(alt= 'Ольга Лейтес' title= 'Ольга Лейтес' width=60 height=60 class='article-header__img') 
                      .article-header__name
                        p Ольга Лейтес
                        p.article-header__job Генеральный директор и&nbsp;основательница &laquo;Центра Дизайна волос&raquo;
                    +cell({ l:4, m:5, s:12 }).article-header__reading
                      include /blocks/article-reading-item/article-reading-item

                  p.article-header__text Ищете, как можно избавиться от&nbsp;лысины или залысин? В&nbsp;статье мы&nbsp;расскажем о&nbsp;разновидностях алопеции и&nbsp;причинах выпадения волос, обо всех доступных на&nbsp;данный момент методах лечения облысения, а&nbsp;также как скрыть поредение волос чтобы этого никто не&nbsp;заметил.
                  +img({
                    name: 'header',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Изображение мужчины с алопецией' title= 'Изображение мужчины с алопецией' width=786 height=524) 

              +pageSubsection({ 'article': true })
                - 
                  const articleContent = ['Разновидности причин алопеции', 'Причины алопеции у мужчин', 'Стадии облысения', 'Как избавиться от лысины и залысин', 'Профилактика', 'Коротко о главном']
                +articleContent(articleContent) 

              +pageSubsection({ 'article': true }).article__inner
                h2#content0 Разновидности причин алопеции

                .article__aside-container.par
                  p Алопеция характеризуется преобладанием процесса выпадения волос над фазой роста. При этом наблюдается смещение по&nbsp;линии роста прядей, очаговые дефекты и&nbsp;поредение шевелюры в&nbsp;области лба или темени. В&nbsp;редких случаях наблюдается полное облысение. Чаще всего пряди становятся ломкими, теряют свою структуру и&nbsp;густоту. 

                  .article__aside
                    a(href='/stati/chto-takoe-zagustitel-dlya-volos/') 
                      +img({
                        name: 'chto-takoe-zagustitel-dlya-volos',
                        path: '/images/stati/',
                        formats: [
                          { ext: 'jpg', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                        density: [
                          { values: [ 1,2 ] } 
                        ]
                        })(alt= 'Что такое загуститель для волос, какие бывают и рейтинг лучших' title= 'Что такое загуститель для волос, какие бывают и рейтинг лучших' width=480 height=270).article__aside-img
                    a(href='/stati/chto-takoe-zagustitel-dlya-volos/').link-secondary Что такое загуститель для волос, какие бывают и рейтинг лучших

                p У&nbsp;мужчин облысение обычно начинается с&nbsp;лобного участка, затем переходит на&nbsp;виски с&nbsp;затылком. Причиной облысения могут выступать генетические факторы, особенности гормонального фона, а&nbsp;также сопутствующие заболевания. В&nbsp;зависимости от&nbsp;особенностей клинических проявлений, облысение бывает диффузным, очаговым, рубцовым, андрогенетическим.
                
                .article__block
                  +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                    +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'category-andro', 'Андрогенетическое облысение', '480', '372')
                      h3 Андрогенетическое  
                      p Характеризуется первоначальным истончением, ломкостью прядей, что и&nbsp;провоцирует их&nbsp;дальнейшее выпадение в&nbsp;лобной, а&nbsp;также в&nbsp;теменной области. От&nbsp;этого вида алопеции чаще всего страдают мужчины среднего возраста. 
                    +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'category-diffusive', 'Диффузное облысение', '480', '372')
                      h3 Диффузное 
                      p Связано с&nbsp;равномерным облысением во&nbsp;всех участках. Обычно оно провоцируется приемом медикаментозных препаратов, стрессовыми ситуациями, химиотерапией, изменениями гормонального фона.
                    +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'category-pointed', 'Очаговое облысение', '480', '372')
                      h3 Очаговое 
                      p Характеризуется внезапным резким началом, при этом может резко прекратиться. Поражается любая область, чаще затылочная. Причина такого резкого запуска механизма до&nbsp;конца не&nbsp;изучена. Большинство медиков считает это проявлением аутоиммунных сбоев. Есть предположения, что такое облысение появляется на&nbsp;участках кожи с&nbsp;повышенной пигментацией. 
                    +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'category-scar', 'Рубцовое облысение', '480', '372')
                      h3 Рубцовое
                      p Характеризуется повреждением волосяных луковиц вследствии образования рубцовой ткани. Рубцовое облысение встречается достаточно редко и&nbsp;составляет от&nbsp;3&nbsp;до&nbsp;7% всех видов алопеции.

              +pageSubsection({ 'article': true }).article__inner
                h2#content1 Причины алопеции у&nbsp;мужчин 
                p Все больше мужчин уже в&nbsp;среднем возрасте сталкиваются с&nbsp;проблемой облысения. При нормальных условиях жизнедеятельность каждого волоса составляет около 3&nbsp;лет, затем он&nbsp;выпадает и&nbsp;на&nbsp;его месте появляется новый. В&nbsp;случае с&nbsp;алопецией нарушается равновесие этих процессов и&nbsp;фаза выпадения преобладает над ростом. 
                p Причиной этого могут быть следующие факторы:
                ul.list-marked
                  li наследственность;
                  li серьезные психоэмоциональные потрясения;
                  li злоупотребление алкоголем или курением;
                  li нерациональное питание с&nbsp;недостатком необходимых витаминов и&nbsp;микроэлементов;
                  li гормональные нарушения;
                  li изменения температурных условий окружающей среды;
                  li медикаментозные препараты;
                  li в&nbsp;процессе химиотерапии.
                  
              +pageSubsection({ 'article': true }).article__inner
                h2#content2 Стадии облысения
                h3 Стадии мужского облысения по Норвуду
                p
                  +img({
                    name: 'stages',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Стадии мужского облысения по Норвуду' title= 'Стадии мужского облысения по Норвуду' width=600 height=532) 
                p Согласно классификации Норвуда можно выделить следующие стадии мужского облысения:
                ol.list-numbered
                  li С&nbsp;нормальным уровнем растительности, что особенно часто встречается у&nbsp;несовершеннолетних лиц;
                  li Граница линии роста прядей находится на&nbsp;расстоянии от&nbsp;лобной складки на&nbsp;1&nbsp;&mdash; 2&nbsp;сантиметра. Эта стадия еще не&nbsp;считается вариантом облысения;
                  li Раннее облысение с&nbsp;небольшим изменением границы линии роста;
                  li Облысение в&nbsp;области макушки;
                  li Залысины в&nbsp;лобной области;
                  li Слияние нескольких участков алопеции;
                  li Прогрессирование алопеции. 
                p Также выделяют еще и&nbsp;подкласс&nbsp;А, который характеризуется передне-задним направлением алопеции.

              +pageSubsection({ 'article': true }).article__inner
                h2#content3 Как избавиться от лысины и залысин
                h3 Парик и&nbsp;начёсы
                p
                  +img({
                    name: 'wig',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Парики и начесы' title= 'Парики и начесы' width=480 height=480) 
                p С&nbsp;помощью правильно сформированного начеса можно скрыть небольшие проблемы с&nbsp;облысением. В&nbsp;случаях, когда проблема с&nbsp;алопецией усугубляется, можно прибегнуть к&nbsp;применению парика. Современные качественные парики могут быть выполнены из&nbsp;натуральных волос и&nbsp;внешне ничем не&nbsp;отличаются от&nbsp;обычной стрижки. Правда, постоянное использование парика может приносить дискомфорт, особенно в&nbsp;летний период времени.

            
                h3 Загустители волос для маскировки поредения волос
                p Использование загустителей волос&nbsp;&mdash; удачный способ замаскировать поредение волос на&nbsp;голове, придать густоту и&nbsp;объем истонченным, редеющим волосам, выровнять оттенок волос. 
              
                .article__aside-container.par
                  p Избавиться от&nbsp;алопеции поможет лечение профессиональными препаратами, а&nbsp;камуфлирующие составы скроют несовершенства волос, пока они будут отрастать.
                  .article__aside
                    a(href='/stati/chto-takoe-zagustitel-dlya-volos/') 
                      +img({
                        name: 'chto-takoe-zagustitel-dlya-volos',
                        path: '/images/stati/',
                        formats: [
                          { ext: 'jpg', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                        density: [
                          { values: [ 1,2 ] } 
                        ]
                        })(alt= 'Что такое загуститель для волос, какие бывают и рейтинг лучших' title= 'Что такое загуститель для волос, какие бывают и рейтинг лучших' width=480 height=270).article__aside-img
                    a(href='/stati/chto-takoe-zagustitel-dlya-volos/').link-secondary Что такое загуститель для волос, какие бывают и рейтинг лучших

                h4 Формы выпуска загустителей

                .h5 Спрей
                p
                  +img({
                    name: 'spray',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Спрей' title= 'Спрей' width=480 height=320)
                p Аэрозольная форма камуфляжей, которую используют аналогично лаку: распыляют на&nbsp;проблемные участки головы, расчесывают и&nbsp;укладывают волосы. Спрей окутывает каждый волосок, утолщает и&nbsp;уплотняет, восстанавливает густоту, выравнивает оттенок отросших корней, скрывает седину. 
                p Аэрозоль обладает влагостойкостью и&nbsp;обеспечивает прочную фиксацию сроком до&nbsp;недели, придает шевелюре натуральный вид, не&nbsp;заметен на&nbsp;волосах. Поскольку спрей пачкается, наносить средство нужно вдали от&nbsp;предметов, а&nbsp;одежду накрывать салфеткой или полотенцем.

                .h5 Сухие волокна
                p
                  +img({
                    name: 'fibers',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Сухие волокна' title= 'Сухие волокна' width=480 height=441)
                p Загуститель в&nbsp;форме микрочастиц кератина, хлопка или вискозы, расфасованный в&nbsp;цилиндрические баночки, в&nbsp;верхней части которых отверстия в&nbsp;виде сита. Сухие волокна прочно фиксируются к&nbsp;волосам силой статического электричества: встряхивание придает микрочастицам положительный заряд, а&nbsp;волосы заряжены отрицательно. 
                p Результат применения средства:
                ul.list-marked
                  li густые, объемные волосы,
                  li отсутствие просвечивающих участков на&nbsp;голове,
                  li выравнивание оттенка,
                  li прочная фиксация до&nbsp;первого применения шампуня,
                  li устойчивость к&nbsp;потоотделению, воде, ветру.

                .h5 Пудра 
                p
                  +img({
                    name: 'powder',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Пудра' title= 'Пудра' width=480 height=336)
                p Камуфляж в&nbsp;спрессованном виде, который влажным спонжем наносят на&nbsp;кожу головы и&nbsp;корни волос. Пудра утолщает волоски, матирует кожу головы, выравнивает контрастный переход между просвечивающими участками. Также средство маскирует седину и&nbsp;отросшие корни. 
                p Преимущества:
                ul.list-marked 
                  li Камуфлирующей пудры хватает на&nbsp;полгода и&nbsp;больше.
                  li Стойкий результат до&nbsp;первого мытья головы.
                  li Водостойкость: можно плавать, нырять, заниматься спортом, гулять под дождем. 
                  li Маскирует поредение волос на&nbsp;любом участке головы: макушке, висках, затылке, а&nbsp;также вдоль передней линии роста волос. 
                .block-marked
                  p Реже применяют загустители в&nbsp;форме лосьона, крема, геля, карандашей (консилеров). Средства создают кратковременный эффект загущения волос и&nbsp;менее водостойкие.

                h4 Бренды загустителей 
                .h5 Fully
                p
                  +img({
                    name: 'brands-fully',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Бренд Fully' title= 'Бренд Fully' width=480 height=307)
                p Камуфляж с&nbsp;натуральным составом в&nbsp;форме сухих волокон, безопасность которого подтвердили клиническими испытаниями. Быстро наносится и&nbsp;распределяется, эффект густых, объемных волос создает за&nbsp;минуту. Для прочной фиксации к&nbsp;волосам баночку со&nbsp;средством встряхивают, и&nbsp;благодаря статическому электричеству микрочастицы прилипают к&nbsp;волосам и&nbsp;коже головы.

                .h5 EcoSapiens I&nbsp;Love Hair
                p
                  +img({
                    name: 'brands-EcoSapiens',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Бренд EcoSapiens' title= 'Бренд EcoSapiens' width=480 height=480)
                p Загуститель английского бренда, который состоит из&nbsp;органического белка кератина&nbsp;&mdash; структурного компонента волоса. Средство маскирует редкие, истонченные волосы, закрашивает отросшие корни и&nbsp;седину. Эффект густой и&nbsp;объемной шевелюры создает за&nbsp;30&nbsp;секунд. 

                .h5 Toppik
                p
                  +img({
                    name: 'brands-toppik',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Бренд Toppik' title= 'Бренд Toppik' width=480 height=480)
                p Загуститель из&nbsp;чистого белкового кератина натурального происхождения (структурный элемент волоса). Прочно фиксируется к&nbsp;прядям, обволакивает, утолщает, восстанавливает густоту, скрывает поредение. Эффект сохранится до&nbsp;первого применения шампуня. 
                p Преимущества:
                ul.list-marked 
                  li Выдерживает испытание непогодой, устойчив к&nbsp;поту, воде.
                  li Натуральный вид с&nbsp;близкого расстояния и&nbsp;при интенсивном освещении.
                  li Подходит для маскировки поредения в&nbsp;любой части головы.
                  li Справится с&nbsp;маскировкой седины и&nbsp;отросших корней.
                  li Эффект сохранится до&nbsp;применения шампуня.
                  li Для экономичного расхода предусмотрен пульверизатор, а&nbsp;гребешок поможет гармонично оформить переднюю линию роста волос.

                ul(class= gridClasses({ 'padding': 'y', 'par-like':true }))
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'toppik-black', 'Камуфляж для волос Toppik – Черный', '150', '225', '/catalog/kamuflyazh/toppik/380-chernyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'toppik-light-brown', 'Камуфляж для волос Toppik – Светло-коричневый', '150', '225', '/catalog/kamuflyazh/toppik/409-svetlo-korichnevyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'toppik-middle-blond', 'Камуфляж для волос Toppik – Средний блонд', '150', '225', '/catalog/kamuflyazh/toppik/394-sredniy-blond/')

                .h5 Hairfor2
                p
                  +img({
                    name: 'brands-hairfor2',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Бренд Hairfor2' title= 'Бренд Hairfor2' width=320 height=320)
                p Запатентованная формула спрея, который скрывает отросшие корни, седину, поредение, восстанавливает визуальный объем и&nbsp;густоту волос. Микрочастицы средства прочно и&nbsp;быстро фиксируются к&nbsp;волосам сразу после распыления. 
                p Преимущества:
                ul.list-marked 
                  li Влагостойкий: эффект сохранится в&nbsp;непогоду, после плавания, ныряния и&nbsp;занятий спортом. 
                  li Держится на&nbsp;волосах неделю, смывается шампунем.
                  li Придает натуральный вид участкам с&nbsp;потерей волос, невозможно заметить разницу.
                  li Совместим со&nbsp;стайлинговыми средствами.
                  li Экономичный расход: одного флакона хватит на&nbsp;1-1,5&nbsp;месяца.
                  li Подходит для поврежденных волос.

                ul(class= gridClasses({ 'padding': 'y', 'par-like':true }))
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'hairfor2-black', 'Спрей загуститель для волос Hairfor2 – черно-коричневый', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/415-cherno-korichnevyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'hairfor2-light-brown', 'Спрей загуститель для волос Hairfor2 – светло-коричневый', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/418-svetlo-korichnevyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'hairfor2-grey', 'Спрей загуститель для волос Hairfor2 – седой', '150', '225', '/catalog/kamuflyazh/sprey-hairfor2/sprey-zagustitel-dlya-volos-hairfor2-sedoy/')

                .h5 DermMatch 
                p
                  +img({
                    name: 'brands-dermmatch',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Бренд DermMatch' title= 'Бренд DermMatch' width=480 height=284)
                p Камуфляж в&nbsp;спрессованном виде в&nbsp;форме пудры, который работает с&nbsp;сединой, отросшими корнями, с&nbsp;редкими и&nbsp;тонкими волосами. Пудру наносят влажным спонжем на&nbsp;волосы, она утолщает их&nbsp;по&nbsp;принципу туши, а&nbsp;кожу головы матирует, скрывает просветы, выдающие недостаток объема волос. 
                p Преимущества:
                ul.list-marked 
                  li Выравнивает структуру волос, уплотняет волосы, усиливает цвет, маскирует рубцы на&nbsp;коже головы.
                  li Не&nbsp;забивает фолликулы и&nbsp;поры кожи. 
                  li Повышенная влагостойкость: эффект сохранится при занятиях спортом, плавании, нырянии, под дождем.
                  li Экономичный расход: пудры хватит на&nbsp;6-8&nbsp;месяцев. 
                  li В&nbsp;составе растительные компоненты, которые увлажняют, успокаивают кожу головы, гипоаллергенные и&nbsp;безопасные для здоровья.

                ul(class= gridClasses({'padding': 'y', 'par-like':true}))
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'dermmatch-black', 'Пудра загуститель для волос Dermmatch – черный', '242', '161', '/catalog/kamuflyazh/pudra-dermmatch/423-chernyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'dermmatch-middle-brown', 'Пудра загуститель для волос Dermmatch – средне-коричневый', '242', '161', '/catalog/kamuflyazh/pudra-dermmatch/425-sredne-korichnevyy/')
                  +articleItemProduct('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'dermmatch-blond', 'Пудра загуститель для волос Dermmatch – платиновый блонд', '242', '161', '/catalog/kamuflyazh/pudra-dermmatch/429-platinovyy-blond/')  

                

              +pageSubsection({ 'article': true })
                h3 Народные средства 
                +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                  +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'remove-folk', 'Народные средства', '480', '354')
                    p Народная медицина богата множеством рецептов, которые помогут улучшить кровообращение волосистой части головы, усилят рост прядей. Некоторые эффективные народные рецепты используются фармацевтическими компаниями для создания медицинских препаратов. 
                p В&nbsp;состав народных средств включают красный перец, крапиву, корень лопуха. Это принесет определенный результат с&nbsp;некоторыми видами алопеции, которые не&nbsp;связаны с&nbsp;гормональными нарушениями. К&nbsp;примеру, андрогенную алопецию, которую могут спровоцировать стресс или гормональные нарушения, вылечить народным способом не&nbsp;получится. 
                h3 Косметические средства
                +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                  +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'remove-cosmetics', 'Косметические средства', '480', '354')
                    p При алопеции обычно применяются всевозможные косметические средства&nbsp;&mdash; шампуни, маски, бальзамы, сыворотки. Их&nbsp;можно приобрести в&nbsp;аптеках, а&nbsp;также в&nbsp;обычных супермаркетах. Составы таких средств, как и&nbsp;их&nbsp;свойства, отличаются между собой. 
                p Одни производители берут за&nbsp;основу натуральные компоненты, а&nbsp;другие используют новые технологии и&nbsp;формулы. Косметические средства могут улучшить рост и&nbsp;структуру прядей, но&nbsp;никак не&nbsp;избавят от&nbsp;алопеции. Если механизм облысения уже был запущен,такие средства не&nbsp;дадут эффективного результата. 
                h3 Косметологические процедуры
                +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                  +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'remove-cosmetology', 'Косметологические процедуры', '480', '354')
                    p Современная косметология предоставляет большое разнообразие процедур, которые направлены на&nbsp;восстановление роста волос и&nbsp;борьбу с&nbsp;облысением. Обычно выбор методики восстановления подбирается врачом после диагностики состояния волос. 
                p Из&nbsp;всех существующих методик косметологи могут предложить мезотерапию, плазмолифтинг, ионофорез, миостимуляцию, озонотерапию, криотерапию. Самыми популярными считаются мезотерапия, миостимуляция. При мезотерапии в&nbsp;кожу головы вводятся специальные комплексы и&nbsp;витаминные коктейли. При миостимуляции на&nbsp;кожу головы воздействуют импульсным током. 
                h3 Витаминные комплексы и&nbsp;микроэлементы
                +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                  +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'remove-vitamins', 'Витаминные комплексы и микроэлементы', '480', '354')
                    p Комплекс витаминов и&nbsp;микроэлементов могут способствовать улучшению роста волос. Если алопеция была спровоцирована гиповитаминозом, то&nbsp;витаминотерапия&nbsp;&mdash; это необходимый шаг в&nbsp;борьбе с&nbsp;облысением. 
                p Витамин А&nbsp;поможет настроить работу сальных желез, витамин В&nbsp;&mdash; даст необходимое питание для волосяных луковиц, витамин D, Е&nbsp;&mdash; улучшают кровообращение кожи головы. Прием витаминов, микроэлементов придадут шевелюре густоту, а&nbsp;также необходимое сияние. 
                h3 Лекарственные препараты
                +grid({ 'padding': 'y', 'align': 'center', 'par-like':true }).article-item
                  +articleItemSquare('kak-ubrat-zalysiny-na-golove-u-muzhchin', 'remove-medical', 'Лекарственные препараты', '480', '354')
                    p Современные лекарственные препараты направлены на&nbsp;улучшение кровообращения кожи головы. Самыми эффективными считаются Финастерид, Миноксидил. 
                p Финастерид назначают только в&nbsp;случае с&nbsp;мужской алопецией. Миноксидил наружного действия направлен на&nbsp;стимулирование роста локонов. Эти препараты может назначать лишь врач после полного обследования.       

                h3 Пересадка волос
                p
                  +img({
                    name: 'transfer',
                    path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1,2 ] }
                    ]
                    })(alt= 'Пересадка волос' title= 'Пересадка волос' width=700 height=291)
                p В&nbsp;случаях, когда другие средства не&nbsp;могут справится с&nbsp;алопецией, прибегают к&nbsp;пересадке волос. В&nbsp;этом случае берут волосяные луковицы из&nbsp;затылочной области, пересаживают их&nbsp;в&nbsp;зону, где наблюдается алопеция. Пересадка возможна одним из&nbsp;следующих методов:
                ul.list-marked
                  li Хирургическое вмешательство, при котором иссекается лоскут ткани. Такой лоскут делится на&nbsp;более мелкие фрагменты, которые вживляются в&nbsp;место с&nbsp;алопецией. Несмотря на&nbsp;высокую эффективность методики, она считается достаточно травматичной, а&nbsp;также может провоцировать образование рубцовой ткани.
                  li Пересадка с&nbsp;использованием пробойника, который отделяет фрагменты тканей округлой формы. Это также достаточно травматичный метод, который приводит к&nbsp;образованию шрамов.

              +pageSubsection({ 'article': true }).article__inner
                h2#content4 Профилактика
                p Для того, чтобы избежать проблемы с&nbsp;облысением, можно придерживаться определенных рекомендаций, в&nbsp;числе которых:
                ul.list-marked 
                  li Отслеживание гормонального фона и&nbsp;его нормализация;
                  li Полноценный сон, отдых;
                  li Снижение стрессовых факторов;
                  li Использование качественных средств для мытья головы;
                  li Профилактические осмотры у&nbsp;врачей для того, чтобы исключить или своевременно выявить заболевания, которые могут спровоцировать алопецию;
                  li Здоровый образ жизни, физическая активность, что влияет на&nbsp;нормализацию кровообращения. 
              
              +pageSubsection({ 'article': true }).article__inner
                h2#content5 Коротко о&nbsp;главном
                .block-marked.block-marked--article
                  ol.list-numbered.list-numbered--article-numbers
                    li В&nbsp;борьбе с&nbsp;маскировкой алопеции можно воспользоваться различными средствами. Самый простой способ&nbsp;&mdash; это зачес, за&nbsp;счет которого можно скорректировать направление укладки, а&nbsp;также прикрыть небольшие дефекты;
                    li Камуфляжные средства&nbsp;&mdash; пудра, спрей, сухие волокна. Эти средства помогут визуально придать густоту и&nbsp;объем прическе, выравняют оттенок волос и&nbsp;зафиксируют укладку;
                    li Косметические, народные средства;
                    li В&nbsp;более запущенных случаях, когда имеются серьезные проблемы с&nbsp;алопецией, может потребоваться помощь врача, прием медикаментозных препаратов, косметологические процедуры или хирургическая пересадка.

              +pageSubsection({ 'article': true })
                .article__socials
                  .article__socials-list
                    .likely.likely-big
                      .odnoklassniki
                      .vkontakte
                      .whatsapp
                      .telegram
                  .article__socials-likes
                    .article__socials-likes-inner
                      button.article__socials-button.article__socials-button--like(type='button' data-likes='like')
                      span.article__socials-count.article__socials-count--like 45
                    .article__socials-likes-inner
                      button.article__socials-button.article__socials-button--dislike(type='button' data-likes='dislike')
                      span.article__socials-count.article__socials-count--dislike 0

              +pageSubsection({ 'article': true })
                h2 2 комментария
                .article__block
                  include /blocks/article-comments/article-comments 

              +pageSubsection({ 'article': true })
                h2 Оставьте комментарий
                +grid({'par-like': true}).article-form
                  +cell({tag: 'form', l:10, m:10, s:12, xs:12}).form.article-form__form
                    +grid.article-form__inner 
                      +cell({ l:12, m:12, s:12 }).article-form__item 
                        +formInput({type: 'textarea', name: 'message', placeholder: 'Текст комментария...'})
                      +cell({ l:6, m:6, s:6 }).article-form__item
                        +formInput({type: 'text', name: 'name', placeholder: 'Ваше имя'})
                      +cell({ l:6, m:6, s:6 }).article-form__item
                        +formInput({type: 'email', name: 'name', placeholder: 'Ваш email'})
                      +cell({ l:12, m:12, s:12 })
                        button(type='submit').btn.btn--secondary Отправить

        +pageSection    
          include /blocks/article-more/article-more         
              
  +style('inner') 
  +scripts(['article.js'])
