extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/cart-table/cart-table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Корзина'})
      +pageSection
        h1 Корзина
        +pageSubsection
          -
            const cart = [
              {
                name: 'Гребешок Toppik',
                quantity: 1,
                price: 550,
                discount: true,
              },
              {
                name: 'Загуститель Toppik - Гигант (55 гр.) Светлый блонд',
                colors: 613,
                quantity: 4,
                price: 6250,
              },
              {
                name: 'Загуститель Toppik - Гигант (55 гр.) Светлый блонд',
                deleted: true,
              },
            ]
          +cartTable(cart)
        +pageSubsection(class= gridClasses()): +cell({ l: 5, m: 6, s: 8, xs: 12 })
          +grid({ padding: 'y', align: 'flex-end' }).form
            +formInput({ type: 'text', label: 'Промокод для скидки:' })(class= cellClasses({ xs: 8, xs: 7 }))
            +cell({ s: 4, xs: 5 }): button(type='submit' style='margin-top: 0').btn Применить
        +pageSubsection
          +grid({justify:'flex-end'})
            +cell({m:4,s:6,xs:12}): a(href='').btn.btn--wide Оформить заказ
block end
  +style('inner')
