extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/breadcrumbs/breadcrumbs
include /blocks/catalog-category/catalog-category

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''

block content
  .container: .content
    +breadcrumbs({parents: ['Главная'], current: 'Каталог'})
    h1 Каталог
    +pageSection
      h2 Загустители волос
      +grid({ 'padding': 'y', 'par-like': true })
        +cell({ l: 4, s: 6, xs: 12 }): +catalogCategory({
          image: '/images/catalog/toppik.jpg',
          name: 'Камуфляж для волос',
        })
          ul.list-marked
            li Средство в виде <strong>порошка</strong> из натурального белкового кератина.
            li Наносится на волосы специальным пульвелизатором или при помощи специального сита.
            li Эффект сохраняется до мытья головы.
          
        +cell({ l: 4, s: 6, xs: 12 }): +catalogCategory({
          image: '/images/catalog/hairfor2.jpg',
          name: 'Спрей загуститель волос',
          settings: {'hairfor2': true}
        })
          ul.list-marked
            li Средство в форме <strong>спрея</strong>, микроволокна которого прочно соединяются с волосами.
            li Распыляется на обрабатываемом участке в направлении против роста волос.
            li Не боится влаги и пота.

        +cell({ l: 4, s: 6, xs: 12 }): +catalogCategory({
          image: '/images/catalog/dermmatch.jpg',
          name: 'Пудра загуститель для волос',
        })
          ul.list-marked
            li Маскирующая <strong>пудра</strong> для волос, состоит из растительных компонентов.
            li Наносится мокрым способом на кожу головы с помощью специальных аппликаторов.
            li Обладают повышенной водостойкостью, не смывается при контакте с водой.
    +pageSection
      h2 Другие товары
      +grid({ 'padding-y': true, 'par-like': true })
        +cell({ l: 4, s: 6, xs: 12 }): +catalogCategory({
          image: '/images/catalog/gray-sprey.jpg',
          name: 'Для окрашивания седых волос',
        })
        +cell({ l: 4, s: 6, xs: 12 }): +catalogCategory({
          image: '/images/catalog/accessories.jpg',
          name: 'Аксессуары',
        })
block end
  +style('inner')
