extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/products-list-element/products-list-element
include /blocks/catalog-subheader/catalog-subheader
include /blocks/block-marked/block-marked
include /blocks/catalog-menu/catalog-menu
include /blocks/list-advantages/list-advantages
include /blocks/palette/palette
include /blocks/iframe-responsive/iframe-responsive
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''

block content
  .container: .content
    +breadcrumbs({parents: ['Главная', 'Каталог'], current: 'Камуфляж для волос – Toppik'})
    h1 Камуфляж для волос – Toppik

    +pageSection.mobile-filter
      +pageSubsection.filter.mobile-filter__block
        button(type='button').hidden-hd.hidden-xl.hidden-l.hidden-m.btn.mobile-filter__button Фильтр
        .filter__inner 
          .filter__item.filter__item--type
            p.filter__title #[strong Тип]
            - for (i=0; i < 3; i++)
              +formInput({ type: 'checkbox', label: 'Порошок' })

          .filter__item.filter__item--brand
            p.filter__title #[strong Бренд]
            - for (i=0; i < 5; i++)
              +formInput({ type: 'checkbox', label: 'Dermmatch' })

          .filter__item.filter__item--color
            p.filter__title #[strong Цвет]
            .filter__color
              .form-input.form-input--checkbox.filter__checkbox-color
                input.form-input__field.filter__field-color(type="checkbox")#white
                label.form-input__label.filter__label-color(for='white' disabled) 
                  span.filter__color-image
                  span Белый
              - for (i=0; i < 13; i++)
                .form-input.form-input--checkbox.filter__checkbox-color
                  input.form-input__field.filter__field-color
                  label.form-input__label.filter__label-color
                    span.filter__color-image 
                    span Средне-коричневый

          .filter__item.filter__item--country
            p.filter__title #[strong Страна]
            - for (i=0; i < 4; i++)
              +formInput({ type: 'checkbox', label: 'Германия' })

          .filter__item.filter__item--availability
            p.filter__title #[strong В наличии]
            +formInput({ type: 'checkbox', label: 'В&nbsp;наличии' })

          .filter__item.filter__item--show
            button(type='button').btn.filter__show-btn Показать (33)
            button(type='button').btn.filter__show-btn.filter__show-btn--reset Сбросить

      +pageSubsection.sort.mobile-filter__block
        button(type='button').hidden-hd.hidden-xl.hidden-l.hidden-m.btn.mobile-filter__button Сортировка
        .sort__inner
          p.hidden-s.hidden-xs Сортировать:
          button(type='button').btn.sort__btn.sort__btn--active по популярности
          button(type='button').btn.sort__btn по возрастанию цены
          button(type='button').btn.sort__btn по убыванию цены

    +pageSection: +blockMarked: +grid({'padding-y': true})
      +cell({xs: 'auto'})
        -
          const categoriesMenu = {
            name: 'Категории',
            list: [
              { name: 'Загущение волос', href: '/', active: true },
              { name: 'Для окрашивания седых волос', href: '/' },
              { name: 'Аксессуары', href: '/' },
            ]
          }
        +catalogMenu(categoriesMenu)
      +cell({xs: 'auto'})
        -
          const typeMenu = {
            name: 'Типы',
            clarification: 'Что выбрать?',
            list: [
              { name: ' Камуфляж для волос – <strong>Toppik</strong>', href: '/', active: true },
              { name: 'Спрей загуститель волос – <strong>Hairfor2</strong>', href: '/' },
              { name: 'Пудра загуститель для волос – <strong>Dermach</strong>', href: '/' },
            ]
          }
        +catalogMenu(typeMenu)
    +pageSection.text-align--center
      +textMarked: a(href='#palette-block') Как подобрать цвет?
    +pageSection
      -
        const products = [
          {
            name: 'КАМУФЛЯЖ ДЛЯ РЕДКИХ ВОЛОС TOPPIK, ДЛЯ МУЖЧИН И ЖЕНЩИН – ЧЕРНЫЙ (BLACK)',
            price: 6250,
            sizes: [
              { name: '3 г', price: '800' }, 
              { name: '12 г', price: '2480' },
              { name: '27 г', price: '3880' },
              { name: '55 г', price: '6250' },
            ],
          },
          {
            name: 'КАМУФЛЯЖ ДЛЯ ВОЛОС TOPPIK (ТОППИК), ДЛЯ МУЖЧИН И ЖЕНЩИН – СРЕДНЕ-КОРИЧНЕВЫЙ',
            price: 800,
            sizes: [
              { name: '3 г', price: '800' },
              { name: '12 г', price: '2480' },
              { name: '27 г', price: '3880' },
              { name: '55 г', price: '6250' },
            ],
          },
          {
            name: 'ЗАГУСТИТЕЛЬ ДЛЯ ВОЛОС (HAIR BUILDING FIBERS) TOPPIK, ДЛЯ МУЖЧИН И ЖЕНЩИН – СРЕДНИЙ БЛОНД',
            price: 2480,
            sizes: [
              { name: '3 г', price: '800' },
              { name: '12 г', price: '2480' },
              { name: '27 г', price: '3880' },
              { name: '55 г', price: '6250' },
            ],
          },
          {
            name: 'Пудра-загуститель Toppik - Эконом (27 г)',
            price: 3880,
            sizes: [
              { name: '3 г', price: '800' },
              { name: '12 г', price: '2480' },
              { name: '27 г', price: '3880' },
              { name: '55 г', price: '6250' },
            ],
          },
        ]
      +grid({'padding-y': true, 'par-like': true})
        each product in products
          +cell({l: 3, m: 4, xs: product.sizes ? 12 : 6}): +productsListElement(product)
    +pageSection 
      -
        const accessories = [
          {
            name: 'Гребешок Toppik',
            price: 550,
            colours: false,
          },
          {
            name: 'Пульверизатор Toppik',
            price: 1880,
            colours: false,
          },
          {
            name: 'Закрепляющий лак - Эконом (118мл)',
            price: 1800,
            colours: false,
          },
        ]
      +grid({'padding-y': true, 'par-like': true})
        each product in accessories
          +cell({l: 3, m: 4, xs: product.sizes ? 12 : 6}): +productsListElement(product)
    // описание общей категории
    +pageSection
      +grid({ padding: 'y', 'par-like':true })
        +cell
          p Проблем с&nbsp;волосами множество: облысение, истончение, поредение, частичная потеря. Ранее их&nbsp;решение требовало множества финансов, времени, усилий, даже оперативного вмешательства. Сейчас сделать шевелюру гуще, придать визуальный объем помогут загустители&nbsp;&mdash; косметические средства уникального действия и&nbsp;натурального состава. 
        +cell({ l:6, m:9 })
          p
            +img({
              name: 'result',
              path: '/images/catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] }
              ]
              })(alt= 'Результат применения загустителей для волос' title='Результат применения загустителей для волос')
          p Результат применения загустителей для волос

      h2 Особенности загустителей
      p Продукты представлены разными косметическими составами, которые маскируют проблемные зоны на&nbsp;голове, утолщают локоны, корректируют оттенок. 
      p Средства состоят из&nbsp;натурального кератина&nbsp;&mdash; белка, входящего в&nbsp;состав волос и&nbsp;ногтей. За&nbsp;счет этого камуфляж обладает весомыми преимуществами:
      ul.list-marked 
        li безопасный: кератин не&nbsp;наносит вред организму (токсическое или аллергенное воздействие отсутствует), не&nbsp;препятствует росту волос;
        li эффективный: натуральные микрочастицы быстро и&nbsp;естественно вступают в&nbsp;реакцию с&nbsp;волосяной структурой;
        li состав обогащен индивидуально разработанными и&nbsp;подобранными компонентами, которые повышают комфорт и&nbsp;эффективность применения.

      p В&nbsp;результате нанесения средство добавляет объем прядям, идеально маскирует слишком большой пробор, рубцы, проплешины и&nbsp;прочие недостатки прически. 

      p Другие преимущества использования:
      ul.list-marked 
        li альтернатива парика, поскольку не&nbsp;вызывает потоотделение, воспаление кожи головы из-за постоянного трения;
        li возможность подобрать идеальный оттенок в&nbsp;тон родных волос;
        li идеальное решение на&nbsp;период лечения алопеции: удается быстро создать безупречную укладку, скрыть все следы облысения;
        li простое нанесение: обучаться применению камуфлирующих продуктов не&nbsp;нужно, нанесение аналогично большинству популярных стайлинговых средств, а&nbsp;также есть обучающие видео;
        li отсутствие ограничений для применения: за&nbsp;счет натурального состава подходит людям любого пола и&nbsp;возраста;
        li применение средства не&nbsp;накладывает ограничений на&nbsp;привычный образ жизни: можно заниматься спортом и&nbsp;другой активной деятельностью.
      p Важно понимать, что камуфлирующие продукты не&nbsp;избавляют от&nbsp;облысения, не&nbsp;остановят выпадения, а&nbsp;только выполняют эстетическую функцию. 

      h2 Принцип действия
      p Вне зависимости от&nbsp;формы выпуска, принцип действия загустителей схожий. Так, молекулы кератина силой статического электричества фиксируются и&nbsp;прочно удерживаются на&nbsp;прядях, тонируют кожу головы. За&nbsp;счет этого тонкие волосы становятся объемными, а&nbsp;прореженные участки&nbsp;&mdash; незаметными, приобретают здоровый вид. 
      p Силы статического электричества создают прочную фиксацию молекул кератина с&nbsp;прядями, за&nbsp;счет чего эффект сохраняется сутки и&nbsp;более. Результат применения средства не&nbsp;испортит ветер, влажность и&nbsp;любые внешние факторы. 
      p Поскольку продукт предназначен только для поверхностного нанесения, он&nbsp;не&nbsp;впитывается в&nbsp;структуру волос, кожу головы, потому безопасен в&nbsp;силу внешнего воздействия. 
      p Реже используются камуфляжи, которые содержат частички хлопка, окрашенного в&nbsp;тон прядей. Составы аналогичного принципа действия, которые подходят для придания волосам визуального совершенства.
      +grid({ padding: 'y', 'par-like':true })
        +cell({ m:9 })
          +img({
            name: 'principle',
            path: '/images/catalog/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1,2 ] }
            ]
            })(alt= 'Принцип действия загустителей' title='Принцип действия загустителей' width=750 height=200)
          p Принцип действия загустителей

      h2 Формы выпуска
      p Камуфлирующие продукты выпускают в&nbsp;следующих формах:
      +grid({padding: 'y', 'par-like':true })
        +cell({ m:4, s:6 })
          p 
            +img({
              name: 'powder-1',
              path: '/images/catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] }
              ]
              })(alt= 'Загуститель в форме порошка' title='Загуститель в форме порошка' width=550 height=375)
          +textMarked({ tag: 'p', size: 'medium', bold: true}) Порошок
          p Состоит из&nbsp;сухих волокон кератина, расфасованных в&nbsp;емкости с&nbsp;ситоподобными отверстиями. Наносится путем встряхивания, помогает скорректировать недостатки, притягиваясь к&nbsp;волосам. Помочь зафиксировать результат сможет лак, который также сделает укладку более завершенной.
        +cell({ m:4, s:6 })
          p 
            +img({
              name: 'powder-2',
              path: '/images/catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] }
              ]
              })(alt= 'Загуститель в форме пудры' title='Загуститель в форме пудры' width=550 height=375)
          +textMarked({ tag: 'p', size: 'medium', bold: true}) Пудра
          p Напоминает компактную пудру, наносится аналогичным способом на&nbsp;всю поверхность головы. Продукт используют для утолщения прядей, маскировки отросших корней, включая седину. Дополнительно средство затеняет кожу головы, избавляя от&nbsp;кожного блеска. Эффект сохраняется до&nbsp;первого мытья волос.
        +cell({ m:4, s:6 })
          p 
            +img({
              name: 'spray',
              path: '/images/catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] }
              ]
              })(alt= 'Загуститель в форме спрея' title='Загуститель в форме спрея' width=550 height=375)
          +textMarked({ tag: 'p', size: 'medium', bold: true}) Спрей
          p Расфасован в&nbsp;баллончики, наносится аналогично лаку для волос. Результат использования практически мгновенный. Уже спустя пару секунд волосы приобретают объем, нужный оттенок, участки поредения становятся гуще. 

      h2 Как правильно пользоваться загустителями?
      p Рассмотрим основные рекомендации по&nbsp;использованию на&nbsp;примере камуфляжа в&nbsp;форме порошка.
      ol.list-numbered
        li Вымойте волосы. Важно, чтобы кожа головы и&nbsp;корни были максимально очищены от&nbsp;загрязнений, кожного сала. За&nbsp;счет этого достигается оптимальное сцепление между частицами кератина и&nbsp;прядями. 
        li Полностью высушите волосы естественным способом или феном. Средство не&nbsp;нанести при наличии даже минимальной влажности. 
        li Подберите продукт оптимального оттенка или&nbsp;же смешайте несколько цветов, чтобы получить нужный. 
        li Переверните баночку, равномерно распределите средство по&nbsp;поверхности головы, выполняя встряхивающие движения. 
        li Зафиксируйте результат при помощи соответствующего лака, выпущенного тем&nbsp;же брендом. 
      +grid({ padding: 'y', 'par-like':true })
        +cell({ m:9 })
          +img({
            name: 'usage',
            path: '/images/catalog/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1,2 ] }
            ]
            })(alt= 'Один из вариантов нанесения камуфляжа для волос' title='Один из вариантов нанесения камуфляжа для волос' width=722 height=177)
          p Один из вариантов нанесения камуфляжа для волос

      h2 Часто задаваемые вопросы
      h3 Как смывать камуфляж?
      p Для этого достаточно теплой воды и&nbsp;обычного шампуня (лучше предпочтите продукт, предназначенный для волос, склонных к&nbsp;выпадению, истончению). 
      h3 Как подобрать средство правильно?
      p Отдайте предпочтение надежным, проверенным брендам. Форму выпуска подбирайте, ориентируясь на&nbsp;потребности. Спреем проходятся по&nbsp;труднодоступным участкам, пудра&nbsp;&mdash; идеальный выбор для коррекции в&nbsp;зоне пробора, макушки. 
      h3 Как правильно подобрать оттенок?
      p Обладательницам темных волос повезло больше всего: обычно оттенок удается подобрать тон в&nbsp;тон. Для светлых волос лучше выбрать средство на&nbsp;1-2 тона темнее (за&nbsp;счет этого обеспечен естественный вид в&nbsp;прикорневой зоне). Для яркой шевелюры выбор делают с&nbsp;колористом или профессиональными консультантами магазина. 
      h3 Насколько хватает одной баночки средства?
      p Обычно на&nbsp;полтора-два месяца. Расход камуфляжа зависит от&nbsp;частоты применения и&nbsp;размера участков с&nbsp;прореженными волосами. 
      h3 Подойдет&nbsp;ли продукт при полном облысении?
      p Если волосы отсутствуют полностью, применять загуститель бессмысленно. Он&nbsp;фиксируется именно на&nbsp;прядях, чтобы создать нужный визуальный эффект. 
      p Камуфлирующие составы&nbsp;&mdash; превосходное решение для желающих придать густоту шевелюре и&nbsp;замаскировать сильно поредевшие участки.

    // описание категории toppik 
    +pageSection
      +pageSubsection
        p Toppik — универсальный камуфляж для волос в 
          strong виде порошка
          | , маскирующий последствия облысения и разработанный специально для тонких и редеющих волос. Волокна загустителя имеют
          strong кератиновую основу
          | , наносятся на волосы за 25 секунд и полностью маскируют проблемные места даже на лобной части головы.
        p Загуститель волос Топпик может использоваться вместе с 
          strong любыми средствами для роста волос
          | . Разработан американской компанией «Spencer Forrest».
      +pageSubsection
        +listAdvantages([
          { title: '3 миллиона', text: 'человек используют Toppik по всему миру', sizes: { m: 6, s: 6, xs: 12 }, 'settings': {'icon': [true, 'globe']} },
          { title: '30 лет', text: 'исследований в основе успеха', sizes: { m: 6, s: 6, xs: 12 }, 'settings': {'icon': [true, 'microscope']} },
        ])
      +pageSubsection
        +listAdvantages([
          { title: 'Форма – порошок', text: 'Волокна, в состав которых входит чистый природный кератин. Это вещество, входящее в состав волос человека.' },
          { title: 'Способ нанесения', text: 'Наносится на волосы специальным пульвелизатором или при помощи специального сита' },
          { title: 'Безопасность', text: 'Протестирован трихологами и дерматологами по всему миру. Сертифицирован ассоциацией трихологов в США, Европе и России. Не вызывает раздражения и сухости кожи головы, безопасен для органов дыхания и не вызывает аллергических реакций.' },
        ], { 'text-align': 'left' })
      +pageSubsection#palette-block
        +listAdvantages([
          { title: '6 оттенков', text: 'Широкий выбор для точного подбора цвета. Вы можете смешивать цвета для получения цвета, идеально совпадающего с вашим.', sizes: { m: 8, s: 10, xs: 12 } },
        ], { 'justify': 'center' } )
      +pageSubsection
        -
          const palette = [
            { name: 'Черный', src: '/images/palette/1.png', detail: '/images/palette/1.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
            { name: 'Темно-коричневый', src: '/images/palette/2.png', detail: '/images/palette/2.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
            { name: 'Средне-коричневый', src: '/images/palette/3.png', detail: '/images/palette/3.jpg', desc: 'Для русых волос, волос медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
            { name: 'Светло-коричневый', src: '/images/palette/5.png', detail: '/images/palette/5.jpg', desc: 'Для русых или блондинов', result: '/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.png' },
            { name: 'Средний блонд', src: '/images/palette/6.png', detail: '/images/palette/6.jpg', desc: 'Для блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
            { name: 'Светлый блонд', src: '/images/palette/7.png', detail: '/images/palette/7.jpg', desc: 'Для перельных блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
          ]
        +palette(palette)
      +pageSubsection
        +grid({ 'padding-y': true })
          +cell({l: 5, xs:12})
            p
              picture
                source(srcset='/images/toppik-sizes.webp' type='image/webp')
                img(src='/images/toppik-sizes.jpg' alt='4 размера упаковки Toppik')
            +listAdvantages([
              { title: '4 размера упаковки', text: '3, 12, 27 и 55 г. Вы сами выбираете подходящий для вас размер. Упаковки 3 грамма хватает на 5-7 применений.', sizes: { xs: 12 } }
            ])
          +cell({l: 7, xs:12}): +youtubeResponsive('snQv91KWsaw')
    // описание категории hairfor
    +pageSection
      +pageSubsection
        p Hairfor2 — это запатентованное, водостойкое средство разных цветов для восстановления густоты волос для мужчин и женщин с выпадением волос и тонкими волосами с проблемными (просвечивающими) местами.
      +pageSubsection
        +listAdvantages([
          {
            title: 'Форма — спрей',
            text: 'Микроволокна очень прочно соединяются с собственными волосами и даже обладают водостойкостью'
          },
          {
            title: 'Способ нанесения',
            text: 'Распыляется на обрабатываемом участке в направлении против роста волос.'
          },
          {
            title: 'Безопасность',
            text: 'Hairfor2 был протестирован во многих клиниках мира и рекомендуется хирургами и после трансплантации волос.'
          },
        ], { 'text-align': 'left' })
      +pageSubsection#palette-block
        +listAdvantages([
          {
            title: '8 оттенков',
            text: 'Вы можете использовать одновременно два разных цвета, для получения более точного оттенка цвета ваших волос.',
            sizes: { m: 8, s: 10, xs: 12 }
          },
        ], { 'justify': 'center' } )
      +pageSubsection
        -
          const palette = [
            { name: '№ 10 черный', src: '/images/palette/hairfor-black.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
            { name: '№ 11 черно-коричневый', src: '/images/palette/hairfor-black-brown.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
            { name: '№ 22 темно-коричневый', src: '/images/palette/hairfor-dark-brown.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
            { name: '№ 24 шатен', src: '/images/palette/hairfor-med-brown.jpg', desc: 'Для каштановых, темных волос, медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
            { name: '№ 26 светло-коричневый', src: '/images/palette/hairfor-light-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
            { name: '№ 32 темно-русый', src: '/images/palette/hairfor-dark-blonde.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
          ]
        +palette(palette)
      +pageSubsection
        +grid({ 'padding-y': true, 'justify': 'center' })
          +cell({ l: 8, m: 10, xs: 12 })
            +youtubeResponsive('mzYJhhCv30Q')
    // описание категории dermmatch
    +pageSection
      +pageSubsection
        p Dermatch — маскирующая пудра для волос. Предназначена для маскировки облысения, поредения в зоне тонких и редких волос, подходит при использовании на небольших очагах диффузной алопеции.
      +pageSubsection
        +listAdvantages([
          {
            title: 'Форма — пудра',
            text: 'Выпускается в виде твердого порошка и <strong>обладают повышенной водостойкостью</strong>, не смывается при контакте с водой.'
          },
          {
            title: 'Способ нанесения',
            text: 'Данная пудра наносится <strong>мокрым способом</strong> на кожу головы с помощью специальных аппликаторов. При нанесении на волосы, утолщает их по принципу туши для ресниц, что придает волосам дополнительный объем.'
          },
          {
            title: 'Безопасность',
            text: 'Содержит смягчающие средства, растительные компоненты и другие натуральные вещества, <strong>полезные для здоровья</strong>. Некоторые из них успокаивают и увлажняют поверхность кожи, дают дополнительный объем.'
          },
        ], { 'text-align': 'left' })
      +pageSubsection#palette-block
        +listAdvantages([
          { title: '8 оттенков', text: 'Она подходит под любой тип волос и кожи, легко наносится и идеально совпадает по цвету с волосами любого оттенка.', sizes: { m: 8, s: 10, xs: 12 } },
        ], { 'justify': 'center' } )
      +pageSubsection
        -
          const palette = [
            { name: 'Черный', src: '/images/palette/dermmatch-black.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
            { name: 'Темно-коричневый', src: '/images/palette/dermmatch-dark-brown.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
            { name: 'Средне-коричневый', src: '/images/palette/dermmatch-medium-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
            { name: 'Светло-коричневый', src: '/images/palette/dermmatch-light-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
            { name: 'Рыжий', src: '/images/palette/dermmatch-red.jpg', desc: 'Для волос медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.png' },
            { name: 'Платиновый блонд', src: '/images/palette/dermmatch-platinum-blonde.jpg', desc: 'Для блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
            { name: 'Серый', src: '/images/palette/dermmatch-silver-gray.jpg', desc: 'Для обладателей седых волос', result: '/images/kak-podobrat-tsvet/dlya-sedyh.jpg' },
            // { name: 'Белый', src: '/images/palette/dermmatch-white.jpg', desc: 'Для блондинов и обладателей седых волос', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
          ]
        +palette(palette)
      +pageSubsection
        +grid({ 'padding-y': true, align: 'flex-end' })
          +cell({ l: 6, xs: 12 })
            +listAdvantages([
              {
                title: 'Экономичный расход',
                text: 'В среднем одной пудры «DermMatch» хватает на 6-8 месяцев.',
                sizes: { xs: 12 },
              },
            ], { 'justify': 'center' } )
            p: picture
              source(srcset='/images/dermmatch-applicators.webp' type='image/webp')
              img(src='/images/dermmatch-applicators.jpg')
          +cell({ l: 6, xs: 12 }): +youtubeResponsive('1_O0A2LZpgE')
block end
  +style('inner')
