extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-register/form-register
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Вход на сайт'})
      h1 Изменение пароля
      +textMarked({ tag: 'p', color: 'green' }) Пароль успешно сменен.
        br
        | На ваш EMail высланы новые регистрационные данные.
      +textMarked({ tag: 'p' }) Смена пароля
      +grid()
        +cell({m:4,s:8,xs:12})
          +formRegister({
            fields: [
              { label: 'Логин', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN', value: 'test', required: true },
              { label: 'Контрольная строка', type: 'text', name: 'USER_CHECKWORD', id: 'USER_LOGIN', value: 'asdasdasdasdasdasd123asd31easd', required: true },
              { label: 'Новый пароль', type: 'password', name: 'USER_PASSWORD', id: 'USER_LOGIN', required: true },
              { label: 'Подтверждение пароля', type: 'password', name: 'USER_CONFIRM_PASSWORD', id: 'USER_PASSWORD', required: true },
            ],
            submit: 'Изменить пароль',
          })
      p Пароль должен быть не менее 6 символов длиной.
      p
        span.form-register__required-mark *
        |  — обязательные поля
      p: strong
        a(href='') Авторизация
block end
  +style('inner')
