extends /blocks/layout-columns/layout-columns

include /blocks/page-section/page-section
include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная', 'О нас'], current: 'Дистрибьюторы'})
  h1 Наши адреса в других городах
  h2 Москва
  h3 Центр эстетики волос «ГАММА»
  p Средний Тишинский пер., д. 10
    br
    | Тел.: (499) 766-24-88; гор. линия (495) 782-53-88
    br
    | Скайп: gamma_20
    br
    | E-mail: 
    a(href='mailto:info@haircenters.ru') info@haircenters.ru
    br
    | Сайт: 
    a(href='http://haircenters.ru/' target='_blank') haircenters.ru 
  h2 Уфа
  h3 Центр дизайна волос
  p г. Уфа, ул. Бабушкина, д. 52
    br
    | Телефоны: 8 (347) 2574-888, 8 (919) 6132-810
    br
    | Режим работы с 10 до 21, без выходных.
  h3 Центр дизайна волос
  p г. Уфа, ул. Менделеева, д. 150/4
    br
    | Телефоны: 8 (347) 2574-888, 8 (919) 6132-810
    br
    | Cайты: 
    a(href='http://www.elitehair.ru/' target='_blank') www.elitehair.ru
    | , 
    a(href='http://www.poteryavolos.ru/' target='_blank') www.poteryavolos.ru 
  h2 Иваново
  h3 Центр дизайна волос
  p г. Иваново, ул. Калинина д. 17. 
    br
    | тел. 8 (920) 348-71-76, +7 (4932) 57-71-76
    br
    | Группа Вконтакте: 
    a(href='http://vk.com/club31036846' target='_blank') vk.com/club31036846
block end
  +style('inner')
