extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/breadcrumbs/breadcrumbs
include /blocks/list-sequence/list-sequence
include /blocks/block-marked/block-marked
include /blocks/home-news/home-news
include /blocks/palette/palette
include /blocks/iframe-responsive/iframe-responsive
include /blocks/products-list-element/products-list-element
include /blocks/before-after/before-after

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Для женщин'})
      h1 Загуститель Toppik для женщин
      p Загуститель волос Toppik — средство для маскировки последствий облысения номер 1 в мире. Разработанный американской компанией «Spencer Forrest», Toppik быстро завоевал доверие у пользователей по всему миру, благодаря простоте и удобству использования. Кератиновые волокна Toppik наносятся на волосы с помощью насадки-аппликатора или специального сита. 25 секунд — и никто не заметит поредевших или тонких волос.
      h2 Загуститель волос — густые волосы всего за 25 секунд
      +grid({'padding-y':true, 'justify': 'center', 'par-like': true})
        +cell({m:6,s:6,xs:12})
          <img-comparison-slider>
            img(slot="first" src='/images/woman-before.webp' alt='')
            img(slot="second" src='/images/woman-after.webp' alt='')
          </img-comparison-slider>
      h2 Естественный и безопасный
      p Главный компонент Toppik — чистый кератин, входящий в структуру волос. Благодаря этому, Toppik эффективнее и безопаснее синтетических загустителей. Продукт сертифицирован для применения трихологами США, Европы и России. Toppik уже выбрало более трех миллионов человек в Европе, США, Канаде, Австралии, и это число постоянно растет. Загуститель волос проще и дешевле, чем искусственные и натуральные парики, не требует кардинальных решений, как при использовании систем волос или пересадке волос и может использоваться вместе с любыми средствами лечения облысения.
      h2 Что говорят о Toppik наши клиенты?
      -
        const reviews = {
          list: [
            {
              'title': 'Елена',
              'body': [
                {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
              ],
              date: '11.03.2016',
            },
            {
              'title': 'Елена',
              'body': [
                {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
              ],
            },
            {
              'title': 'Валерия',
              'body': [
                {tag: 'p', content:'Никогда не думала, что получить роскошные, густые волосы можно, просто распылив спрей из баллончика. Toppik мне показала подруга-парикмахер. Не увидела бы своими глазами - не поверила бы. Еще и цена у средства очень и очень привлекательная. В итоге, ...'},
              ],
              date: '01.11.2015',
            },
            {
              'title': 'Сергей',
              'body': [
                {tag: 'p', content:'Пользуюсь топпиком регулярно на протяжении нескольких лет. Сначала сестра привозила из-за границы, а теперь и у нас в продаже появился. Очень рад этому. Ранее облысение у меня наследственное, а при моей работе плохо выглядеть не рекомендуется. Да и н...'},
              ],
              date: '14.10.2015',
            },
          ],
          readmore: 'Читать все отзывы'
        }
      +blockMarked({'padding-y':'big', 'in-grid': true}): +homeNews(reviews)
      h2 Выберите свой Toppik
      p Загуститель волос Toppik выпускается девяти разных оттенков для облегчения подбора нужного цвета. Даже если у ваших волос редкий отлив — вы сможете добиться результата, комбинируя несколько оттенков.
      -
        const palette = [
          {
            name: '',
            src: '/images/palette/1.png',
            detail: '/images/palette/1.jpg',
          },
          {
            name: '',
            src: '/images/palette/2.png',
            detail: '/images/palette/2.jpg',
          },
          {
            name: '',
            src: '/images/palette/3.png',
            detail: '/images/palette/3.jpg',
          },
          {
            name: '',
            src: '/images/palette/4.png',
            detail: '/images/palette/4.jpg',
          },
          {
            name: '',
            src: '/images/palette/5.png',
            detail: '/images/palette/5.jpg',
          },
          {
            name: '',
            src: '/images/palette/6.png',
            detail: '/images/palette/6.jpg',
          },
          {
            name: '',
            src: '/images/palette/7.png',
            detail: '/images/palette/7.jpg',
          },
          {
            name: '',
            src: '/images/palette/8.png',
            detail: '/images/palette/8.jpg',
          },
        ]
      +palette(palette)
      h2 Практичный и надежный
      p Toppik не оставляет следов на теле и одежде, и устойчив к ветру, солнцу и дождю. Благодаря этому, вы можете ничем не ограничивать себя, используя загуститель. Вы можете носить любую одежду, заниматься спортом, делать все, что вы делаете обычно, не опасаясь за свою прическу. Кератиновые волокна Toppik надежно удерживаются на волосах за счет естественного электростатического эффекта. Волокна загустителя надежно переплетаются с волосами и создают эффект объема, делая ваши волосы густыми и пышными.
      +youtubeResponsive('snQv91KWsaw')
      h2 Густые волосы за 25 секунд
      p Одна из причин, по которой выбирают Toppik — простота использования. Вы наносите загуститель самостоятельно, без посторонней помощи, тратя на это не больше 25 секунд. Для большего удобства используйте аппликатор-распылитель или специальное сито. Обе насадки входят в комплект поставки Toppik.
      +youtubeResponsive('BqFUOEvOVLs')
      h2 Как это работает
      -
        const sequence = [
          {
            'title': 'Помойте голову, высушите и уложите волосы',
            'image': ['/images/w01.png'],
          },
          {
            'title': 'Нанесите загуститель на проблемные зоны',
            'image': ['/images/w02.png'],
          },
          {
            'title': 'Пригладьте волосы. Готово!',
            'image': ['/images/w03.png'],
          }, 
        ]
      +listSequence(sequence)
      h2 Фото до и после применения «TOPPIK»
      -
        const beforeAfter = [
          {
            name: 'Антонина',
            desc: 'Домохозяйка, 59 лет',
          },
          {
            name: 'Светлана',
            desc: 'Скрипачка, 42 года',
          },
          {
            name: 'Ирина',
            desc: 'Учитель младших классов, 34 года',
          },
        ]
      +grid({'par-like':true, 'padding-y': true})
        - i = 0
        each item in beforeAfter
          +cell({m:4,s:6,xs:12})
            -
              i += 1;
              item.fancybox = i;
            +beforeAfter(item)
        +cell({xs:12})
          +grid({'par-like':true, 'padding-y': true, 'justify': 'center'})
            +cell({m:4,s:6,xs:12})
              a(href='/do-i-posle/').btn.btn--wide Смотреть все результаты
      h2 4 Факта о Toppik
      ul.list-marked
        li
          strong Безопасен.
          |  Toppik состоит из натуральных элементов. Основа формулы — белковый кератин, содержащийся в человеческих волосах. Загуститель волос не вызывает раздражения и сухости кожи головы, безопасен для органов дыхания, не вызывает аллергических реакций. Toppik протестирован и одобрен дерматологами и трихологами в США, Европе и России.
        li
          strong Разработан в США.
          |  В отличие от синтетических загустителей волос, производящихся преимущественно в Китае и Японии, Toppik — продукт американской компании «Spencer Forrest». Созданию загустителя предшествовало около 30 лет исследований, а лицо компании — ее основатель Марк Кресс. Марк сам страдал от облысения, смог найти эффективное средство его маскировки, и на себе доказать эффективность своего продукта
        li
          strong Естественный и незаметный.
          |  Волокна Toppik незаметны на волосах даже с близкого расстояния. Ваши волосы выглядят естественно всегда, в отличие от парика
        li
          strong Универсальный.
          |  Toppik подходит для любого типа волос, используется не только для маскировки облысения, но и для придания объема тонким и редеющим волосам. 9 оттенков загустителя позволяют подобрать Toppik для любых волос — в том числе седых и сложных оттенков
      h2 4 размера упаковки: от пробника до постоянного использования
      p Toppik выпускается в четырех разных размерах упаковки. Чтобы убедиться в эффективности загустителя, попробуйте Toppik Мини. Или сразу закажите подходящий вам размер.
      h2 Гарантия возврата денег
      p Если по какой-то субъективной причине вас не устроит эффект от применения Toppik, который уже успели оценить больше трех миллионов мужчин и женщин во всем мире — в течение 60 дней после покупки мы вернем вам деньги.
      h2 Попробовать загуститель Toppik
      -
        const products = [
          {
            name: 'Пудра-загуститель Toppik - Гигант (55 гр.)',
            price: 6250,
          },
          {
            name: 'Пудра-загуститель Toppik - Мини (3 гр.)',
            price: 800,
          },
          {
            name: 'Пудра-загуститель Toppik - Стандартный (12 гр.)',
            price: 2480,
          },
          {
            name: 'Пудра-загуститель Toppik - Эконом (27 гр.)',
            price: 3880,
          },
        ]
      +grid({'padding-y': true, 'par-like': true})
        each product in products 
          +cell({m:3,s:3,xs:6}): +productsListElement(product)
block end
  +style('inner')
