extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/breadcrumbs/breadcrumbs
include /blocks/list-sequence/list-sequence
include /blocks/block-marked/block-marked
include /blocks/home-news/home-news
include /blocks/palette/palette
include /blocks/iframe-responsive/iframe-responsive
include /blocks/products-list-element/products-list-element
include /blocks/before-after/before-after

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Для мужчин'})
      h1 Загуститель Toppik для мужчин
      h2 4 движения до густых волос
      p Существует масса средств для маскировки признаков облысения в ходе лечения. К сожалению, наиболее эффективные из них, к примеру, системы замещения волос, применяются только на конечной стадии, когда надежды на благоприятный исход уже не остаётся. На начальных же стадиях, когда лечение ещё возможно, используются дорогостоящие и не самые удобные варианты, такие как искусственные и натуральные парики. Так было, пока на российском рынке не появился Toppik — доступное, простое и практичное средство маскировки тонких и редеющих волос.
      +grid({'padding-y':true, 'justify': 'center', 'par-like': true})
        +cell({m:6,s:6,xs:12})
          <img-comparison-slider>
            img(slot="first" src='/images/man-before.webp' alt='')
            img(slot="second" src='/images/man-after.webp' alt='')
          </img-comparison-slider>
      p Загуститель волос Toppik — разработка американской компании Forrest Spencer. Больше двадцати лет специалисты компании искали эффективное и безопасное средство, способное замаскировать тонкие, редкие и редеющие волосы и придать уверенности в себе их обладателям.
      p Результатом стал натуральный загуститель волос, с формулой, основанной на белковом кератине — элементе, входящим в состав здоровых волос. Загуститель представляет собой кератиновые волокна, наносящиеся на волосы при помощи специальной насадки-аппликатора или специального сита, помещенные в удобную упаковку.
      h2 Густые волосы в четыре движения
      p Toppik практичен и прост в применении. На то, чтобы нанести волокна на волосы, уходит не больше двадцати пяти секунд. Волокна надежно фиксируются при помощи электростатического эффекта, выглядят естественно даже с близкого расстояния и не боятся ни солнечного света, ни дождя, ни прикосновений. Toppik не оставляет следов на коже и одежде. Вы просто наносите загуститель на волосы — и забываете о нем.
      h2 Как это работает
      -
        const sequence = [
          {
            'title': 'Помойте голову, высушите и уложите волосы',
            'image': ['/images/m01.png'],
          },
          {
            'title': 'Нанесите загуститель на проблемные зоны',
            'image': ['/images/m02.png'],
          },
          {
            'title': 'Пригладьте волосы. Готово!',
            'image': ['/images/m03.png'],
          }, 
        ]
      +listSequence(sequence)
      h2 Фото до и после применения «TOPPIK»
      -
        const beforeAfter = [
          {
            name: 'Антонина',
            desc: 'Домохозяйка, 59 лет',
          },
          {
            name: 'Светлана',
            desc: 'Скрипачка, 42 года',
          },
          {
            name: 'Ирина',
            desc: 'Учитель младших классов, 34 года',
          },
        ]
      +grid({'par-like':true, 'padding-y': true})
        - i = 0
        each item in beforeAfter
          +cell({m:4,s:6,xs:12})
            -
              i += 1;
              item.fancybox = i;
            +beforeAfter(item)
        +cell({xs:12})
          +grid({'par-like':true, 'padding-y': true, 'justify': 'center'})
            +cell({m:4,s:6,xs:12})
              a(href='/do-i-posle/').btn.btn--wide Смотреть все результаты
      h2 5 причин попробовать Toppik
      ul.list-marked
        li
          strong Безопасен.
          |  Продукция Toppik протестирована и одобрена Ассоциацией трихологов в Европе и США. В России продукт получил декларацию соответствия нормам безопасности для парфюмерно-косметической продукции. Toppik создан из натуральных компонентов, не вызывает раздражения, сухости кожи головы, аллергических реакций. Полностью безопасен для дыхательных путей.
        li
          strong Качество.
          |  В то время как большинство загустителей волос сделаны в Японии и Китае из синтетических веществ, Toppik разработан в США. Марк Кресс — основатель компании Forrest Spencer сам использует Toppik, лично демонстрируя эффективность продукции своего бренда .
        li
          strong Удобство.
          |  Toppik выпускается в упаковке четырех разных размеров, легко помещается в сумочку или карман пиджака. Использовать Toppik можно в любых условиях, не боясь того, что волокна могут осыпаться и испачкать тело или одежду. Загуститель не оставляет следов и надежно держится на голове.
        li
          strong Доступность.
          |  Стоимость Toppik минимальна, особенно в сравнении с другими средствами маскировки редеющих волос или последствий облысения. К примеру, парик из натуральных волос обойдется вам в сумму от 4 до 100 тысяч рублей, в то время как самый дорогой Toppik стоит 5280 рублей.
        li
          strong Моментальный эффект.
          |  Нанесите Toppik. Пригладьте волосы. Готово! 25 секунд — и ваши волосы густые и естественные.
      +youtubeResponsive('snQv91KWsaw')
      h2 Что говорят о Toppik наши клиенты?
      -
        const reviews = {
          list: [
            {
              'title': 'Елена',
              'body': [
                {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
              ],
              date: '11.03.2016',
            },
            {
              'title': 'Елена',
              'body': [
                {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
              ],
            },
            {
              'title': 'Валерия',
              'body': [
                {tag: 'p', content:'Никогда не думала, что получить роскошные, густые волосы можно, просто распылив спрей из баллончика. Toppik мне показала подруга-парикмахер. Не увидела бы своими глазами - не поверила бы. Еще и цена у средства очень и очень привлекательная. В итоге, ...'},
              ],
              date: '01.11.2015',
            },
            {
              'title': 'Сергей',
              'body': [
                {tag: 'p', content:'Пользуюсь топпиком регулярно на протяжении нескольких лет. Сначала сестра привозила из-за границы, а теперь и у нас в продаже появился. Очень рад этому. Ранее облысение у меня наследственное, а при моей работе плохо выглядеть не рекомендуется. Да и н...'},
              ],
              date: '14.10.2015',
            },
          ],
          readmore: 'Читать все отзывы'
        }
      +blockMarked({'padding-y':'big', 'in-grid': true}): +homeNews(reviews)
      h2 Выберите свой Toppik
      p Загуститель волос Toppik выпускается девяти разных оттенков для облегчения подбора нужного цвета. Даже если у ваших волос редкий отлив — вы сможете добиться результата, комбинируя несколько оттенков.
      -
        const palette = [
          {
            name: '',
            src: '/images/palette/1.png',
            detail: '/images/palette/1.jpg',
          },
          {
            name: '',
            src: '/images/palette/2.png',
            detail: '/images/palette/2.jpg',
          },
          {
            name: '',
            src: '/images/palette/3.png',
            detail: '/images/palette/3.jpg',
          },
          {
            name: '',
            src: '/images/palette/4.png',
            detail: '/images/palette/4.jpg',
          },
          {
            name: '',
            src: '/images/palette/5.png',
            detail: '/images/palette/5.jpg',
          },
          {
            name: '',
            src: '/images/palette/6.png',
            detail: '/images/palette/6.jpg',
          },
          {
            name: '',
            src: '/images/palette/7.png',
            detail: '/images/palette/7.jpg',
          },
          {
            name: '',
            src: '/images/palette/8.png',
            detail: '/images/palette/8.jpg',
          },
        ]
      +palette(palette)
      h2 Гарантия возврата денег
      p Продукцией Toppik пользуются более трех миллионов человек во всем мире — в Европе, США, Австралии и Канаде. Теперь Toppik доступен и в России. Попробуйте Toppik, а если вдруг по какой-то причине эффект вас не устроит — в течение 60 дней с момента покупки мы вернем вам деньги.
      p Мы уверены в качестве Toppik. Убедитесь в нем и вы.
      h2 Попробовать загуститель Toppik
      -
        const products = [
          {
            name: 'Пудра-загуститель Toppik - Гигант (55 гр.)',
            price: 6250,
          },
          {
            name: 'Пудра-загуститель Toppik - Мини (3 гр.)',
            price: 800,
          },
          {
            name: 'Пудра-загуститель Toppik - Стандартный (12 гр.)',
            price: 2480,
          },
          {
            name: 'Пудра-загуститель Toppik - Эконом (27 гр.)',
            price: 3880,
          },
        ]
      +grid({'padding-y': true, 'par-like': true})
        each product in products 
          +cell({m:3,s:3,xs:6}): +productsListElement(product)
block end
  +style('inner')
