extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/before-after/before-after


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Отзывы'})
      h1 Фото до и после применения «Toppik»
      +pageSection
        h2 Истории наших клиентов
        -
          const beforeAfter = [
            {
              name: 'Галина',
              desc: '21 год',
              problem: 'Загущение линии пробора',
              color: '',
            },
            {
              name: 'Лидия',
              desc: '40 лет',
              problem: 'Редкие волосы',
              color: '',
            },
            {
              name: 'Светлана',
              desc: '50 лет',
              problem: 'Маскировка проблемной зоны кожи головы',
              color: '',
            },
            {
              name: 'Антонина',
              desc: 'Домохозяйка, 59 лет',
              problem: 'диффузная алопеция, значительное поредение и истончение волос в области пробора',
              color: {
                name: 'Средне-коричневый',
                src: '/images/palette/3.jpg',
              },
            },
            {
              name: 'Владимир',
              desc: 'Инженер, 55 лет',
              problem: 'начальная стадия андрогенетической алопеции, локальное поредение волос в верхнетеменной зоне',
              color: {
                name: 'Седой',
                src: '/images/palette/8.jpg',
              },
            },
            {
              name: 'Владислав',
              desc: 'Директор, 37 лет',
              problem: 'диффузная алопеция, значительное поредение и истончение волос в области пробора',
              color: {
                name: 'Средне-коричневый',
                src: '/images/palette/3.jpg',
              },
            },
            {
              name: 'Андрей',
              desc: 'Программист, 35 лет',
              problem: 'начальная стадия андрогенетической алопеции, значительное поредение и истончение волос в верхнетеменной области',
              color: {
                name: 'Темно-коричневый',
                src: '/images/palette/2.jpg',
              },
            },
            {
              name: 'Светлана',
              desc: 'Скрипачка, 42 года',
              problem: 'диффузная алопеция, выраженное истончение и поредение волос особенно в области пробора',
              color: {
                name: 'Средне-коричневый',
                src: '/images/palette/3.jpg',
              },
            },
            {
              name: 'Станислав',
              desc: 'Менеджер, 40 лет',
              problem: 'прогрессирующая андрогенетическая алопеция в макушечной области',
              color: {
                name: 'Средне-коричневый',
                src: '/images/palette/3.jpg',
              },
            },
            {
              name: 'Ирина',
              desc: 'Учитель младших классов, 34 года',
              problem: 'диффузная алопеция, частичное облысение',
              color: {
                name: 'Средне-коричневый',
                src: '/images/palette/3.jpg',
              },
            },
          ]
        +grid({'par-like':true, 'padding-y': true})
          - i = 0
          each item in beforeAfter
            +cell({m:4,s:6,xs:12})
              -
                i += 1;
                item.fancybox = i;
              +beforeAfter(item)
      +pageSection
        +grid({'justify': 'center'}): +cell({m:4,s:6,xs:12}): a(href='/catalog/').btn.btn--wide Перейти в каталог загустителей
      +pageSection
        p Если вы сомневаетесь в выборе цвета, то можете отправить фото ваших волос и мы подберем наиболее подходящий цвет. 
          a(href='/kak-eto-rabotaet/kak-podobrat-tsvet/') Просто заполните форму
block end
  +style('inner')
