extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-register/form-register
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Вход на сайт'})
      h1 Запрос пароля
      +textMarked({ tag: 'p', color: 'green' }) Контрольная строка, а также ваши регистрационные данные были высланы по E-Mail. Пожалуйста, дождитесь письма, так как контрольная строка изменяется при каждом запросе.
      +textMarked({ tag: 'p' }) Выслать контрольную строку
      p Если вы забыли пароль, введите логин или E-Mail.
      p Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
      +grid()
        +cell({m:4,s:8,xs:12})
          +formRegister({
            fields: [
              {label: 'Логин', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN'},
              'или',
              {label: 'E-Mail:', type: 'email', name: 'USER_PASSWORD', id: 'USER_PASSWORD'},
            ],
            submit: 'Выслать',
          })
      p: strong
        a(href='') Авторизация
block end
  +style('inner')
