extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/iframe-responsive/iframe-responsive
include /blocks/list-advantages/list-advantages
include /blocks/list-sequence/list-sequence
include /blocks/home-news/home-news
include /blocks/products-list-element/products-list-element
include /blocks/palette/palette
include /blocks/tabs/tabs
include /blocks/form-input/form-input
include /blocks/block-marked/block-marked
include /blocks/wholesale-product/wholesale-product
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container.banner-hairfor
      .content
        +grid({ 'nopadding':true, align: 'flex-end' })
          +cell({ m:6 }).banner-hairfor__inner
            +img({
              name: 'logo',
              path: '/images/banner-hairfor/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Логотип Hairfor2').banner-hairfor__logo
            .banner-hairfor__date до 31 января
            .banner-hairfor__title #[strong Уронили цены на спрей-загуститель!] 
            .banner-hairfor__promo 
              span.banner-hairfor__discount -20%
              .banner-hairfor__text до конца месяца на Hairfor2 400 мл по промокоду #[strong Zima]
            a(href='/catalog/kamuflyazh/sprey-hairfor2/').btn.btn--secondary Купить по акции
          +cell({ m:6 })
            +img({
              name: 'banner-hairfor',
              path: '/images/banner-hairfor/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] },
              ]
            })(alt= 'Скидка на любой бренд загустителей').banner-hairfor__image

  +pageSection.container.banner-may
    .content.banner-may__inner
      .banner-may__title Майский ЦЕНОПАД
      .banner-may__discount до #[span -30%]
      .banner-may__promocode на все загустители для волос #[br] по промокоду #[span SALE]
      .banner-may__duration с 13 до 26 мая
      a(href='#banner-info' data-modal).banner-may__link Подробности акции
      +modal#banner-info
        ul.list-marked.page-subsection
          li -30% на все загустители Hairfor2
          li -20% на загуститель Toppik производства Китай
          li -10% на остальные позиции
        +grid({ justify: 'center', 'nopadding': true }).page-subsection
          +cell({ m:6, s:7, tag: 'a' })(href='https://zagustitelvolos.com/catalog/kamuflyazh/').btn Перейти в каталог

  +pageSection
    .container.banner-new-year
      .content
        .banner-new-year__container
          //- p.banner-new-year__title В преддверии #[span 2024] года...
          p.banner-new-year__discount Дарим #[span скидку&nbsp;30%] на ВСЕ бренды в магазине загустителей для волос!
          a(href='/catalog/').btn.btn--secondary Воспользоваться скидкой

  +pageSection
    .container.banner-hairfor
      .content
        +grid({ 'nopadding':true })
          +cell({ m:5 }).banner-hairfor__inner
            .banner-hairfor__description Осенний ценопад
            .banner-hairfor__date с 17 по 31 октября
            .banner-hairfor__title #[b -30%] на&nbsp;#[span все] загустители для&nbsp;волос
            .banner-hairfor__promo по промокоду #[span October]
            a(href='/catalog/').btn.banner-hairfor__btn Купить по акции
            //- p.banner-hairfor__advertising Реклама: Рекламодатель ООО &laquo;Центр Дизайна Волос&raquo;, ИНН 7839080306, erid:&nbsp;e-A7I-3110
          +cell({ m:7 }).banner-hairfor__image
            +img({
              name: 'banner-hairfor-1',
              path: '/images/banner-hairfor/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] },
              ]
            })(alt= 'Скидка на любой бренд загустителей')

  +pageSection
    .container.banner-hairfor
      .content
        +grid({ 'nopadding':true, align: 'flex-end' })
          +cell({ m:6 }).banner-hairfor__inner
            +img({
              name: 'logo',
              path: '/images/banner-hairfor/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt= 'Логотип Hairfor2').banner-hairfor__logo
            .banner-hairfor__date c 1 по 31 августа
            .banner-hairfor__title #[strong Летние скидки на спрей-загуститель!] 
            .banner-hairfor__promo 
              span.banner-hairfor__discount -10%
              .banner-hairfor__text до конца месяца на Hairfor2 300/400 мл по промокоду #[strong August]
            .banner-hairfor__promo #[span.banner-hairfor__discount -15%] при оплате наличными в салоне 
            a(href='/catalog/kamuflyazh/sprey-hairfor2/').btn.btn--secondary Купить по акции
          +cell({ m:6 })
            +img({
              name: 'banner-hairfor',
              path: '/images/banner-hairfor/',
              formats: [
                { ext: 'png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1,2 ] },
              ]
            })(alt= 'Скидка на любой бренд загустителей').banner-hairfor__image

  +pageSection
    .container
      .content
        p: a(href='article-spray.html') Статья Лучшие спреи для объема волос — article-spray.html
        p: a(href='article-remove-bold.html') Статья как убрать лысину и залысины на голове у мужчины — article-remove-bold.html

  +pageSection
    .container.banner-gifts
      .content
        .banner-gifts__inner
          p.banner-gifts__duration c 11 по 17 марта
          p.banner-gifts__title #[mark #[strong Скидка 25%]] на пудру и порошок для загущения волос бренда #[strong Fidentia] по промокоду #[strong Mart]
          p.banner-gifts__discount #[strong Не упусти выгоду до 1000 ₽!]
          a(href='/catalog/kamuflyazh/filter/brand-is-fidentia/apply/').btn.btn--secondary Выбрать загуститель
          //- p.banner-gifts__clarification *акция действует как в салоне, так в интернет-магазине

  +pageSection
    .container.banner-shopping
      .container.banner-shopping__bg
        .content
          p.banner-shopping__title Всемирный день шоппинга
          p.banner-shopping__discount #[span -50%] на спрей-загуститель HAIRFOR2 (300 мл)
          p в нашем магазине #[span.banner-shopping__promocode по промокоду #[span SHOPDAY]]
          a(href='/catalog/kamuflyazh/sprey-hairfor2/').banner-shopping__btn.btn.btn--secondary Успей заказать

  +pageSection.container.banner-friday
    +grid.content
      +cell({ l:7, m:6 }).banner-friday__inner
        p.banner-friday__title Черная пятница с 12.11-30.11
        .banner-friday__info
          //- .banner-friday__before до
          .banner-friday__discount -25%
          .banner-friday__brands на спрей-загуститель #[br] Hairfor2 (100/400 мл)
            p.banner-friday__promocode-text по промокоду #[span.banner-friday__promocode Blackfriday]
        //- .banner-friday__list 
        //-   .banner-friday__item 
        //-     .banner-friday__item-discount -5%
        //-     .banner-friday__item-background.banner-friday__item-background--1
        //-     .banner-friday__item-text на 2й товар
        //-   .banner-friday__item 
        //-     .banner-friday__item-discount -10% 
        //-     .banner-friday__item-background.banner-friday__item-background--2
        //-     .banner-friday__item-text на 3й товар
        //-   .banner-friday__item 
        //-     .banner-friday__item-discount -15% 
        //-     .banner-friday__item-background.banner-friday__item-background--3
        //-     .banner-friday__item-text на 4й товар
        a(href='/catalog/kamuflyazh/sprey-hairfor2/').banner-friday__btn.btn.btn--secondary Выбрать загуститель
      +cell({ l:5, m:6 }).banner-friday__image-container
        +img({
          name: 'banner-friday',
          path: '/images/banner-friday/',
          formats: [
            { ext: 'png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'm', values: [ 1, 2 ] },
            { name: 'l', values: [ 1, 2 ] },
          ]
        })(alt= '').banner-friday__image

  -
    const brands = [
      {
        logo: '/images/toppik.svg',
        name: 'Toppik',
        image: '/images/wholesale/toppik.jpg',
        info: '<p>Универсальный камуфляж для волос в виде <strong>порошка</strong>. 6 оттенков для точного подбора цвета.</p>',
        href: '/catalog/kamuflyazh/toppik/',
        settings: { toppik: true },
      },
      {
        logo: '/images/hairfor.jpg',
        name: 'Hairfor2',
        image: '/images/wholesale/hairfor2.jpg',
        info: '<p>Микрофолокна в форме <strong>спрея</strong> очень прочно соединяются с собственными волосами. 8 оттенков в палитре.</p>',
        href: '/catalog/kamuflyazh/sprey-hairfor2/',
      },
      {
        logo: '/images/dermmatch.jpg',
        name: 'Dermmatch',
        image: '/images/wholesale/dermmatch.jpg',
        info: '<p>Выпускается в виде <strong>пудры</strong> и обладает повышенной водостойкостью. 8 цветов на выбор.</p>',
        href: '/catalog/kamuflyazh/pudra-dermmatch/',
      },
      {
        logo: '/images/dermmatch.jpg',
        name: 'Dermmatch',
        image: '/images/wholesale/dermmatch.jpg',
        info: '<p>Выпускается в виде <strong>пудры</strong> и обладает повышенной водостойкостью. 8 цветов на выбор.</p>',
        href: '/catalog/kamuflyazh/pudra-dermmatch/',
      },
    ]
  include /blocks/banner-fidentia/banner-fidentia
  include /blocks/banner-sevich/banner-sevich

  +pageSection({'tag':'section'})
    .container
      .content
        h1.home-header Загуститель волос – густые волосы за 25 секунд
        +grid({'padding-y':true})
          +cell({m:6,s:6,xs:12})
            <img-comparison-slider>
              img(slot="first" src='/images/man-before.webp' alt='')
              img(slot="second" src='/images/man-after.webp' alt='')
            </img-comparison-slider>
          +cell({m:6,s:6,xs:12})
            <img-comparison-slider>
              img(slot="first" src='/images/woman-before.webp' alt='')
              img(slot="second" src='/images/woman-after.webp' alt='')
            </img-comparison-slider>
  +pageSection: .container: .content
    +pageSubsection: h2.home-subheader Наши бренды
    +pageSubsection: +grid({ padding: 'y' })
      each brand in brands
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): +wholesaleProduct(brand) !{brand.info}
  +pageSection({'tag':'section', 'color': 'light', 'padding-y': true})
    .container
      .content
        h2.home-subheader Как это работает
        -
          const sequence = [
            {
              'title': 'Помойте голову, высушите и уложите волосы',
              'image': ['/images/m01.png','/images/w01.png'],
            },
            {
              'title': 'Нанесите загуститель на проблемные зоны',
              'image': ['/images/m02.png','/images/w02.png'],
            },
            {
              'title': 'Пригладьте волосы. Готово!',
              'image': ['/images/m03.png','/images/w03.png'],
            },
          ]
        +listSequence(sequence)
  +pageSection({'tag':'section'})
    .container
      .content
        +tabs()
          +tab({ name: 'Toppik' }): +youtubeResponsive('snQv91KWsaw')
          +tab({ name: 'Hairfor2' }): +youtubeResponsive('mzYJhhCv30Q')
          +tab({ name: 'Dermmatch' }): +youtubeResponsive('1_O0A2LZpgE')
  include /blocks/banner-certificate/banner-certificate
  +pageSection({'tag':'section'})
    .container
      .content
        h2.home-subheader 5 причин заказать загуститель
        +grid({'padding-y': true, tag:'ol'}).list-numbered.list-numbered--big-numbers
          +cell({m:6,xs:12,xs:12,tag:'li'})
            div
              h3 Не&nbsp;осыпается
              p Закрепляется на&nbsp;волосах с&nbsp;помощью статического электричества
          +cell({m:6,xs:12,xs:12,tag:'li'})
            div
              h3 Не&nbsp;боится непогоды
              p Дождь и&nbsp;ветер не&nbsp;помешают Вам оставаться красивыми
          +cell({m:6,xs:12,xs:12,tag:'li'})
            div
              h3 Безопасен для волос
              p Не&nbsp;содержит химических консервантов, натуральный состав
          +cell({m:6,xs:12,xs:12,tag:'li'})
            div
              h3 Экономичен в&nbsp;использовании
              p Одно применение&nbsp;&mdash; всего 100&nbsp;руб. Эффект сохраняется несколько дней
          +cell({m:6,xs:12,xs:12,tag:'li'})
            div
              h3 Нет аналогов
              p В&nbsp;природе не&nbsp;существует иных средств, чтобы быстро скрыть облысение
  include /blocks/banner-try/banner-try

  +pageSection({'tag':'section'})
    .container
      .content.home-slider
        -
          const products = [
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 6250,
              sizes: [
                { name: '3 г.', price: '800' },
                { name: '12 г.', price: '2480' },
                { name: '27 г.', price: '3880' },
                { name: '55 г.', price: '6250' },
              ],
            },
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 800,
              sizes: [
                { name: '3 г.', price: '800' }
              ],
            },
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 6250,
              sizes: [
                { name: '3 г.', price: '800' },
                { name: '12 г.', price: '2480' },
                { name: '27 г.', price: '3880' },
                { name: '55 г.', price: '6250' },
              ],
            },
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 6250,
              sizes: [
                { name: '3 г.', price: '800' },
                { name: '12 г.', price: '2480' },
                { name: '27 г.', price: '3880' },
                { name: '55 г.', price: '6250' },
              ],
            },
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 6250,
              sizes: [
                { name: '3 г.', price: '800' },
                { name: '12 г.', price: '2480' },
                { name: '27 г.', price: '3880' },
                { name: '55 г.', price: '6250' },
              ],
            },
            {
              name: 'Камуфляж для волос Toppik - черный',
              price: 6250,
              sizes: [
                { name: '3 г.', price: '800' },
                { name: '12 г.', price: '2480' },
                { name: '27 г.', price: '3880' },
                { name: '55 г.', price: '6250' },
              ],
            },
          ]
        +pageSubsection
          h2.home-subheader Порошок загуститель волос Toppik
        +pageSubsection
          .home-slider__swiper.swiper
            .home-slider__wrapper.swiper-wrapper
              each product in products
                .home-slider__slide.swiper-slide
                  +productsListElement(product)

            button.btn.home-slider__button.home-slider__button--prev
            button.btn.home-slider__button.home-slider__button--next
            .home-slider__pagination.swiper-pagination

  +pageSection({'tag':'section', 'color':'light', 'padding-y': true})
    .container
      .content
        h2.home-subheader Отзывы
        -
          const reviews = {
            list: [
              {
                'title': 'Елена',
                'body': [
                  {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
                ],
                date: '11.03.2016',
              },
              {
                'title': 'Елена',
                'body': [
                  {tag: 'p', content:'Стала замечать, что у меня стали редеть волосы, видно кожу головы, как будто на голове 3 волосинки. Появилось чувство дискомфорта, старалась чаще краситься, чтобы не так было заметно. Либо старалась забирать волосы в хвост. И как-то случайно нашла в ...'},
                ],
              },
              {
                'title': 'Валерия',
                'body': [
                  {tag: 'p', content:'Никогда не думала, что получить роскошные, густые волосы можно, просто распылив спрей из баллончика. Toppik мне показала подруга-парикмахер. Не увидела бы своими глазами - не поверила бы. Еще и цена у средства очень и очень привлекательная. В итоге, ...'},
                ],
                date: '01.11.2015',
              },
              {
                'title': 'Сергей',
                'body': [
                  {tag: 'p', content:'Пользуюсь топпиком регулярно на протяжении нескольких лет. Сначала сестра привозила из-за границы, а теперь и у нас в продаже появился. Очень рад этому. Ранее облысение у меня наследственное, а при моей работе плохо выглядеть не рекомендуется. Да и н...'},
                ],
                date: '14.10.2015',
              },
            ],
            readmore: 'Читать все отзывы'
          }
        +homeNews(reviews)
block end
  +style('home')
