extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/form-input/form-input
include /blocks/block-marked/block-marked
include /blocks/aside-subheader/aside-subheader
include /blocks/palette/palette

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/kak-eto-rabotaet-menu
  +asideMenu(kerMenu)
  +asideSubheader Ваш цвет волос
  -
    const paletteHair = [
      {
        name: '',
        src: '/images/palette/hair-1.png',
      },
      {
        name: '',
        src: '/images/palette/hair-2.png',
      },
      {
        name: '',
        src: '/images/palette/hair-3.png',
      },
      {
        name: '',
        src: '/images/palette/hair-4.png',
      },
      {
        name: '',
        src: '/images/palette/hair-5.png',
      },
      {
        name: '',
        src: '/images/palette/hair-6.jpg',
      },
      {
        name: '',
        src: '/images/palette/hair-7.jpg',
      },
      {
        name: '',
        src: '/images/palette/hair-8.png',
      },
    ]
  +palette(paletteHair)
  +asideSubheader Палитра пудры-загустителя
  -
    const palette = [
      {
        name: 'Черный',
        src: '/images/palette/1.png',
      },
      {
        name: 'Темно-коричневый',
        src: '/images/palette/2.png',
      },
      {
        name: 'Средне-коричневый',
        src: '/images/palette/3.png',
      },
      {
        name: 'Каштан',
        src: '/images/palette/4.png',
      },
      {
        name: 'Светло-коричневый',
        src: '/images/palette/5.png',
      },
      {
        name: 'Средний блонд',
        src: '/images/palette/6.png',
      },
      {
        name: 'Светлый блонд',
        src: '/images/palette/7.png',
      },
      {
        name: 'Седой',
        src: '/images/palette/8.png',
      },
    ]
  +palette(palette)
  +asideSubheader Палитра пудры-загустителя
  -
    const paletteSpray = [
      {
        name: '',
        src: '/images/palette/spray-1.jpg',
      },
      {
        name: '',
        src: '/images/palette/spray-2.jpg',
      },
      {
        name: '',
        src: '/images/palette/spray-3.jpg',
      },
      {
        name: '',
        src: '/images/palette/spray-4.jpg',
      },
    ]
  +palette(paletteSpray)
block main
  +breadcrumbs({parents: ['Главная'], current: 'Как это работает'})
  h1 Как же максимально идеально подобрать Toppik?
  p Загуститель остается незаметным на волосах не только по причине натуральности состава. Дело в том, что «Топпик» представлен в цветовой палитре, в основу которой вошли девять естественных оттенков.
  p Сейчас мы расскажем, какой из девяти цветов лучше всего подобрать под ваш оттенок шевелюры.
  +grid({'padding-y': true, 'par-like': true})
    +cell({m:6,xs:12})
      p: picture
        source(srcset='/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.webp' type='image/webp')
        img(src='/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' alt='Решение для жгучих брюнетов' title='Решение для жгучих брюнетов')
      p: strong Решение для жгучих брюнетов
      p Если у вас глубокий черный или иссиня-черный оттенок шевелюры, то советуем вам предпочесть цвет Black.
    +cell({m:6,xs:12})
      p: picture
        source(srcset='/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.webp' type='image/webp')
        img(src='/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' alt='Топпик для каштановых волос' title='Топпик для каштановых волос')
      p: strong «Топпик» для каштановых, темных волос
      p Если ваша шевелюра окрашена в тон от темно-коричневого до темно-русого, то самое удачное решение для вас — оттенки Brown. В зависимости от исходного цвета, вам может подойти: Med. Browne либо Dr. Brown. А вот тон Medium Braun предназначен для обладателей каштанового цвета.
    +cell({m:6,xs:12})
      p: picture
        source(srcset='/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.webp' type='image/webp')
        img(src='/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' alt='Toppik для русой шевелюры' title='Toppik для русой шевелюры')
      p: strong Toppik для русой шевелюры
      p В зависимости от цветового оттенка, вам может подойти на выбор один из следующих цветов: Lt. Browne либо Med. Brown.
    +cell({m:6,xs:12})
      p: picture
        source(srcset='/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.webp' type='image/webp')
        img(src='/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.png' alt='Топпик для волос рыжего оттенка' title='Топпик для волос рыжего оттенка')
      p: strong Если ваши волосы медного либо рыжего оттенка
      p Если цветовая гамма вашей шевелюры представлена чем-то средним между солнечно-рыжим и красновато-медным оттенком, то мы советуем вам предпочесть тон Auburn. Также его можно смешать с Med. Browne.
    +cell({xs:12})
      p: strong Решение для блондинов
      p Специально для пепельных блондинов был выпущен Toppik в оттенке Lt. Blonde, характеризующийся как золотистый оттенок, относящийся к холодной цветовой гамме. Если же ваши пряди светло-русые, то вам лучше выбрать цвет Med. Blond.
    +cell({xs:12})
      p: picture
        source(srcset='/images/kak-podobrat-tsvet/dlya-sedyh-volos.webp' type='image/webp')
        img(src='/images/kak-podobrat-tsvet/dlya-sedyh-volos.jpg' alt='Для седых волос' title='Для седых волос')
      p: strong Для обладателей седых волос
      p Нередко выпадение волос становится причиной возрастного фактора. Поэтому в палитре Toppik представлен цвет Gray, специально предназначенный для обладателей седых волос. Также прислушайтесь к нашему совету: в участке корней наносите камуфляж цвета Med. Browne и Dr. Browne.
  p Если Вы сомневаетесь, какой именно цвет загустителя идеально подойдет в вашем случае, то вы можете получить бесплатную консультацию:
  ul.list-marked.list-marked--w-prev-par
    li по телефону +7 (812) 701-06-04
    li в онлайн-чате
    li по электронной почте 
      a(href='mailto:zakaz@zagustitelvolos.com') zakaz@zagustitelvolos.com
  +blockMarked
    p Загрузите фото ваших волос и наши специалисты с точностью определят какой оттенок из всей палитры Toppik вам подойдет!
    +grid({'par-like': true, 'justify': 'center', 'padding-y': true})
      +cell({s:8,xs:12, tag: 'form'}).form
        +formInput({type:'text', name:'form_text_5', label:'Имя',required: true})#form_text_5
        +formInput({type:'email', name:'form_email_6', label:'Email',required: true})#form_email_6
        +formInput({type:'file', name:'form_image_7', label:'Прикрепите свою фотографию (.jpeg)',required: true})#form_image_7
        button(type='submit').btn.btn--secondary Отправить
  p Если Вы находитесь в Санкт-Петербурге, то приглашаем посетить шоу-рум (наб. Обводного канала, 108А). Наши специалисты помогут подобрать цвет и покажут, как наносить загуститель.
  p Вы сразу сможете приобрести всю продукцию Toppik.
