extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/kak-eto-rabotaet-menu
  +asideMenu(kerMenu)
block main
  +breadcrumbs({parents: ['Главная'], current: 'Как это работает'})
  h1 Как это работает
  h2 Toppik: что это такое?
  p Под данным брендом выпускается косметическая продукция, которой нет аналогов по ее эффективности. Преимущественно она представлена загустителем волос. Он уникален тем, что в его основу вошел продукт натурального происхождения — нановолокна кератина. Их состав представлен в количестве 100% в продукции.
  p Появился «Топпик» более трех десятилетий тому назад, за его разработку ответственна американская компания Spencer Forrest. Успешно пройдя многочисленные исследования в ведущих европейских и американских лабораториях, продукт был признан как самый эффективный из всех существующих на сегодняшний день аналогов.
  p Toppik не идет ни в какое сравнение с синтетическими аналогами, ведь он создан на основе белкового кератина, являющегося составной частью человеческого волоса. Вторым преимуществом «Топпика» можно считать его способность максимально гармонировать с родной шевелюрой, в итоге факт использования загустителя невозможно заметить даже при рассмотрении прически на близком расстоянии. Ведь мельчайшие частички нановолокна сливаются с волосами, в результате чего удается достичь эффекта здоровой и объемной шевелюры.
  +grid({'padding-y': true, 'par-like': true})
    +cell({m:6,s:6,xs:12})(itemscope itemtype='http://schema.org/ImageObject')
      img(src='/images/kak-eto-rabotaet/volosy-do-ispolzovaniya-toppik.svg' alt='Волосы до использования Toppik' title='Волосы до использования Toppik' itemprop='contentUrl')
      br

      i(itemprop='caption') Волосы до использования Toppik
    +cell({m:6,s:6,xs:12})(itemscope itemtype='http://schema.org/ImageObject')
      img(src='/images/kak-eto-rabotaet/volosy-posle-ispolzovaniya-toppik.svg' alt='Волосы после использования Toppik' title='Волосы после использования Toppik' itemprop='contentUrl')
      br
      i(itemprop='caption') Волосы после использования Toppik
  h2 В чем секрет?
  p Тем, кому уже довелось испробовать на практике камуфляж для волос или подобную продукцию, выступающую в роли загустителя, столкнулись с определенным дискомфортом. Ведь, стоило нанести средство, как тут же усложнялся процесс расчесывания волос, а неблагоприятные погодные условия приводили к осыпанию продукции, существенному поредению шевелюры, и даже оголению прежде замаскированных залысин. Бывали случаи, когда камуфляжи тут же проявлялись абсолютной нестойкостью, даже при отсутствии неблагоприятных воздействий. Объяснение подобному положению вещей одно: классические загустители попросту не фиксируются на шевелюре как положено, в результате чего и происходит их осыпание.
  p Как раз к «Топпику» все вышеупомянутые проблемы не относятся. Ведь он тут же придает шевелюре должный объем и густоту. Поскольку этот продукт представлен кератином естественного происхождения, то природный электростатический заряд способствует возникновению эффекта магнита, в результате чего волокна этого загустителя плотно притягиваются к тончайшим прядям волос. Те невероятные результаты, которых удалось достичь миллионам мужчин и женщин, просто невозможно было бы получить без применения Toppik. Именно благодаря нему многие навсегда позабыли о проблеме облысения.
  h2 Уникальное решение проблемы тонких и редких волос
  p Как известно, загустители волос, содержащие кератиновые волокна, далеко не всегда дают желаемый результат.
  p Но это утверждение как раз и не относится к Toppik. Ведь в его основу вошел кератин премиум-класса, который добывали из шерсти натурального происхождения. Как только он смешивается с шевелюрой, она сразу приобретает естественную густоту. Если же вести речь об аналогах, то их получают синтетическим путем или же из продукции низкого качества, поэтому на достойный результат надеяться не приходится.
  p Почему же «Топпик» так прочно фиксируется на волосах любого типа? Благодаря естественному электростатическому заряду. Прочие же синтетические и не только аналоги подобного заряда не имеют. Поэтому их фиксация и столь непродолжительна, а также ненадежна. Но если вы выберете Toppik, то он всегда будет оставаться на месте (вне зависимости от погодных и прочих условий).
  p Поспешите же обрести густую и объемную шевелюру уже сейчас!
