extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/list-sequence/list-sequence
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/kak-eto-rabotaet-menu
  +asideMenu(kerMenu)
block main
  +breadcrumbs({parents: ['Главная','Как это работает'], current: 'Как пользоваться'})
  h1 Как же правильно пользоваться Топпиком?
  -
    const sequence = [
      {
        'title': 'Помойте голову, высушите и уложите волосы',
        'image': ['/images/m01.png','/images/w01.png'],
      },
      {
        'title': 'Нанесите загуститель на проблемные зоны',
        'image': ['/images/m02.png','/images/w02.png'],
      },
      {
        'title': 'Пригладьте волосы. Готово!',
        'image': ['/images/m03.png','/images/w03.png'],
      }, 
    ]
  +listSequence(sequence, {'widths': {m:8,s:8,xs:12}})
  p Применение этого загустителя очень простое. Вначале шевелюру стоит вымыть шампунем, дождаться, пока она высохнет, и сделать укладку привычным для вас способом.
  p Затем возьмите флакон с содержимым, присоедините к нему аппликатор, и распылите Toppik над проблемными участками. Также загуститель можно наносить и другим способом: просто потрясти емкость над участками облысений (следует сделать это на расстоянии в пять — десять сантиметров).
  p Потом волосы нужно будет пригладить рукой: так вы добьетесь равномерного распределения средства. Также после процедуры нанесения шевелюру можно уложить или же причесать. На этом все. В итоге вы получите шикарную прическу: густые и объемные волосы, выглядящие максимально натурально.
  h2 Советуем добиться максимального эффекта
  p: strong Все, что для этого нужно:
  ul.list-marked.list-marked--w-prev-par
    li Применять запатентованный 
      a(href='/catalog/accessories/pulverizator_toppik/') пульверизатор
      |  (позволяет добиться предельно естественного эффекта, способствует равномерному нанесению, экономит «Топпик»).
      +grid({'padding-y': true, 'justify': 'center'})
        +cell({m:3,s:4,xs:6}): img(src='http://zagustitelvolos.com/upload/iblock/d1e/d1ee2c439d10cebf67f9d7d728a28f56.jpg' alt='Пульверизатор Toppik' title='Пульверизатор Toppik')
    li Применять особый лак, способствующий более надежной фиксации волокон на прядях. Необходим в случае неблагоприятных погодных условий (сильный дождь или ветер).
      +grid({'padding-y': true, 'justify': 'center'})
        +cell({m:3,s:4,xs:6}): img(src='http://zagustitelvolos.com/upload/iblock/493/4938beaa9b7ad2d6998b861dc8ff866b.jpg' alt='Закрепляющий лак Toppik' title='Закрепляющий лак Toppik')
    li Пользоваться  
      a(href='/catalog/accessories/grebeshok_toppik/') специальным гребешком
      | , который позволяет добиться максимально естественного вида на лобном участке головы.
      +grid({'padding-y': true, 'justify': 'center'})
        +cell({m:3,s:4,xs:6}): img(src='http://zagustitelvolos.com/upload/iblock/0e8/0e87fb1322051659e71a732333c1cb3a.jpg' alt='Гребешок Toppik' title='Гребешок Toppik')
  h2 Смотрите, как наносить загуститель с использованием аксессуаров:
  +youtubeResponsive('snQv91KWsaw')
