extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = 'Задать вопрос консультанту'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - var smallFooter = true
  .container
    .content
      +breadcrumbs({parents:['Главная','Консультация'],current:'Задать вопрос консультанту'})
      +pageSection
        h1 Задать вопрос консультанту
        +grid({'par-like':true,'padding-y': true})
          +cell({s:8,xs:12})
            include /blocks/consultation-ask-form/consultation-ask-form.pug
          +cell({s:4,xs:12})
            p Ответим на&nbsp;все вопросы.
            p Обычно отвечаем в&nbsp;течение дня.
            p Но&nbsp;если мы&nbsp;сильно загружены, придется подождать пару дней.
            p В&nbsp;любом случае ответ пришлем на&nbsp;вашу почту.
block end
  +style('inner')
