extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-question/consultation-question
include /blocks/consultation-answer/consultation-answer
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Консультация'})
      +pageSection
        +grid({'par-like':true,'padding-y': true})
          +cell({m:9,xs:12})
            +pageSubsection
              -
                const consultationQuestion = {
                  title: 'Максимальный срок службы системы волос',
                  body: 'А если заказать самый дорогой и индивидуальный заказ,какое в таком случае максимально возможное время несения этой системы допустим 4 месяца или шесть? И второй вопрос,возможно ли допустим заказать сразу таких 3-5 штук и после заканчивае срока первой,в домашних условиях поставить вторую?',
                  author: 'Давид, Ростов',
                  date: '29.07.2018'
                }
              +consultationQuestion(consultationQuestion)
            +pageSubsection
              -
                const consultationQuestion = {
                  title: 'Максимальный срок службы системы волос',
                  author: 'Давид, Ростов',
                  date: '29.07.2018'
                }
              +consultationQuestion(consultationQuestion)
            +pageSubsection
              -
                const consultationAnswer = {
                  body: 'Видимо, речь идет о системе волос Интеграция, которая чаще всего применяется для максировки области облысения при андрогенетической алопеции. Цена на такую систему зависит от того, насколько часто вы ее заказываете. Подробно об этом написано на сайте в разделе цен. Качество системы не зависит от того, сколько она стоит. Дело в том, что натуральный вид такой системы напрямую связан с тонкостью ( а значит - недолговечностью) основы. Есть системы, основы которых позволяют их носить полгода и дольше, но вы будете ограничены в выборе стрижки, надо будет следить за тем, чтобы краевая линия была закрыта. Система волос стрижется прямо на голове. Если вы сможете самостоятельно установить систему и подстричь с помощью мастера, которому вы можете доверять, то да, это возможно.',
                  category: 'Иногородним: снятие мерок, доставка, самостоятельная фиксация'
                }
              +consultationAnswer(consultationAnswer)
            +pageSubsection
              include /blocks/consultation-ask-panel/consultation-ask-panel
          +cell({m:3,s:6,xs:12})
            include /data/consultation-categories
            +consultationCategories(consCategories)
block end
  +style('inner')
