extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section


block head
  -
    var pageTitle = 'Вопрос отправлен'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Консультация'],current:'Вопрос отправлен'})
      +pageSection
        +grid({'par-like':true, 'padding-y': true, 'justify': 'center'})
          +cell({m:6,s:10,xs:12})
            include /blocks/consultation-sent/consultation-sent.pug
block end
  +style('inner')
