extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-list/consultation-list
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Консультация'})
      +pageSection
        h1 Консультация по замещению волос
        +grid({'par-like':true,'padding-y': true})
          +cell({m:9,xs:12})
            +pageSubsection
              include /blocks/consultation-ask-panel/consultation-ask-panel
            +pageSubsection
              -
                var consItems = [
                  {
                    title:'Подскажите, есть ли у вас аналогический центр в Украине?',
                    question: '',
                    author: 'Павел, Киев',
                    date:'03.06.2018',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Ваш центр в москве, обслуживание у вас',
                    question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
                    author: 'Россия Крым ,Алушта, 38 лет',
                    date:'04.02.2017',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Подскажите, есть ли у вас аналогический центр в Украине?',
                    question: '',
                    author: 'Павел, Киев',
                    date:'03.06.2018',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Ваш центр в москве, обслуживание у вас',
                    question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
                    date:'04.02.2017',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Подскажите, есть ли у вас аналогический центр в Украине?',
                    question: '',
                    author: 'Павел, Киев',
                    date:'03.06.2018',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Ваш центр в москве, обслуживание у вас',
                    question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
                    author: 'Россия Крым ,Алушта, 38 лет',
                    date:'04.02.2017',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Подскажите, есть ли у вас аналогический центр в Украине?',
                    question: '',
                    author: 'Павел, Киев',
                    date:'03.06.2018',
                    answers:'Ольга Лейтес, директор'
                  },
                  {
                    title:'Ваш центр в москве, обслуживание у вас',
                    question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
                    author: 'Россия Крым ,Алушта, 38 лет',
                    date:'04.02.2017',
                    answers:'Ольга Лейтес, директор'
                  },
                ]
              +consultationList(consItems)
            +pageSubsection
              include /blocks/pagination/pagination
          +cell({m:3,s:6,xs:12})
            include /data/consultation-categories
            +consultationCategories(consCategories)
block end
  +style('inner')
