extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/link-icons/link-icons
include /blocks/form-input/form-input
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isContactsPage = true
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Контакты'})
      h1 Контакты
      +pageSection()(itemscope itemtype='http://schema.org/LocalBusiness')
        +grid({'padding-y': true})
          +cell({s:6,xs:12})
            meta(content="zagustitelvolos.com" itemprop="name")
            meta(content="http://zagustitelvolos.com/bitrix/templates/main/img/top_log.png" itemprop="image")
            meta(content="8 /812/ 401 43 55" itemprop="telephone")
            p +7 (812) 701-06-04
            +grid({'padding': 'y', 'align': 'center', 'par-like': true})
              +cell({m:2,s:4,xs:4}): +linkIcons([ 'viber', 'whatsapp' ])
              +cell({m:10,xs:8,xs:8}): p Напишите нам в Viber или WhatsApp, добавив наш номер 
                strong(style='white-space: nowrap') +7 (921) 571 01 24
                |  в список контактов.
            p: +linkIcon('mail')(href='mailto:zakaz@zagustitelvolos.com') zakaz@zagustitelvolos.com
            p Poссия, Санкт-Петербург, наб. Обводного канала, 108А
            p
              strong Режим работы:
              br
              | пн-пт: с 10:00 до 21:00 (мск)
              br
              | сб-вс: с 10:00 до 19:00 (мск)
            p Работаем по России и СНГ
            h2 Мы в социальных сетях
            +linkIcons(['instagram', 'vk', 'facebook', 'ok'])
            h2 Реквизиты организации
            p
              | ООО «Центр Дизайна Волос»
              br
              | ИНН 7839080306
              br
              | Юридический адрес: 196084, Наб. Обводного канала, 108А, пом.30Н
          +cell({s:6,xs:12})
            h2 Схема проезда
            +pageSubsection
              script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&height=370&lang=ru_RU&sourceType=constructor")
      +pageSection
        h2 Фотографии офиса
        +grid({ cols:'10', 'par-like': true, 'padding-y': true})
          - for (let i = 5; i < 10; i++)
            +cell({ m:2, xs:5})
              a(href=`/images/kontakty/office-${[i]}.jpg` data-fancybox='contacts-office')
                +img({
                  name: `office-${[i]}`,
                  path: '/images/kontakty/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  })(alt= 'Фотографии офиса')
        h2 Видео 360 градусов
        +grid({ 'par-like': true, 'padding-y': true})
          +cell({ xs:12 })
            video(playsinline id="video360" class="video-js vjs-default-skin" controls preload="auto" poster="/video/3dtur.jpg")
              source(src="/video/3dtur.webm" type="video/webm")

          //- +cell({ m:3, s:4, xs:6})
          //-   a(href='/images/kontakty/office-1.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
          //-     picture
          //-       source(srcset='/images/kontakty/office-1.webp' type='image/webp')
          //-       img(src='/images/kontakty/office-1.jpg' alt='Ассортимент загустителей' title='Ассортимент загустителей' itemprop='thumbnail')
          //- +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
          //-   a(href='/images/kontakty/office-2.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
          //-     picture
          //-       source(srcset='/images/kontakty/office-2.webp' type='image/webp')
          //-       img(src='/images/kontakty/office-2.jpg' alt='Центр дизайна волос' title='Центр дизайна волос' itemprop='thumbnail')
          //- +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
          //-   a(href='/images/kontakty/office-3.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
          //-     picture
          //-       source(srcset='/images/kontakty/office-3.webp' type='image/webp')
          //-       img(src='/images/kontakty/office-3.jpg' alt='Вход в офис' title='Вход в офис' itemprop='thumbnail')
          //- +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
          //-   a(href='/images/kontakty/office-4.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
          //-     picture
          //-       source(srcset='/images/kontakty/office-4.webp' type='image/webp')
          //-       img(src='/images/kontakty/office-4.jpg' alt='Центр дизайна волос' title='Центр дизайна волос' itemprop='thumbnail')
      +pageSection
        +grid()
          +cell({m:6,s:9,xs:12})
            h2 Отправить сообщение
            form.form
              +formInput({type:'text', placeholder:'Имя', required: true})
              +formInput({type:'email', placeholder:'E-mail', required: true})
              +formInput({type:'textarea', placeholder:'Сообщение', required: true})
              +formInput({type:'checkbox', required: true, checked: true, label: ['Нажимая на кнопку, я даю свое ',{tag: 'a', attr: {href:'/soglasheniya-na-obrabotku-personalnykh-dannykh/'},content:'согласие на обработку своих персональных данных'},'.']})#form-agreement
              button(type='submit').btn Отправить
block end
  link(href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet")
  +style('inner')
