extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-register/form-register

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Вход на сайт'})
      h1 Авторизация
      p Пожалуйста, авторизуйтесь:
      +grid()
        +cell({m:4,s:8,xs:12})
          +formRegister({
            fields: [
              {label: 'Логин', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN'},
              {label: 'Пароль', type: 'password', name: 'USER_PASSWORD', id: 'USER_PASSWORD'},
              {label: 'Запомнить меня на этом компьютере', type: 'checkbox', name: 'USER_REMEMBER', id: 'USER_REMEMBER'},
            ],
            submit: 'Войти',
          })
      p
        a(href='') Забыли свой пароль?
        |  | 
        a(href='') Зарегистрироваться
      p Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
block end
  +style('inner')
