extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/news-date/news-date
include /blocks/page-section/page-section

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная','О нас','Новости'], current: 'Акция Toppik'})
  h1 Акция Toppik
  p В марте месяце действует акция для всех покупателей загустителя волос Toppik - при покупке пульверизатора-аппликатора для нанесения Toppik за 1500 руб. гребешок и спрей-закрепитель в подарок.
  p Использование пульверизатора значительно сокращает расход пудры. Попробуйте и убедитесь сами! Заказать можно на сайте и в салоне по тел. (812)3861162.
  +newsDate 26 февраля 2015
  h2 Другие новости
  +pageSection({ 'padding-y': true })
    - for(let i=0; i<5; i++) 
      .news-other
        a(href='/').news-other__title Режим работы в майские праздники
        p Уважаемые клиенты! Спешим вас уведомить, что наша компания работает практически все праздничные майские дни. Исключение - 9 мая. 9 мая - выходной. С праздником!
        +newsDate 26 февраля 2015

block end
  +style('inner')
