extends /blocks/layout-columns/layout-columns

include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/news-date/news-date


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная','О нас'], current: 'Новости'})
  h1 Новости
  h2: a(href='news-item.html') Режим работы в майские праздники
  p Уважаемые клиенты! Спешим вас уведомить, что наша компания работает практически все праздничные майские дни. Исключение - 9 мая. 9 мая - выходной. С праздником!
  +newsDate 04 мая 2016
  h2: a(href='news-item.html') Спреев-загустителей не будет в продаже
  p До конца мая спреев-загустителей Toppik не будет в продаже. По причине того, что продукция отсутствуют на складе производителя.
  +newsDate 24 марта 2016
  h2: a(href='news-item.html') Акционные наборы Toppik
  p Предлагаем вашему вниманию акционные наборы Toppik. Экономия средств и оптимальное сочетание товаров! Выбирайте! http://zagustitelvolos.com/aktsii/
  +newsDate 12 января 2016
  h2: a(href='news-item.html') Доставкой Почтой России
  p Вы можете воспользоваться доставкой от Почты России (только наложенный платеж). Недорогая доставка и возможность оплатить товар при получении. Подробнее о доставке наложенным платежём вы можете узнать здесь.
  +newsDate 12 января 2016
  h2: a(href='news-item.html') Акция Toppik
  p В марте месяце действует акция для всех покупателей загустителя волос Toppik - при покупке пульверизатора-аппликатора для нанесения Toppik за 1500 руб. гребешок и спрей-закрепитель в подарок.
  p Использование пульверизатора значительно сокращает расход пудры. Попробуйте и убедитесь сами! Заказать можно на сайте и в салоне по тел. (812)3861162.
  +newsDate 26 февраля 2015
block end
  +style('inner')
