extends /blocks/layout-columns/layout-columns

include /blocks/page-section/page-section
include /blocks/list-advantages/list-advantages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная'], current: 'О нас'})
  h1 Кто мы такие
  h2 И почему мы советуем Toppik
  p «Центр Дизайна Волос» — официальный дистрибьютор продукции Toppik в России. На протяжении 12 лет мы работаем над проблемой облысения. Мы были первыми, кто начал глубоко изучать эту проблему и средства борьбы с ней в нашей стране.
  h2 Немного истории
  p Компания основана летом 2002 года. Основная задача — усовершенствование методов безоперационного замещения волос. К сожалению, быстро выяснилось, что ограничиться одним направлением не выйдет. Смежные услуги в России не отличались высоким качеством, и, чтобы не отступать от своих принципов, мы решили менять ситуацию своими силами.
  h2 Как мы получали статус экспертов
  p Наши специалисты прошли обучение за границей. Повысив уровень и получив экспертные навыки, мы запустили собственное производство по изготовлению и обработке натуральных волос. Вскоре был открыт учебный центр «Волосы 24», готовящий специалистов высокого уровня, параллельно был открыт магазин по продаже изделий из натуральных волос, которые производились нами же.
  p В 2011 году мы открыли магазин лечебной косметики для волос, а в 2014 — вынесли его на отдельный сайт.
  +grid({'padding-y': true, 'justify': 'center', 'align': 'center', 'par-like': true})
    +cell({m:2,s:3,xs:4}): a(href='http://www.hairdesign.ru/' target='_blank')
      picture
        source(srcset='/images/o-nas/hairdesign.webp' type='image/webp')
        img(src='/images/o-nas/hairdesign.png' alt='Центр Дизайна Волос' title='Центр Дизайна Волос')
    +cell({m:3,s:3,xs:4}): a(href='http://triholog.org/' target='_blank')
      picture
        source(srcset='/images/o-nas/triholog.webp' type='image/webp')
        img(src='/images/o-nas/triholog.png' alt='Магазин лечебной косметики для волос' title='Магазин лечебной косметики для волос')
    +cell({m:3,s:3,xs:4}): a(href='http://www.volosy24.ru/' target='_blank')
      picture
        source(srcset='/images/o-nas/volosy24.webp' type='image/webp')
        img(src='/images/o-nas/volosy24.png' alt='Магазин изделий из натуральных волос' title='Магазин изделий из натуральных волос')
  h2 Toppik в России
  p 10 лет назад мы заинтересовались разработкой американской компании «Forrest Spencer», работающей в том же направлении. Их средство для маскировки последствий облысения — загуститель волос Toppik — был признан нашими экспертами наиболее эффективным и простым решением, применяемом на начальной стадии облысения. Вскоре мы первыми в России получили свидетельство государственной регистрации продукта и запустили продажи Toppik в Российской Федерации. Toppik соответствует всем нормам безопасности парфюмерно-косметической продукции, что подтверждается декларацией о соответствии.
  +grid({'padding-y': true, 'justify': 'center', 'align': 'center', 'par-like': true})
    +cell({m:4,s:4,xs:6}): picture
      source(srcset='/images/o-nas/sertifikaty/svidetelstvo-o-gosudarstvennoy-registratsii.webp' type='image/webp')
      img(src='/images/o-nas/sertifikaty/svidetelstvo-o-gosudarstvennoy-registratsii.jpg' alt='Свидетельство о регистрации' title='Свидетельство о регистрации')
    +cell({m:4,s:4,xs:6}): picture
      source(srcset='/images/o-nas/sertifikaty/deklaraciya-sootvetstviya-zagustiteli-volos.webp' type='image/webp')
      img(src='/images/o-nas/sertifikaty/deklaraciya-sootvetstviya-zagustiteli-volos.jpg' alt='Декларация о соответствии' title='Декларация о соответствии')
  h2 Цифры, как доказательство
  p Через 10 лет работы по популяризации загустителя волос, мы можем сказать, что добились определенного успеха. Сегодня мы можем говорить о более, чем тысяче постоянных клиентов, использующих Toppik в России и нескольких тысячах заказов в год. Более точно отразить эти цифры нельзя, так как они постоянно изменяются в большую сторону.
  -
    const list = [
      {
        title: '10 лет',
        text: 'На рынке',
      },
      {
        title: '> 1000',
        text: 'Постоянных клиентов',
      },
      {
        title: '> 5 000',
        text: 'Заказов Toppik в год',
      },
    ]
  +listAdvantages(list)
  p Использование Toppik полностью соответствует нашим взглядам на лечение облысения. Благодаря натуральной формуле, в основе которой лежит использование белкового кератина — натурального вещества, входящего в состав здоровых волос — Toppik наиболее эффективен из всех загустителей, а отсутствие синтетических химических соединений позволяет использовать Toppik с любыми средствами для роста волос. Загуститель позволяет пациентам хорошо выглядеть и не испытывать неловкости в процессе лечения.
  h2 Быстро, качественно, эффективно
  p Мы убедились в том, что Toppik — качественный, эффективный и конкурентоспособный продукт, и теперь запускаем продажи загустителя волос на отдельном сайте. Наша цель состоит в том, чтобы как можно больше людей в России смогли использовать это простое и практичное решение. Благодаря своей универсальности, Toppik подходит не только для маскировки облысения, но и как средство придания объема тонким и редеющим волосам. Потратив 25 секунд на нанесение загустителя, вы получите объемные и густые волосы, и, как следствие — уверенность в себе и прекрасное настроение.
  h2 Гарантия возврата средств как залог качества продукта
  p Мы уверены в качестве Toppik, и потому запустили программу возврата средств. Если вас по какой-то причине не устроит эффект, в течение 60 дней после покупки мы вернем вам деньги.
  p Попробуйте Toppik и присоединяйтесь к трем миллионам довольных людей по всему миру.
block end
  +style('inner')
