extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/profile-item/profile-item
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/form-input/form-input
include /blocks/list-advantages/list-advantages
include /blocks/wholesale-product/wholesale-product
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const brands = [
      {
        logo: '/images/toppik.svg',
        name: 'Toppik',
        image: '/images/wholesale/toppik.jpg',
        info: '<p>Универсальный камуфляж для волос в виде <strong>порошка</strong>. 6 оттенков для точного подбора цвета.</p>',
        href: '/catalog/kamuflyazh/toppik/',
        settings: { toppik: true },
      },
      {
        logo: '/images/hairfor.jpg',
        name: 'Hairfor2',
        image: '/images/wholesale/hairfor2.jpg',
        info: '<p>Микрофолокна в форме <strong>спрея</strong> очень прочно соединяются с собственными волосами. 8 оттенков в палитре.</p>',
        href: '/catalog/kamuflyazh/sprey-hairfor2/',
      },
      {
        logo: '/images/dermmatch.jpg',
        name: 'Dermmatch',
        image: '/images/wholesale/dermmatch.jpg',
        info: '<p>Выпускается в виде <strong>пудры</strong> и обладает повышенной водостойкостью. 8 цветов на выбор.</p>',
        href: '/catalog/kamuflyazh/pudra-dermmatch/',
      },
    ]
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Оптовые продажи'})
      +pageSection
        +grid({ justify: 'space-between', align: 'center' })
          +cell({l:6,m:6,xs:12})
            +pageSubsection: h1 Оптовые продажи загустителя для волос
            +pageSubsection
              p Магазин загустителей волос — официальный дистрибьютер Toppik в России, приглашает к сотрудничеству салоны красоты, парикмахерские и клиники трихологии на взаимовыгодных условиях.
              p В нашем магазине в зависимости от объема закупки доступны скидки 25, 35 или 45%. Минимальная партия — 30 000 ₽.
            +pageSubsection: a(href='#form').btn.btn--secondary Отправить заявку
          +cell({l:5,m:6,xs:12}): img(src='/images/wholesale/main.jpg' alt='Оптовые продажи загустителя для волос' title='Оптовые продажи загустителя для волос')
      +pageSection
        h2.text-align--center Преимущества работы с нами
        +listAdvantages([
          { title: 'Качество гарантируем', text: 'Являемся официальным<br>дистрибьютором', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
          { title: '15 лет на рынке', text: 'Более чем 2000 постоянных клиентов, использующих Toppik', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-team']} },
          { title: 'Выбор за вами', text: 'Предлагаем варианты условий<br>по доставке и оплате', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-truck']} },
        ])
      +pageSection
        +pageSubsection: h2.text-align--center Наши бренды
        +pageSubsection: +grid({ padding: 'y' })
          each brand in brands
            +cell({ l: 4, m: 4, s: 6, xs: 12 }): +wholesaleProduct(brand) !{brand.info}
      //+pageSection
      //  h2.text-align--center Эффект применения загустителя
      //  +pageSubsection: +youtubeResponsive('snQv91KWsaw')
      //+pageSection
      //  h2.text-align--center Как мы работаем
      //  p.text-align--center Несколько простых шагов к росту ваших продаж!
      //  +listAdvantages([
      //    { title: 'Отправьте заявку', text: 'и мы пришлём образец для оптового заказа', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
      //    { title: 'Оформление заказа', text: 'заключим договор', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
      //    { title: 'Отправление заказа', text: 'сможете отслеживать местоположение заказа', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
      //    { title: 'Консультация', text: 'ответим на все вопросы о продукте, доставке, оплате', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
      //    { title: 'Оплата', text: 'работаем по 100% предоплате', sizes: { m: 4, s: 6, xs: 12 }, 'settings': {'icon': [true, 'wholesale-certificate']} },
      //  ], { justify: 'center' })
      +pageSection
        +grid({ justify: 'center', align: 'center', padding: 'y' })
          +cell({xs:12})
            h2.text-align--center Дополнительные бонусы
            p.text-align--center Сотрудничество с нами — это выгодно!
          +cell({l:3,m:6,xs:12})(style='display: flex; justify-content: center').hidden-s.hidden-xs: img(src='/images/wholesale/gifts.png' alt='Оптовые продажи загустителя для волос' title='Оптовые продажи загустителя для волос' height='320')
          +cell({l:7,m:6,xs:12})
            +pageSubsection
              h3 Бесплатные консультации
              p Поддержка наших экспертов для вашего персонала
              h3 Взаимопиар
              p Расскажем нашим клиентам о вас и обеспечим необходимыми POS-материалами
              h3 Дарим подарки
              p Специальные акции и бонусы для ваших клиентов и персонала
      //+pageSection
      //  h2.text-align--center Наши партнёры
      //  p.text-align--center Среди наших заказчиков салоны красоты, профессиональные магазины и клиники по лечению облысения.
      //  +grid({ 'par-like': true, padding: 'y' })
      //    each i in [1, 2, 3, 4, 5, 6]
      //      +cell({ l:2, m: 3, s: 4, xs: 6 }): img(src='https://dummyimage.com/300x200' alt='')
      //+pageSection
      //  h2.text-align--center Видеоотзывы клиентов
      //  +pageSubsection: +grid({ padding: 'y' })
      //    +cell({ l: 6, m: 6, xs: 12 }): +youtubeResponsive('snQv91KWsaw')
      //    +cell({ l: 6, m: 6, xs: 12 }): +youtubeResponsive('snQv91KWsaw')
      +pageSection
        h2.text-align--center Ваши клиенты станут постоянными, потому что...
        +grid({ padding: 'y', 'par-like': true })
        
          +cell({ l: 8, m: 8, xs: 12 }): +listAdvantages([
            { title: 'Товар высокого качества', text: 'Мгновенное увеличение объёма и густоты волос, натуральный состав на основе кератина, устойчив к непогоде.',sizes: { xs: 12 }, 'settings': {horizontal: true, 'icon': [true, 'wholesale-agreement']} },
            { title: 'Продукт ежедневного использования', text: 'В среднем загуститель заканчивается через полгода использования. И благодаря удобству и эффективности клиент вернётся за ним снова.',sizes: { xs: 12 }, 'settings': {horizontal: true, 'icon': [true, 'wholesale-calendar']} },
            { title: 'Широкий ассортимент', text: 'В зависимости от потребностей клиента можно предлагать разные типы товара, рассказывать о новинках.',sizes: { xs: 12 }, 'settings': {horizontal: true, 'icon': [true, 'wholesale-bottle']} },
          ])
          +cell({ l: 4, m: 4 }).hidden-s.hidden-xs: img(src='/images/wholesale/girl.jpg' alt='')
      +pageSection({'tag':'section'})#form
        +blockMarked({'color': 'light'}).banner-cooperation
          +grid({'padding-y': true, 'align': 'center', justify: 'center', tag: 'form'})
            +cell({ xs: 12 }).text-align--center
              h2.banner-cooperation__header Специальное предложение для салонов красоты, профессиональных магазинов, клиник трихологии
            +cell({m:4,s:6,xs:12}): +formInput({type:'text', name: 'name', required: true, placeholder: 'Ваше имя *'})
            +cell({m:4,s:6,xs:12}): +formInput({type:'tel', name: 'tel', required: true, placeholder: 'Номер телефона *'})
            +cell({m:4,s:6,xs:12}): +formInput({type:'email', name: 'email', required: true, placeholder: 'Email *'})
            +cell({m:4,s:6,xs:12}): +formInput({type:'text', name: 'company', placeholder: 'Компания'})
            +cell({m:4,s:6,xs:12}): +formInput({type:'text', name: 'city', placeholder: 'Ваш город'})
            //+cell({m:4,s:6,xs:12})
            //  -
            //    const options = [
            //      { name: 'салон красоты', value: '' },
            //      { name: 'профессиональный магазин', value: '' },
            //      { name: 'клиника', value: '' },
            //      { name: 'другое', value: '' },
            //    ]
            //  +formInput({type:'select', options: options, required: true, label: 'Укажите, пожалуйста, кто вы'})
            +cell({ xs: 12 }): +grid({ justify: 'center' })
              +cell({ tag: 'p', xs: 12 })(style='font-size: 14px; color: var(--font-color-secondary); margin-bottom: .75rem').text-align--center Укажите, пожалуйста, кто вы:
              +cell({ l: 'auto' })(style='width: fit-content'): +formInput({ type: 'checkbox', label: 'салон красоты' })#wholesale-direction-salon
              +cell({ l: 'auto' })(style='width: fit-content'): +formInput({ type: 'checkbox', label: 'профессиональный магазин' })#wholesale-direction-shop
              +cell({ l: 'auto' })(style='width: fit-content'): +formInput({ type: 'checkbox', label: 'клиника' })#wholesale-direction-clinic
              +cell({ l: 'auto' })(style='width: fit-content'): +formInput({ type: 'checkbox', label: 'другое' })#wholesale-direction-other
            +cell({ xs: 12 }): p(style='font-size: 14px; color: var(--font-color-secondary)').text-align--center Отправляя это сообщение, я принимаю 
              a(href='/soglasheniya-na-obrabotku-personalnykh-dannykh/') соглашение об обработке персональных данных
              | .
            +cell({m:4,s:6,xs:12}): button(type='submit').btn.btn--wide.btn--secondary Получить прайс
block end
  +style('inner')
