extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/orders-current-item/orders-current-item
include /blocks/page-section/page-section

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Мой кабинет'],current:'Мои заказы'})
      h1 Мои заказы
      +pageSection
        p
          a(href='/') Посмотреть текущие заказы
        h2 Заказы в статусе «Принят, ожидается оплата»
        -
          const orders = [
            {
              number: 13,
              date: '29.11.2020',
              count: 2,
              sum: '78 000',
              paymentStatus: {type: 'success', name: 'Оплачено'},
              deliveryCost: 0,
              deliveryStatus: {type: 'failure', name: 'Не отгружено'},
              shipmentStatus: {name: 'Ожидает обработки'},
            },
            {
              number: 12,
              date: '29.11.2020',
              count: 1,
              sum: '30 000',
              paymentStatus: {type: 'failure', name: 'Не оплачено'},
              deliveryCost: 0,
              deliveryStatus: {type: 'failure', name: 'Не отгружено'},
              shipmentStatus: {name: 'Ожидает обработки'},
            },
          ]
        each item in orders
          +ordersCurrentItem(item)
block end
  +style('inner')
