extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/form-input/form-input
include /blocks/feedback-item/feedback-item     
include /blocks/rating-input/rating-input                   

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current: 'Отзывы'})
      h1 Отзывы о загустителях для волос
      +pageSection
        +pageSubsection    
          -
            const feedback = [
              {
                body: {content:`<p class="feedback-item__title">Достоинства</p><p>Выполняет свою задачу</p><p class="feedback-item__title">Недостатки</p><p>Не всем подойдёт</p><p class="feedback-item__title">Комментарий</p><p>Со своей задачей справляется, но у него сильный эффект фиксации, то есть расчесать и уложить волосы после нанесения проблематично.</p>`},
                author: 'Елена',
                date: '11 марта 2016',
                rating: '5',
                product: true, 
              },
              {
                body: {tag:'p', content:`<p class="feedback-item__title">Достоинства</p><p>Выполняет свою задачу</p><p class="feedback-item__title">Недостатки</p><p>Не всем подойдёт</p>`},        
                author: 'Елена',
                date: '01 января 1970',
                rating: '4',
                product: true,
              },
              {
                body: {tag:'p', content:'Никогда не думала, что получить роскошные, густые волосы можно, просто распылив спрей из баллончика. Toppik мне показала подруга-парикмахер. Не увидела бы своими глазами - не поверила бы. Еще и цена у средства очень и очень привлекательная. В итоге, пользуюсь загустителем уже около шести месяцев. Отличная штука. На ветру волосы ведут себя естественно, нормально причесываются, не боятся дождя. На мой взгляд, это идеальное решение. Особенно, если ситуация не настолько плачевна, чтобы таскать парик или систему волос. Отлично маскирует тонкие и ломкие волосы. Для меня Toppik стал настоящей находкой. Использую сама, и могу смело рекомендовать другим.  '},
                author: 'Валерия',
                date: '01 ноября 2015',
                rating: '3',
                product: true,
              },
              {
                body: {tag:'p', content:'Пользуюсь топпиком регулярно на протяжении нескольких лет. Сначала сестра привозила из-за границы, а теперь и у нас в продаже появился. Очень рад этому. Ранее облысение у меня наследственное, а при моей работе плохо выглядеть не рекомендуется. Да и не идёт мне лысина. До топпика использовал ещё несколько разных загустителей, но эффект был совсем не такой. А вот с топпиком у меня любовь с первого взгляда. Отличное средство, недорогое и эффективное. На волосах выглядит очень естественно, не боится дождя и ветра. Моя оценка - отлично!'},
                author: 'Сергей',
                date: '14 октября 2015',
                rating: '2',
                product: true,
              },
              {
                body: {tag:'p', content:'Я пользуюсь топпиком с того момента, как впервые заметила редеющие волосы. Я очень боюсь того, что это станет заметным. Подруга посоветовала попробовать Toppik. Мне понравилась упаковка и простота. То,  что наносить загуститель волос можно без посторонней помощи -  вообще находка. Несколько секунд -  и моим волосам можно позавидовать,  настолько густыми они становятся. И выглядят при этом абсолютно естественно! Если бы не это, пришлось бы использовать системы замещения волос или парик. Ни того, ни другого использовать не хотелось. А благодаря Toppik - и не пришлось. Отличное средство, простое, действенное и лёгкое в использовании.'},
                author: 'Александра',
                date: '09 декабря 2015',
                rating: '1',
                product: true,
              },
            ]

          +pageSubsection.mobile-filter
            +pageSubsection.filter.filter--feedback.mobile-filter__block         
              button(type='button').hidden-hd.hidden-xl.hidden-l.hidden-m.btn.mobile-filter__button Фильтр
              .filter__inner   
                .filter__item  
                  a(href='#').btn.filter__btn.filter__btn--active Отзывы о Toppik
                .filter__item 
                  a(href='#').btn.filter__btn Отзывы о Fidentia
                .filter__item 
                  a(href='/').btn.filter__btn Отзывы о Hairfor2
                .filter__item 
                  a(href='/').btn.filter__btn Отзывы о Dermmatch
                .filter__item 
                  a(href='/').btn.filter__btn Отзывы о Sevich

            +pageSubsection.sort.mobile-filter__block
              button(type='button').hidden-hd.hidden-xl.hidden-l.hidden-m.btn.mobile-filter__button Сортировка
              .sort__inner
                p.hidden-s.hidden-xs Сортировать:
                button(type='button').btn.sort__btn.sort__btn--active по дате
                button(type='button').btn.sort__btn по рейтингу

          +pageSubsection
            each item in feedback
              +feedbackItem(item)
        +pageSubsection
          include /blocks/pagination/pagination
      //- +pageSection
      //-   h2 Оставить отзыв
      //-   +grid({'par-like': true})
      //-     +cell({tag: 'form', m:6,s:8,xs:12}).form
      //-       +formInput({type: 'text', name: 'name', label: 'Имя'})#feedbac-name
      //-       +formInput({type: 'email', name: 'name', label: 'E-mail'})#feedbac-email
      //-       +ratingInput('Оцените покупку')
      //-       +formInput({type: 'textarea', name: 'name', label: 'Отзыв'})#feedbac-text
      //-       +formInput({type:'checkbox', required: true, checked: true, label: ['Нажимая на кнопку, я даю свое ',{tag: 'a', attr: {href:'/soglasheniya-na-obrabotku-personalnykh-dannykh/'},content:'согласие на обработку своих персональных данных'},'.']})#form-agreement
      //-       button(type='submit').btn Оставить отзыв
block end
  +style('inner')
