extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/link-icons/link-icons
include /blocks/product-images/product-images
include /blocks/product-buy/product-buy
include /blocks/product-item/product-item
include /blocks/tabs/tabs
include /blocks/form-input/form-input
include /blocks/list-sequence/list-sequence
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/catalog-subheader/catalog-subheader
include /blocks/products-list-element/products-list-element
include /blocks/before-after/before-after
include /blocks/product-sizes/product-sizes
include /blocks/product-price/product-price
include /blocks/link-icons/link-icons

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная','Каталог','Загустители'], current: 'Пудра-загуститель Toppik - Гигант (55 гр.)'})
      h1 Пудра-загуститель Toppik - Гигант (55 гр.)
      +pageSection
        +grid({'padding-y': true})
          +cell({m:4, s:3, xs:12}) 
            +pageSubsection
              +productImages()
          +cell({m:8, s:9, xs:12})
            +pageSubsection
              +productPrice({ 'not-available': true })
            +pageSubsection: p Dermmatch — загуститель для волос в форме пудры, состоит из растительных компонентов.
            +pageSubsection
              +productBuy({ 'not-available': true })
            +pageSubsection: +blockMarked
              p Сложно выбрать цвет?
              ul.list-marked.list-marked--w-prev-par
                li Воспользуйтесь 
                  a(href='/kak-eto-rabotaet/kak-podobrat-tsvet/') нашей инструкцией
                  | .
                li Свяжитесь с нами в мессенджере или соц. сети.
                  +grid({ 'padding-y': true })
                    +cell({ xs: 'auto' }): +linkIcons(['whatsapp', 'viber'])
                    +cell({ xs: 'auto' }): +linkIcons(['vk', 'facebook', 'ok'])
                li
                  a(href='#' data-mrc-sh-title='product-pick-form') Заполните форму
                  | , подберем по фотографии.
            +pageSubsection
              +grid({'par-like': true, 'justify': 'center', 'padding-y': true})
                +cell({s:8,xs:12, tag: 'form'}).form(data-mrc-sh-body='product-pick-form'): +blockMarked
                  +formInput({type:'text', name:'form_text_5', label:'Имя',required: true})#form_text_5
                  +formInput({type:'email', name:'form_email_6', label:'Email',required: true})#form_email_6
                  +formInput({type:'file', name:'form_image_7', label:'Прикрепите свою фотографию (.jpeg)',required: true})#form_image_7
                  button(type='submit').btn.btn--secondary Отправить
      +pageSection
        +tabs
          +tab({ name: 'Описание' })
            p Dermmatch — загуститель для волос в форме пудры, состоит из растительных компонентов.
            h3 Назначение
            ul.list-marked
              li Маскировки облысения, поредения в зоне тонких и редких волос головы, увеличение густоты
              li Седые волосы — окрашивание в натуральный цвет. Просто нанесите «DermMatch» на седые пряди, и они приобретут естественный оттенок без серого цвета
              li Усы и борода — устранение проплешин и неровностей, придание им большей плотности и равномерности.
              li Брови — усиление густоты и цвета. Пудра решает проблему редких бровей, позволяет моделировать их контур и размер
              li Шрамы на коже головы — маскировка рубцов. 
            h3 Особенности
            ul.list-marked
              li Наносится с помощью специальных аппликаторов на кожу головы и волосы, придает волосам дополнительный объем
              li Обладает повышенной водостойкостью, которая позволяет полностью мочить голову, плавать, нырять, гулять под дождем и заниматься любимым видом спорта без боязни смыть маскирующий состав
              li Содержит смягчающие средства, растительные компоненты и другие натуральные вещества, полезные для здоровья
              li Не забивает волосяные фолликулы и поры, с этим средством кожа головы и корни волос дышат, как обычно
              li По сравнению с другой косметикой для внешней коррекции волос, такое средство расходуется гораздо экономичнее
            h3 Ассортимент
            ul.list-marked
              li Представлен в 8 оттенках.
              li В среднем одной пудры «DermMatch» хватает на 6-8 месяцев. Скорость расходования средства зависит от интенсивности его использования и величины области покрытия.
          +tab({ name: 'Как использовать?' })
            +pageSubsection
              -
                const sequence = [
                  {
                    'title': 'Помойте голову, высушите и уложите волосы',
                    'image': ['/images/m01.png','/images/w01.png'],
                  },
                  {
                    'title': 'Нанесите спрей на проблемные зоны',
                    'image': ['/images/m02.png','/images/w02.png'],
                  },
                  {
                    'title': 'Пригладьте волосы. Готово!',
                    'image': ['/images/m03.png','/images/w03.png'],
                  },
                ]
              +listSequence(sequence, {'widths': {m:6,s:8,xs:12}})
            +pageSubsection
              +grid({'justify':'center'}): +cell({m:8,s:10,xs:12}): +textMarked({'tag':'p', 'center': true, 'bold': true}) Для достижения максимального эффекта советуем использовать вместе с пульверизатором, гребешком и лаком.
            +pageSubsection
              -
                const sequence2 = [
                  {
                    'title': 'Помойте голову, высушите и уложите волосы',
                    'text': { 'tag': 'p', 'content': 'Помыть голову с применением шампуня, ополоснуть волосы и высушить. Используя расческу с редкими зубчиками (также подойдет грубая щетка), приподнять волосы в проблемных зонах, двигаясь от корней до кончиков. С силой встряхивайте средство в течение 30 секунд.' },
                    'image': ['/images/how-to-use/hairfor2-how-to-use-1.jpg'],
                  },
                  {
                    'title': 'Нанесите загуститель на проблемные зоны',
                    'text': [
                      { 'tag': 'p', 'content': 'На расстоянии 20 сантиметров распыляйте Hairfor2 по 3-4 секунды на каждом участке головы, соблюдая направление против роста волос. Важно: чтобы не образовалась пленка, не держите емкость со средством слишком близко и не распыляйте слишком сильно.' },
                      { 'tag': 'p', 'content': 'Обрабатывая волосы в участке лба, прежде чем начать распылять спрей, отступите от краевой линии на 1-2 сантиметра, после чего наносите загуститель ступенчато: так вы придадите шевелюре максимально натуральный вид.' },
                    ],
                    'image': ['/images/how-to-use/hairfor2-how-to-use-2.jpg'],
                  },
                  {
                    'title': 'Уложите волосы. Готово!',
                    'text': { 'tag': 'p', 'content': 'Завершив первый этап распыления, уложите волосы желаемым образом, используя расческу с крупными зубьями. Затем повторяйте циклы обработки участков до тех пор, пока не получите нужную густоту волос.' },
                    'image': ['/images/how-to-use/hairfor2-how-to-use-3.jpg'],
                  },
                ]
              +listSequence(sequence2, { 'widths': { m: 6, s: 8, xs: 12 } })
            +pageSubsection
              ol.list-numbered
                li Отвинтите колпачок загустителя
                li Поверните и снимите сито
                li Навинтите распылитель на загуститель
                li Нажмите на насос
                li Применение большего или меньшего давления влияет на количество выделяемых волокон
            +pageSubsection
              +grid({ 'justify': 'center' }): +cell({ l: 8, m: 10, xs: 12 })
                +youtubeResponsive('TcVCB166bAM')
            +pageSubsection.text-align--center
              +grid({ padding: [ 'y', 'big' ] })
                +cell({ l: 3, m: 6, xs: 12 }): +grid({ 'justify': 'center' })
                  +cell({ m: 8, xs: 12 }): picture
                    source(srcset='/images/how-to-use/toppik-grey-how-to-use-1.webp' type='image/webp')
                    img(src='/images/how-to-use/toppik-grey-how-to-use-1.jpg' alt='')
                  +cell({ xs: 12 }): p Использовать только на сухие волосы. Уложите волосы перед применением спрея.
                +cell({ l: 3, m: 6, xs: 12 }): +grid({ 'justify': 'center' })
                  +cell({ m: 8, xs: 12 }): picture
                    source(srcset='/images/how-to-use/toppik-grey-how-to-use-2.webp' type='image/webp')
                    img(src='/images/how-to-use/toppik-grey-how-to-use-2.jpg' alt='')
                  +cell({ xs: 12 }): p Встряхните флакон перед использованием. Аккуратно и равномерно распылите держа спрей на расстоянии 7-13 см от головы. Повторите при необходимости.
                +cell({ l: 3, m: 6, xs: 12 }): +grid({ 'justify': 'center' })
                  +cell({ m: 8, xs: 12 }): picture
                    source(srcset='/images/how-to-use/toppik-grey-how-to-use-3.webp' type='image/webp')
                    img(src='/images/how-to-use/toppik-grey-how-to-use-3.jpg' alt='')
                  +cell({ xs: 12 }): p Используйте гребешок Toppik для покрытия корней вблизи линии роста волос.
                +cell({ l: 3, m: 6, xs: 12 }): +grid({ 'justify': 'center' })
                  +cell({ m: 8, xs: 12 }): picture
                    source(srcset='/images/how-to-use/toppik-grey-how-to-use-4.webp' type='image/webp')
                    img(src='/images/how-to-use/toppik-grey-how-to-use-4.jpg' alt='')
                  +cell({ xs: 12 }): p Дайте высохнуть в течении 2-х минут.
            +pageSubsection
              +grid({ 'justify': 'center' }): +cell({ l: 8, m: 10, xs: 12 })
                +youtubeResponsive('_TSxh_0DI_c')
          +tab({name: 'До и после'})
            +pageSubsection
              - const beforeAfter = [{},{},{},{},{},{}]
              +grid({'par-like':true, 'padding-y': true})
                - i = 0
                each item in beforeAfter
                  +cell({m:4,s:6,xs:12})
                    -
                      i += 1;
                      item.fancybox = i;
                    +beforeAfter(item)
            +pageSubsection
              +grid({'padding-y': true, 'justify': 'center'})
                +cell({m:6,s:8,xs:12}): +youtubeResponsive('L6q7ut7JPc4')
                +cell({m:6,s:8,xs:12}): +youtubeResponsive('53Uo87eE0WE')
                +cell({m:6,s:8,xs:12}): +youtubeResponsive('sk7u-KvL_Cc')
                +cell({m:6,s:8,xs:12}): +youtubeResponsive('Np5bevhH5wI')
                +cell({m:6,s:8,xs:12}): +youtubeResponsive('4R-KdDGJDss')
            +pageSubsection
              - const beforeAfter = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
              +grid({'padding-y': true, 'justify': 'center'})
                each item in beforeAfter
                  +cell({m:4,s:6,xs:12}): img(src != `/images/catalog/dermmatch-before-after-${item}.jpg` alt='До и после использования Dermmatch')
          +tab({name: 'Доставка и оплата'})
            include /blocks/product-payment-delivery/product-payment-delivery
          +tab({name: 'Отзывы'})
            +grid
              +cell({m:6,s:9,xs:12, tag: 'form'}).form
                +formInput({type:'text', name:'name', label:'Имя',required: true})#review-field-name
                +formInput({type:'email', name:'email', label:'Email',required: true})#review-field-email
                +formInput({type:'textarea', name:'comment', label:'Отзыв', required: true})#review-field-comment
                +formInput({type:'text', name:'captcha', label:[{tag: 'img', attr: {src:'https://dummyimage.com/180x40'}},'<br>Введите слово с картинки:'], required: true})#review-field-captcha
                +formInput({type:'checkbox', name:'agreement', label: ['Нажимая на кнопку, я даю ', {tag:'a', attr:{href:'/soglasheniya-na-obrabotku-personalnykh-dannykh/'}, content: 'свое согласие на обработку своих персональных данных'}, '.'], required: true, checked: true})#review-field-agreement
                button(type='submit').btn.btn--secondary Оставить отзыв
          +tab({name: 'Подобрать цвет'})
            +pageSubsection
              //- toppik
              -
                const palette = [
                  { name: 'Черный', src: '/images/palette/1.png', detail: '/images/palette/1.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
                  { name: 'Темно-коричневый', src: '/images/palette/2.png', detail: '/images/palette/2.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
                  { name: 'Средне-коричневый', src: '/images/palette/3.png', detail: '/images/palette/3.jpg', desc: 'Для русых волос, волос медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
                  { name: 'Светло-коричневый', src: '/images/palette/5.png', detail: '/images/palette/5.jpg', desc: 'Для русых или блондинов', result: '/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.png' },
                  { name: 'Средний блонд', src: '/images/palette/6.png', detail: '/images/palette/6.jpg', desc: 'Для блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
                  { name: 'Светлый блонд', src: '/images/palette/7.png', detail: '/images/palette/7.jpg', desc: 'Для перельных блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
                ]
              +palette(palette)
            +pageSubsection
              //- hairfor
              -
                const palette = [
                  { name: '№ 10 черный', src: '/images/palette/hairfor-black.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
                  { name: '№ 11 черно-коричневый', src: '/images/palette/hairfor-black-brown.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
                  { name: '№ 22 темно-коричневый', src: '/images/palette/hairfor-dark-brown.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
                  { name: '№ 24 шатен', src: '/images/palette/hairfor-med-brown.jpg', desc: 'Для каштановых, темных волос, медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
                  { name: '№ 26 светло-коричневый', src: '/images/palette/hairfor-light-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
                  { name: '№ 32 темно-русый', src: '/images/palette/hairfor-dark-blonde.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
                ]
              +palette(palette)
            +pageSubsection
              //- dermmatch
              -
                const palette = [
                  { name: 'Черный', src: '/images/palette/dermmatch-black.jpg', desc: 'Для жгучих брюнетов', result: '/images/kak-podobrat-tsvet/reshenie-dlya-zhguchih-bryunetov.png' },
                  { name: 'Темно-коричневый', src: '/images/palette/dermmatch-dark-brown.jpg', desc: 'Для каштановых, темных волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-kashtanovyh-volos.png' },
                  { name: 'Средне-коричневый', src: '/images/palette/dermmatch-medium-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
                  { name: 'Светло-коричневый', src: '/images/palette/dermmatch-light-brown.jpg', desc: 'Для русых волос', result: '/images/kak-podobrat-tsvet/toppik-dlya-rusoj-shevelyury.png' },
                  { name: 'Рыжий', src: '/images/palette/dermmatch-red.jpg', desc: 'Для волос медного или рыжего оттенка', result: '/images/kak-podobrat-tsvet/toppik-dlya-volos-ryzhego-ottenka.png' },
                  { name: 'Платиновый блонд', src: '/images/palette/dermmatch-platinum-blonde.jpg', desc: 'Для блондинов', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
                  { name: 'Серый', src: '/images/palette/dermmatch-silver-gray.jpg', desc: 'Для обладателей седых волос', result: '/images/kak-podobrat-tsvet/dlya-sedyh.jpg' },
                  // { name: 'Белый', src: '/images/palette/dermmatch-white.jpg', desc: 'Для блондинов и обладателей седых волос', result: '/images/kak-podobrat-tsvet/dlya-blondinov.jpg' },
                ]
              +palette(palette)
      +pageSection
        +grid(): +cell({m:8, s:10, xs:12}): +catalogSubheader Просмотренные товары
        +pageSubsection
          +grid({'padding-y': true})
            -
              const products = [
                {
                  name: 'Пудра-загуститель Toppik - Гигант (55 гр.)',
                  price: 6250,
                  buyOneClick: false,
                },
                {
                  name: 'Пудра-загуститель Toppik - Мини (3 гр.)',
                  price: 800,
                  buyOneClick: false,
                },
              ]
            each product in products
              +cell({m:3,s:4,xs:6}): +productsListElement(product)
      +pageSection
        +grid(): +cell({m:8, s:10, xs:12}): +catalogSubheader С этим товаром покупают
        +pageSubsection
          +grid({'padding-y': true})
            -
              const accessories = [
                {
                  name: 'Гребешок Toppik',
                  price: 550,
                  colours: false,
                },
                {
                  name: 'Пульверизатор Toppik',
                  price: 1880,
                  colours: false,
                },
                {
                  name: 'Закрепляющий лак - Эконом (118мл)',
                  price: 1800,
                  colours: false,
                },
              ]
            each product in accessories
              +cell({m:3,s:4,xs:6}): +productsListElement(product)
      +pageSection
        include /blocks/modal-add-to-cart/modal-add-to-cart
      +pageSection
        include /blocks/modal-quick-buy/modal-quick-buy
block end
  +style('inner')
