extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-register/form-register

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Регистрация'})
      h1 Регистрация
      +grid()
        +cell({m:6,s:10,xs:12})
          +formRegister({
            fields: [
              {label: 'Имя:', type: 'text', name: 'USER_NAME', id: 'USER_NAME'},
              {label: 'Фамилия:', type: 'text', name: 'USER_LAST_NAME', id: 'USER_LAST_NAME'},
              {label: 'Логин (мин. 3 символа):', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN', required: true},
              {label: 'Пароль:', type: 'password', name: 'USER_PASSWORD', id: 'USER_PASSWORD', required: true},
              {label: 'Подтверждение пароля:', type: 'password', name: 'USER_CONFIRM_PASSWORD', id: 'USER_CONFIRM_PASSWORD', required: true},
              {label: 'E-Mail:', type: 'email', name: 'USER_EMAIL', id: 'USER_EMAIL', required: true},
              {type:'text', name:'captcha', label:[{tag: 'img', attr: {src:'https://dummyimage.com/180x40'}},'<br>Введите слово с картинки:'], required: true},
              {label: ['Нажимая на кнопку, я даю свое ', {tag: 'a', attr: {href: '/soglasheniya-na-obrabotku-personalnykh-dannykh/'}, content: 'согласие на обработку своих персональных данных'}], type: 'checkbox', name: 'register_agreement', id: 'register_agreement', checked: true, required: true, noReqMark: true},
            ],
            submit: 'Регистрация',
          })
      p Пароль должен быть не менее 6 символов длиной.
      p
        span.required-mark *
        |  Обязательные поля
block end
  +style('inner')
