extends /blocks/layout-columns/layout-columns

include /blocks/page-section/page-section
include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная', 'О нас'], current: 'Дистрибьюторы'})
  h1 Сертификаты
  +grid({'par-like': true, 'padding-y': true})
    +cell({m:6,xs:12})
      p
        a(href='/images/o-nas/sertifikaty/svidetelstvo-o-gosudarstvennoy-registratsii.jpg' data-fancybox)
          picture
            source(srcset='/images/o-nas/sertifikaty/svidetelstvo-o-gosudarstvennoy-registratsii.webp' type='image/webp')
            img(src='/images/o-nas/sertifikaty/svidetelstvo-o-gosudarstvennoy-registratsii.jpg' alt='Свидетельство о государственной регистрации' title='Свидетельство о государственной регистрации')
        br
        i Свидетельство о государственной регистрации
    +cell({m:6,xs:12})
      p
        a(href='/images/o-nas/sertifikaty/deklaraciya-sootvetstviya-zagustiteli-volos.jpg' data-fancybox)
          picture
            source(srcset='/images/o-nas/sertifikaty/deklaraciya-sootvetstviya-zagustiteli-volos.webp' type='image/webp')
            img(src='/images/o-nas/sertifikaty/deklaraciya-sootvetstviya-zagustiteli-volos.jpg' alt='Декларация соответствия, загустители волос' title='Декларация соответствия, загустители волос')
        br
        i Декларация соответствия, загустители волос
block end
  +style('inner')
