extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/link-icons/link-icons
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная','О нас'], current: 'Шоу-рум'})
      h1 Приглашаем вас на бесплатную презентацию!
      +pageSection
        p Если вы навестили наш замечательный город 
          strong Санкт-Петербург
          | , то обязательно, посетите нас. Мы всегда рады гостям!
        p Мы развеем ваши сомнения об эффекте загустителей волос на примере продукции 
          strong «Hairfor2»
          | , 
          strong «Toppik»
          | , 
          strong «Dermmatch»
          | . Вы сможете опробовать косметику для волос лично, и убедиться в ее эффективности самостоятельно! Мы наглядно покажем и все продемонстрируем, проведем для вас «мастер-класс» абсолютно 
          strong бесплатно!
        p Наши специалисты помогут Вам:
        ul.list-marked.list-marked--w-prev-par
          li подобрать необходимый и подходящий вам цвет;
          li покажут, как наносить загустители и использовать аксессуары.
        p У нас имеются различные объемы и оттенки, которые всегда 
          strong в наличии.
        p Будем рады предоставить вам 
          strong профессиональную консультацию
          |  от наших квалифицированных специалистов, которые подробно расскажут о линейке косметических средств.
        p С появлением такого замечательного и чудодейственного средства, как 
          strong загуститель волос
          |  — мы можем с полной уверенностью сказать, что после презентации вы останетесь в полном восторге, а комплексы по поводу ваших волос улетучатся. Вы забудете о проблемах связанных с тонкими и редкими волосами, в считанные секунды! Вы станете 
          strong увереннее в себе
          |  и еще более привлекательными и красивыми!
        p Вы можете 
          strong записаться на бесплатную презентацию
          |  заранее по телефону или прийти к нам в любой день в рабочее время.
        p Будем с нетерпением ждать вас!
        h2 Фотографии офиса
        +grid({'par-like': true, 'padding-y': true})
          +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
            a(href='/images/kontakty/office-1.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
              picture
                source(srcset='/images/kontakty/office-1.webp' type='image/webp')
                img(src='/images/kontakty/office-1.jpg' alt='Ассортимент загустителей' title='Ассортимент загустителей' itemprop='thumbnail')
          +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
            a(href='/images/kontakty/office-2.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
              picture
                source(srcset='/images/kontakty/office-2.webp' type='image/webp')
                img(src='/images/kontakty/office-2.jpg' alt='Центр дизайна волос' title='Центр дизайна волос' itemprop='thumbnail')
          +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
            a(href='/images/kontakty/office-3.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
              picture
                source(srcset='/images/kontakty/office-3.webp' type='image/webp')
                img(src='/images/kontakty/office-3.jpg' alt='Вход в офис' title='Вход в офис' itemprop='thumbnail')
          +cell({m:3,s:4,xs:6})(itemscope itemtype='http://schema.org/ImageObject')
            a(href='/images/kontakty/office-4.jpg' data-fancybox='contacts-office' itemprop='contentUrl')
              picture
                source(srcset='/images/kontakty/office-4.webp' type='image/webp')
                img(src='/images/kontakty/office-4.jpg' alt='Центр дизайна волос' title='Центр дизайна волос' itemprop='thumbnail')
      +pageSection()
        h2 Контакты
        +grid({'padding-y': true, 'par-like':true})
          +cell({s:6,xs:12})
            meta(content="zagustitelvolos.com" itemprop="name")
            meta(content="http://zagustitelvolos.com/bitrix/templates/main/img/top_log.png" itemprop="image")
            meta(content="8 /812/ 401 43 55" itemprop="telephone")
            p +7 (812) 701-06-04
            p: +linkIcon('mail')(href='mailto:zakaz@zagustitelvolos.com') zakaz@zagustitelvolos.com
            p Poссия, Санкт-Петербург, наб. Обводного канала, 108А
            p
              strong Режим работы:
              br
              | пн-пт: с 10:00 до 21:00 (мск)
              br
              | сб-вс: с 10:00 до 19:00 (мск)
            p Работаем по России и СНГ
            h3 Мы в социальных сетях
            +linkIcons(['vk', 'facebook', 'ok'])
            h3 Реквизиты организации
            p
              | ООО «Центр Дизайна Волос»
              br
              | ИНН 7839080306
              br
              | Юридический адрес: 196084, Наб. Обводного канала, 108А, пом.30Н
          +cell({s:6,xs:12})
            h3 Схема проезда
            +pageSubsection
              script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&height=370&lang=ru_RU&sourceType=constructor")
