extends /blocks/layout-columns/layout-columns

include /blocks/page-section/page-section
include /blocks/list-advantages/list-advantages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/aside-menu/aside-menu
include /blocks/palette/palette
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block aside
  include /data/about-menu
  +asideMenu(aboutMenu)
block main
  +breadcrumbs({parents: ['Главная', 'О нас'], current: 'Сотрудничество'})
  h1 Оптовые продажи продукции Toppik
  ul.list-marked
    li Скидка от 30% при минимальной партии — 10 000 рублей;
    li Скидка от 40% при минимальной партии — 20 000 рублей;
    li Скидка от 50% при минимальной партии — 30 000 рублей.
  include /blocks/banner-cooperation/banner-cooperation
  h2 О продукции Toppik
  p Toppik — это уникальный комплекс микрочастиц на основе белкового кератина органического происхождения, т.е. их состав идентичен материалу, из которого состоят наши волосы. Микрочастицы незаметно оседают на прикорневой части волос, создавая мгновенный эффект густоты. За несколько секунд можно получить густую шевелюру, о которой Вы никогда раньше и не мечтали.
  p Предлагаем линию для маскировки истонченных волос Toppik, производство США. Продукция может применяться как дома, так и в салоне.
  p Загуститель Toppik может иметь разное целевое применение:
  ul.list-marked.list-marked--w-prev-par
    li Придает объем редким и тонким волосам
    li Волосы выглядят здоровыми и блестящими
    li Маскирует залысины в любой части головы (макушечной, височной, лобной, а также в области пробора)
    li Может использоваться для придания нужного оттенка отросшим корням волос
  p Загуститель Toppik выпускается в 4 размерах: упаковки 3,12, 27, 55 грамм.
  +grid({'padding-y': true, 'par-like': true, 'align':'flex-end'})
    +cell({s:3,xs:6}): picture
      source(srcset='/images/o-nas/sotrudnichestvo/toppik-3.webp' type='image/webp')
      img(src='/images/o-nas/sotrudnichestvo/toppik-3.jpg' alt='Загуститель волос Toppik 3 г' title='Загуститель волос Toppik 3 г')
    +cell({s:3,xs:6}): picture
      source(srcset='/images/o-nas/sotrudnichestvo/toppik-12.webp' type='image/webp')
      img(src='/images/o-nas/sotrudnichestvo/toppik-12.jpg' alt='Загуститель волос Toppik 12 г' title='Загуститель волос Toppik 12 г')
    +cell({s:3,xs:6}): picture
      source(srcset='/images/o-nas/sotrudnichestvo/toppik-27.webp' type='image/webp')
      img(src='/images/o-nas/sotrudnichestvo/toppik-27.jpg' alt='Загуститель волос Toppik 27 г' title='Загуститель волос Toppik 27 г')
    +cell({s:3,xs:6}): picture
      source(srcset='/images/o-nas/sotrudnichestvo/toppik-55.webp' type='image/webp')
      img(src='/images/o-nas/sotrudnichestvo/toppik-55.jpg' alt='Загуститель волос Toppik 55 г' title='Загуститель волос Toppik 55 г')
  p Линия загустителей Toppik представлена в 8 оттенках:
  -
    const palette = [
      {
        name: '',
        src: '/images/palette/1.png',
        detail: '/images/palette/1.jpg',
      },
      {
        name: '',
        src: '/images/palette/2.png',
        detail: '/images/palette/2.jpg',
      },
      {
        name: '',
        src: '/images/palette/3.png',
        detail: '/images/palette/3.jpg',
      },
      {
        name: '',
        src: '/images/palette/4.png',
        detail: '/images/palette/4.jpg',
      },
      {
        name: '',
        src: '/images/palette/5.png',
        detail: '/images/palette/5.jpg',
      },
      {
        name: '',
        src: '/images/palette/6.png',
        detail: '/images/palette/6.jpg',
      },
      {
        name: '',
        src: '/images/palette/7.png',
        detail: '/images/palette/7.jpg',
      },
      {
        name: '',
        src: '/images/palette/8.png',
        detail: '/images/palette/8.jpg',
      },
    ]
  +palette(palette)
  h2 Наши преимущества:
  ul.list-marked
    li Являемся официальным дистрибьютором продукции Toppik в России
    li Продаем данный продукт уже 10 лет и добились определенного успеха: более, чем 1 000 постоянных клиентов, использующих Toppik
    li Обеспечиваем полную информационную поддержку в виде флаерсов, постеров, рекламных подставок
    li Представлены все линейки продукции Toppik: загустители, средства для питания и ухода, сопутствующую продукцию и аксессуары
    li Предлагаем различные варианты оплаты и доставки товаров
  include /blocks/banner-cooperation/banner-cooperation
block end
  +style('inner')
