include /blocks/palette/palette

mixin beforeAfter(item, count = 1)
  .before-after(class!= attributes.class)
    +grid({'nopadding':true}).before-after__photos
      +cell({xs:6}).before-after__photo
        a(href='https://dummyimage.com/400x600' data-fancybox != item.fancybox)
          picture
            source(srcset='https://dummyimage.com/400x600.webp')
            img(src='https://dummyimage.com/400x600' alt='')
        span До
      +cell({xs:6}).before-after__photo
        a(href='https://dummyimage.com/400x600' data-fancybox != item.fancybox)
          picture
            source(srcset='https://dummyimage.com/400x600.webp')
            img(src='https://dummyimage.com/400x600' alt='')
        span После<br>(через 25 секунд)
    if item.name
      .before-after__name !{item.name}
    if item.desc
      .before-after__description !{item.desc}
    if item.problem
      .before-after__problem !{item.problem}
    if item.color
      +palette([{name: item.color.name, src: item.color.src}]).before-after__color
