.before-after
  &__photos
    position relative
    background-color var(--marked-color-light)
  &__photo
    display flex
    flex-direction column
    align-items center

    img
      border .25rem solid var(--marked-color-light)

    span
      padding .25rem
      font-size font-xs
      text-align center
      color var(--font-color-secondary)
  &__name
    margin-top (line-m - font-m)
    font-weight 500
    line-height line-s
    text-align center
  &__description
  &__problem
    margin-top (line-s - font-m)
    line-height line-s
    text-align center
  &__problem
    font-size font-s
  &__color
    margin-top basePadding
    .palette__item
      display flex
      flex-direction column
      align-items center
      width 100%

      img
        max-width 4.125rem
