.page-section
  & + &
    margin-top (basePadding*4)
  h1 + &
    margin-top 1rem
  &--padding-y
    padding-y (basePadding*2)
  &--nomargin
    ^[-1] + &
      margin-top 0
  &--color-light
    background-color var(--marked-color-light)
