include /blocks/form-input/form-input

form.consultation-ask-form
  .consultation-ask-form__input
    +grid({paddingy: true})
      +cell({s:4,xs:12})
        label(for='consultation-ask-form-question').consultation-ask-form__label: strong Вопрос
      +cell({s:8,xs:12})
        +formInput({type:'textarea',name:'question'}).validated.required#consultation-ask-form-question
  .consultation-ask-form__input
    +grid({paddingy: true})
      +cell({s:4,xs:12})
        label(for='consultation-ask-form-name').consultation-ask-form__label: strong Имя
      +cell({s:8,xs:12})
        +formInput({type:'text',name:'name'})#consultation-ask-form-name
  .consultation-ask-form__input
    +grid({paddingy: true})
      +cell({s:4,xs:12})
        label(for='consultation-ask-form-mail').consultation-ask-form__label
          strong E-mail
          br
          | Не публикуем на сайте. 
          br
          | На e-mail отправим ответ
      +cell({s:8,xs:12})
        +formInput({type:'email',name:'email'})#consultation-ask-form-mail
  .consultation-ask-form__input
    +grid({paddingy: true})
      +cell({s:4,xs:12})
        label(for='consultation-ask-form-phone').consultation-ask-form__label
          strong Телефон 
          br
          | Не публикуем на сайте. 
          br
          | Позвоним чтобы проконсультровать.
      +cell({s:8,xs:12})
        +formInput({type:'tel',name:'phone'})#consultation-ask-form-phone
  .consultation-ask-form__input
    +grid({paddingy: true})
      +cell({s:4,xs:12})
        label(for='consultation-ask-form-city').consultation-ask-form__label: strong Город
      +cell({s:8,xs:12})
        +formInput({type:'text',name:'city'})#consultation-ask-form-city
  .consultation-ask-form__input
    +formInput({type:'checkbox',name:'city', checked: true, required:true, label: ['Нажимая на кнопку, я даю свое ',{tag:'a', attr: {href:'/soglasheniya-na-obrabotku-personalnykh-dannykh/'}, content:'согласие на обработку своих персональных данных'},'.']})
  .consultation-ask-form__submit
    button(type='submit').btn Отправить вопрос
