.article-more
  &__all
    text-align right
    align-self center
    @media(max-width point-s - 1)
      text-align left
  &__link
    display inline-block
    margin-top 1.5rem 
    margin-bottom 0.5rem
    font-weight 700
    text-decoration none
