-
  const articleText = [
    { text: 'Загущение волос — что это за процедура, как её сделать правильно и как её сделать правильно' },
    { text: 'Загущение волос — что это за процедура, как её сделать правильно' },
    { text: 'Загущение волос — что это за процедура, как её сделать правильно' },
  ]

+grid({ 'padding-y': true, 'justify': 'space-between' }).article-more 
  +cell({ m:9, s:6, xs:12 })
    h2 Почитать ещё
  +cell({ m:3, s:6, xs:12 }).article-more__all
    a(href='/').link-secondary Посмотреть все
  each item in articleText
    +cell({ m:4, s:6 }).article-more__item
      a(href='/')
        +img({
          name: 'more',
          path: '/images/stati/kak-ubrat-zalysiny-na-golove-u-muzhchin/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1,2 ] }
          ]
          })(alt= 'Статья' title= 'Статья' width=480 height=260)
      a(href='/').link-secondary.article-more__link= item.text
      include /blocks/article-reading-item/article-reading-item
