.banner-schedule
  background-image url(../images/banner-schedule/bg.webp)
  background-repeat no-repeat
  background-position center
  background-size cover
  &__title
    text-decoration none!important
    color #ad0a31
