.article-form
  &__form
    margin-top 1.5rem
  &__inner
    row-gap 1rem
  &__item:nth-child(2)
    padding-right (basePadding/2)
  &__item:nth-child(3)
    padding-left (basePadding/2)
  @media(max-width point-s - 1)
    &__item:nth-child(2)
      padding-right basePadding
    &__item:nth-child(3)
      padding-left basePadding
