.list-advantages
  parMargin()
  h2 + &
    margin-top 0
  &__item
    display flex
    flex-direction column
    text-align center
    &--icon
      position relative
      &.grid__cell
        padding-top (basePadding * 6)
      &::before
        content ''
        position absolute
        top basePadding
        left 50%
        width (basePadding * 4)
        height (basePadding * 4)
        transform translateX(-50%)
        background-image var(--advantage-image)
        background-repeat no-repeat
        background-position center
        background-size contain
      &-globe
        --advantage-image url(../images/svg-sprites/list-advantages.svg#globe)
      &-microscope
        --advantage-image url(../images/svg-sprites/list-advantages.svg#microscope)
      &-wholesale-certificate
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-certificate)
      &-wholesale-team
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-team)
      &-wholesale-truck
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-truck)
      &-wholesale-agreement
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-agreement)
        &::before
          margin-top .5rem
      &-wholesale-calendar
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-calendar)
      &-wholesale-bottle
        --advantage-image url(../images/svg-sprites/list-advantages.svg#wholesale-bottle)
    &--horizontal
      text-align left
      &.grid__cell
        padding-top basePadding
        padding-left (basePadding * 6)
      &::before
        left basePadding
        transform none
  &__title
    font-size font-l
    font-weight bold
    line-height line-m

    &:only-child
      flex-grow 1
  &__text
    flex-grow 1
    padding-top (basePadding/2)
    line-height line-m
  &--text-align-left
    & ^[-1]__item
      text-align left
    & ^[-1]__title
      padding-left 0
  &--justify-center
    justify-content center
