mixin listAdvantages(list, settings)
  -
    const classList = classes('list-advantages', settings)
  +grid({tag:'ul', 'padding-y': true})(class != classList)&attributes(attributes)
    each item in list
      -
        const itemOptions = item.sizes || {m:4,s:6,xs:12}
        itemOptions.tag = 'li'
        const itemClassList = classes('list-advantages__item', item.settings)
      +cell(itemOptions)(class != itemClassList)
        if item.title
          .list-advantages__title !{item.title}
        if item.text
          .list-advantages__text: +createElement(item.text)
