.aside-menu
  parMargin()
  background-color var(--marked-color)
  &__list-item

    a
      position relative
      display block
      padding-x basePadding
      padding-y (line-m/4)
      font-size font-s
      line-height line-m
      text-decoration none
      color var(--background-color)
      &:hover
        background-color var(--nav-background)
      
    &:not(:last-child) a::after
      content ''
      position absolute
      bottom 0
      left basePadding
      width unquote('calc(100% - '+(basePadding*2)+')')
      border-bottom .5px solid var(--marked-color-medium)
