mixin listSequence(list = [], settings = {})
  -
    const elemSettings = {'tag': 'li'}
    const elemWidth = settings.widths ? settings.widths : {m:4, s:8, xs:12}
    Object.assign(elemSettings, elemWidth)
    
  +grid({'padding-y': true, 'justify':'center', 'par-like':true, 'tag': 'ol'}).list-sequence
    each item in list
      +cell(elemSettings).list-sequence__item
        if item.image
          .list-sequence__images
            each image in item.image
              .list-sequence__image: picture
                - webp = image.substr(0, image.lastIndexOf('.')) + '.webp'
                source(srcset=webp type='image/webp')
                img(src != image alt != image.title title != image.title)
        .list-sequence__title !{item.title}
        if item.text
          .list-sequence__text: +createElement(item.text)
