.list-sequence
  counter-reset list-sequence

  list-style none
  &__item
    text-align center

    counter-increment list-sequence
  &__images
    display flex
    justify-content center
    margin (basePadding/2)
  &__image
    max-width 50%
    margin (basePadding/2)

    img
      border-radius 50%
  &__title
    margin-bottom basePadding
    font-size font-l
    font-weight bold
    &::before
      content counter(list-sequence)'. '
      font-size font-xxl
      font-weight 500
      font-style italic
      color var(--link-color)
