.consultation-list
  &__item
    & + &
      margin-top (basePadding*2)
  &__title
    font-size  1.25em
    position relative
    line-height 1.5em
    font-weight 500

    margin-bottom .625rem
  &__footer
    margin-top (font-m/4)
    line-height line-m

    a
      font-weight 500
      text-decoration none
      color #4e4e4e
  &__info
    line-height line-m
    &:only-child
      display flex
      margin-x -(basePadding)
      & * //@stylint ignore
        padding-x basePadding
  &__date
    font-size font-s
    color #7c776c
