mixin consultationList(list)
  .consultation-list
    each item in list
      .consultation-list__item
        h2.consultation-list__title
          a(href='konsultatsiya-answer.html') !{item.title}
        +grid({paddingy:true}).consultation-list__body
          if item.question
            +cell({m:10,s:9,xs:12}).consultation-list__question
              +createElement(item.question)
          - let infoWidth = item.question? {m:2,s:3,xs:12} : {xs:12}
          +cell(infoWidth).consultation-list__info
            .consultation-list__author !{item.author}
            .consultation-list__date !{item.date}
        .consultation-list__footer
          a(href='konsultatsiya-answer.html') Отвечает: !{item.answers}
