.article-reading-item
  span.article-reading-item__item.article-reading-item__item--time 4 минуты
  span.article-reading-item__item 4 мая 2022
  span.article-reading-item__item.article-reading-item__item--count 893
