.article-reading-item
  display flex
  justify-content var((--article-reading-justify), flex-start)
  font-size 0.875rem
  line-height 1.3
  color var(--link-secondary-color)
  &__item
    position relative
    display flex
    align-items center
    & + &
      margin-left 1rem
    &--time
    &--count
      padding-left 1.875rem
      &::before
        content ''
        position absolute
        left 0
        background-repeat no-repeat
        background-position center
        background-size cover
    &--time
      &::before
        width 1.25rem
        height 1.25rem
        background-image var(--icon-clock)
    &--count
      &::before
        width 1.375rem
        height 1rem
        background-image var(--icon-eye)
