.consultation-question
  &__title
    & + .grid
      margin-top .625rem
  &__author
    font-size font-m
    line-height line-m
  &__date
    font-size font-s
    line-height line-s
    color #7c776c
  &__info
    &:only-child
      display flex
      align-items baseline
      margin-x -(basePadding/2)
      & ^[-2]__author
      & ^[-2]__date // @stylint ignore
        padding-x (basePadding/2)
