include /blocks/block-marked/block-marked

mixin consultationQuestion(item)
  +blockMarked({'color': 'medium'}).consultation-question
    h1.consultation-question__title !{item.title}
    +grid({paddingy:true})
      if item.body
        +cell({m:9,s:8,xs:12}).consultation-question__body
            - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
            +createElement(item.body)
        +cell({m:3,s:4,xs:12}).consultation-question__info
          .consultation-question__author !{item.author}
          .consultation-question__date !{item.date}
      else
        +cell({xs:12}).consultation-question__info
          .consultation-question__author !{item.author}
          .consultation-question__date !{item.date}
