.product-item
  text-decoration none
  &:hover
    & ^[-1]__name
    & ^[-1]__length // @stylint ignore
      color var(--link-color-hover)
  &__name
    margin-top .5rem
    color var(--font-color)
  &__length
    margin-top .5em
    font-size font-s
    color var(--font-color)
  &__price
    margin-top .25em
    font-size font-xxl
    font-weight 500
    color var(--font-color)
