mixin productItem(product)
  a(href='stranica-tovara-sistema.html').product-item
    .product-item__image: img(src != product.image alt != product.alt || product.name)
    if product.name
      .product-item__name !{product.name}
    if product.length
      .product-item__length !{product.length}
    .product-item__price !{product.price}&nbsp;₽
