.home-slider
  padding-x (basePadding*2.6)
  overflow hidden
  @media(max-width point-m - 1)
    padding-x (basePadding)
  &__swiper
    overflow visible
    padding-bottom 0.8rem
  &__button
    position absolute
    top 24%
    left -3rem
    width 3.75rem
    height 2.875rem
    padding 0
    border none
    z-index 3
    mask-image var(--icon-arrow)
    mask-repeat no-repeat
    mask-size contain
    background-color var(--link-secondary-color)
    &.swiper-button-disabled
      background-color rgba(#4e4e4e, 0.3)
    &--next
      left auto
      right -3rem
      transform rotate(180deg)
    @media(max-width point-m - 1)
      display none
  &__pagination
    &.swiper-pagination-bullets
      bottom auto
    & .swiper-pagination-bullet-active
      background var(--link-secondary-color)
    @media(min-width point-l)
      & .swiper-pagination-bullet
        transition background-color .2s
        &:hover
          background-color var(--link-secondary-color-hover)
          transition none
        