.consultation-ask-panel
  &__right
    display flex
    flex-direction column
    align-items center
  &__clarification
    margin-top .25rem
    font-size font-s
    font-weight 500
    font-style italic
    text-align center
