include /blocks/block-marked/block-marked

+blockMarked({smallPadding: true}).consultation-ask-panel
  +grid({'par-like':true, 'padding-y': true, 'align': 'center'})
    +cell({m:8,xs:12})
      p На нашем форуме по загустителям волос мы отвечаем на вопросы, связанные с подбором, применением загустителя для маскировки облысения.
      p Если Вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
    +cell({m:4,xs:12}).consultation-ask-panel__right
      a(href='/konsultatsiya/ask.html').btn.consultation-ask-panel__button Спросить совет
      .consultation-ask-panel__clarification Советуем с 2007 года
