mixin productsListSize(size)
  -
    const price = size.price.toString().match(/(\d+?)(?=(\d{3})+(?!\d)|$)/g).join(' ')
  li.products-list-size&attributes(attributes)
    .products-list-size__name !{size.name}
    .products-list-size__price !{price} ₽
    .products-list-size__buy: a(href='#').btn.products-list-size__button Купить
