.products-list-size
  color var(--font-color-secondary)
  &__name
    font-size .875rem
    text-align right
    white-space nowrap
  &__price
    font-size 1.125rem
    text-align right
    white-space nowrap
  &__button
    display block
    padding .5rem .75rem
    font-size .875rem
    transition opacity .2s
    &:hover
      opacity .75
      transition none
  &__counter
    display none
    justify-self center
    align-items center
  a&__change
    width 1.25rem
    height 1.25rem
    line-height 1.25rem
    text-align center
    text-decoration none
    border 1px solid var(--border-color)
    border-bottom 1px solid var(--border-color)
  &__value
    width 1.5rem
    margin-x .25rem
    font-weight bold
    text-align center
  &--active
    & ^[-1]__buy
      display none
    & ^[-1]__counter
      display flex
