.cart-table
  @media (min-width point-m)
    display grid
    grid-template-columns 10rem 1fr repeat(2, auto)
    grid-gap (basePadding * 4) (basePadding * 2)
    align-items flex-start
  &__item
    @media (min-width point-m)
      display contents
    @media (max-width point-m - 1)
      display grid
      grid-gap basePadding (basePadding * 1.5)
      grid-template-columns 1fr 2fr 2fr
      grid-template-areas 'image info info' 'image count delete' 'image price total'
      align-items center
    & + &
      margin-top basePadding
      padding-top basePadding
      border-top .5px solid var(--border-color)
  &__image
    position relative
    width 100%
    @media (min-width point-m)
      grid-column 1
    @media (max-width point-m - 1)
      grid-area image
    img
      display block
  &__body
    display contents
    flex-grow 1
    flex-wrap wrap
    align-items flex-start
  &__properties
    display contents
    flex-wrap wrap
    align-items center
  &__info
    flex-grow 1
    @media (min-width point-m)
      grid-column 2
    @media (max-width point-m - 1)
      grid-area info
  &__name
    margin-bottom .25rem
    font-size font-l
    font-weight 500
  &__colors
    margin-bottom .25rem
  &__colors-list
    display flex
    flex-wrap wrap
    margin -(basePadding/3)
    margin-top 0
  &__color
    width 2.5rem
    height 2.5rem
    margin (basePadding/3)
    padding 2px
    border 2px solid var(--marked-color-light)
    cursor pointer
    &:hover:not(&--active)
      border 2px solid var(--marked-color-medium)
    &--active
      border 2px solid var(--marked-color)
  &__availability
    color var(--message-text-warning-color)
    &--true
      color var(--message-text-success-color)
  &__quantity
    @media (max-width point-m - 1)
      grid-column 3
    @media (max-width point-m - 1)
      grid-area count
  &__amount
    display flex
    align-items center
  a&__quantity-dec
  a&__quantity-inc
    width 1.5rem
    font-size font-xxl
    text-align center
    text-decoration none
    color var(--link-secondary-color)
    border 1px solid var(--border-color)
    &:hover
      color var(--link-secondary-color-hover)
  &__quantity-input input
    max-width 3rem
    margin-x (basePadding/3)
    padding (basePadding/3)
    text-align center
    -moz-appearance textfield // @stylint ignore
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      margin 0
      -webkit-appearance none // @stylint ignore
  &__price
    display flex
    flex-direction column
    align-items flex-end
    width 8rem
    @media (min-width point-m)
      grid-column 5
    @media (max-width point-m - 1)
      grid-area total
    @media screen and (max-width point-s - 1)
      align-items flex-start
  &__price-main
    font-size font-l
    font-weight 500
  &__price-per-item
    font-size font-xs
    text-align right
    color var(--font-color-secondary)
    @media (min-width point-m)
      grid-column 4
    @media (max-width point-m - 1)
      grid-area price
  &__delete
    min-width 1rem
    height 1rem
    background-color var(--font-color-secondary)
    mask-image url(../images/svg-sprites/rest.svg#cross)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    transition background-color .4s
    @media (min-width point-m)
      grid-column 6
    @media (max-width point-m - 1)
      grid-area delete
    &:hover
      background-color var(--font-color)
      transition-duration  .1s
    & span
      margin-left 1.5rem
  &__summary
    grid-column 1 / -1
    display flex
    justify-content flex-end
    margin-bottom (basePadding*2)
    padding-top (basePadding * 2)
    font-size font-xxxl
    font-weight 500
    line-height 1.5
    border-top 1px solid var(--border-color)
  &__sum
    margin-left .5rem
  &__notification
    grid-column 1 / -1
    flex-grow 1
  &__discount-label
    position absolute
    top -.5rem
    left -.5rem
    width 2.5rem
    height 2.5rem
    font-size .75rem
    font-weight bold
    line-height 2.5rem
    text-align center
    color #ffffff
    background-color #f42c2c
    border-radius 1.25rem
