include /blocks/form-input/form-input

mixin cartTable(table)
  mixin priceFormat(price)
    - const result = price.toString().match(/(\d+?)(?=(\d{3})+(?!\d)|$)/g).join(' ')
    | !{result}
  .cart-table
    - let sum = 0
    each item in table
      -
        item.quantity = item.quantity ? item.quantity : 1
        item.price = item.price ? item.price : 0
        sum += item.quantity * item.price
      .cart-table__item
        if !item.deleted
          .cart-table__image: a(href='stranica-tovara-sistema')
            img(src='https://dummyimage.com/200x300' alt!= item.name)
            if item.discount
              .cart-table__discount-label 10%
          .cart-table__body
            .cart-table__info
              .cart-table__name: a(href='product.html') !{item.name}
              if item.colors
                .cart-table__colors Цвет:
                  .cart-table__colors-list
                    - let i = 0
                    while i < 10
                      .cart-table__color(class= i == 2 ? 'cart-table__color--active' : '')
                        picture
                          source(srcset='https://dummyimage.com/64x64.webp')
                          img(src='https://dummyimage.com/64x64.jpg' alt='')
                      - i += 1
            .cart-table__properties
              .cart-table__quantity
                .cart-table__amount.basket-item-block-amount
                  a(href='#').cart-table__quantity-dec −
                  .cart-table__quantity-input: +formInput({type: 'number', value: item.quantity})
                  a(href='#').cart-table__quantity-inc +
              .cart-table__price-per-item
                +priceFormat(item.price)
                | &nbsp;₽
                br
                | цена за 1 шт
              .cart-table__price
                .cart-table__price-main
                  +priceFormat(item.price * item.quantity)
                  | &nbsp;₽
              a(href='#').cart-table__delete.link-secondary
                span.hidden-hd.hidden-xl.hidden-l.hidden-m Удалить
        else
          .cart-table__notification.basket-items-list-item-notification Товар 
            strong !{item.name}
            |  был удален из корзины

    .cart-table__summary
      div Итого: 
      .cart-table__sum
        +priceFormat(sum)
        | &nbsp;₽
