.feedback-item
  & + &
    margin-top 1.385em
    padding-top 1.385em
    border-top 1px solid var(--border-color)
  &__author
    font-weight bold
    font-size font-m
    line-height line-m
  &__date
    margin-top 0.2rem
    font-size font-xs
    line-height line-m
    color var(--font-color-secondary)
    font-style italic
  &__body
    margin-top (font-m/2)
  &__title
    font-weight 700
    & + p
      margin-top 0.2rem
  &__product
    @media(max-width point-s - 1)
      margin-bottom 0.5rem
    @media(min-width point-m)
      & img
        height 160px
        margin 0 auto
        object-fit contain
  &__product-name
    display block
    margin-top 0.5rem
    line-height line-s
    text-align center
    text-decoration none
    color var(--font-color)
    &:hover
      color var(--link-color)

  &__product-price
    font-size 1.125rem
    font-weight 500
    text-align center
    white-space nowrap

  &__product-buy
    display block
    margin-top 0.5rem
    padding .75rem
    font-size .875rem
    transition opacity .2s
    &:hover
      opacity .75
      transition none

  &__wrapper
    display flex
    align-items center
    column-gap (basePadding*1.5)
    margin-top (font-m/2)

  &__rating
    display flex
    column-gap 0.2rem

  &__rating-star
    --gradient-stop 0 // @stylint ignore
    width 1rem
    height 1rem
    mask-image url(../images/svg-sprites/rest.svg#star)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha // @stylint ignore
    background-image linear-gradient(to right, var(--star-color) var(--gradient-stop), var(--marked-color-medium) var(--gradient-stop))
