include /blocks/block-marked/block-marked
include /blocks/img/img

mixin feedbackItem(item)
  if item.product
    +grid.feedback-item(class != attributes.class data-rating= item.rating)
      +cell({ l:3, s:4 }).feedback-item__product
        +grid({ 'align': 'center', justify: 'center' })
          +cell({ m:10, s:8, xs:6 })
            a(href='/') 
              +img({
                name: 'toppik-black',
                path: '/images/stati/',
                formats: [
                  { ext: 'png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
              })(alt= 'Камуфляж для волос Toppik - черный' title= 'Камуфляж для волос Toppik - черный')
          +cell({ s:12, xs:6})
            a(href='/').feedback-item__product-name Спрей загуститель Hairfor2 черно-коричневый 100 мл
            p.feedback-item__product-price 1000 ₽
            a(href='/').btn.feedback-item__product-buy Подобрать цвет
      +cell({ l:9, s:8 })
        .feedback-item__author !{item.author}
        .feedback-item__wrapper
          .feedback-item__date !{item.date}
          .feedback-item__rating
            - for (i=0; i<5; i++)
              .feedback-item__rating-star
        +createElement(item.body).feedback-item__body

  else 
    .feedback-item(class != attributes.class data-rating= item.rating)
      .feedback-item__author !{item.author}
      .feedback-item__wrapper
        .feedback-item__date !{item.date}
        .feedback-item__rating
          - for (i=0; i<5; i++)
            .feedback-item__rating-star
      +createElement(item.body).feedback-item__body
