.header-mobile-switcher
  color var(--font-color)
  background-color var(--marked-color-light)
  background-image url(../images/svg-sprites/common.svg#hamburger)
  background-repeat no-repeat
  background-position basePadding center
  background-size (basePadding*2) auto
