.header-mobile-switcher
  display block
  height 3rem
  padding basePadding
  padding-left (basePadding*4)
  font-weight 500
  text-decoration none
  @media screen and (min-width (point-m))
    display none
