+pageSection({'tag':'section', 'color': 'light', 'padding-y': true}).banner-cerificate.container: .content
  +grid({ padding: 'y', align: 'center' })
    +cell({tag: 'h2', xs: 12}).home-subheader.hidden-hd.hidden-xl.hidden-l.hidden-m Порадуйте ваших близких
    +cell({l: 7, m: 6, xs: 12}).banner-cerificate__image
      picture
        source(srcset='/images/banner-cerificate_l.webp 1x, /images/banner-cerificate_l@2x.webp 2x' media='(min-width: 480px)' type='image/webp')
        source(srcset='/images/banner-cerificate_l.png 1x, /images/banner-cerificate_l@2x.png 2x' media='(min-width: 480px)' type='image/png')
        source(srcset='/images/banner-cerificate_xs.webp 1x, /images/banner-cerificate_xs@2x.webp 2x' media='(max-width: 479px)' type='image/webp')
        source(srcset='/images/banner-cerificate_xs.png 1x, /images/banner-cerificate_xs@2x.png 2x' media='(max-width: 479px)' type='image/png')
        img(src='/images/banner-cerificate.png' alt='' width='922' height='546')
    +cell({l: 5, m: 6, xs: 12}).banner-cerificate__info
      h2.hidden-s.hidden-xs Порадуйте ваших близких
      p Подарочный сертификат действует для всех направлений центра:
      ul.list-marked.banner-cerificate__list
        li загустители волос
        li лечебная косметика
        li парики и головные уборы
        li системы волос
        li и все услуги салона красоты
      a(href='/').banner-cerificate__button.btn.btn--secondary Купить
