.banner-cerificate
  &__image
    @media (min-width 1450px)
      position relative
      height 28vw
    img
      width 100%
      height auto
      @media (min-width 1450px)
        position absolute
        top basePadding
        right basePadding
        height unquote('calc(100% - ' + (basePadding * 2) + ')')
        width auto
        max-width unset
  &__list
    li
      position relative
      list-style none
      & + &
        margin-top .625rem
      &::before
        content ''
        position absolute
        top .125rem
        left -2rem
        width 1.25rem
        height 1.25rem
        background-image url(../images/svg-sprites/common.svg#check)
  &__button
    margin-top 1.5rem
    @media (max-width point-m - 1)
      display block
      width fit-content
      min-width 13rem
      max-width 100%
      margin-x auto
