.banner-new-year
  position relative
  padding 5.5rem 0 3rem
  @media(max-width point-l - 1)
    padding 5.5rem 0 7rem
  @media(max-width point-m - 1)
    padding 15rem 0 23px
  &::before
  &::after
    position absolute
  &__container
    width 313px
    @media(max-width point-m - 1)
      width 360px
    @media(max-width point-s - 1)
      width 90%
  &__title
    text-transform uppercase
    font-weight 500
    & span 
      font-family 'Merriweather', serif
      font-size 2rem
      line-height 1.25
  &__discount
    margin-top 1rem
    margin-bottom 1.5rem
    font-size 1.5rem
    line-height 1.3
    font-weight 700
    & span 
      font-size 1.5rem
      line-height 1.3
      font-weight 700
    @media(max-width point-l - 1)
      margin-top 0.625rem
      margin-bottom 1rem
