.banner-new-year
  background-image url('../images/banners/banner-ny/banner-ny-bg_l.webp?v=1')
  background-repeat no-repeat
  background-position top
  background-size cover
  overflow hidden
  z-index 0
  @media(max-width point-l - 1)
    background-image url('../images/banners/banner-ny/banner-ny-bg_m@2x.webp?v=1')
  @media(max-width point-m - 1)
    background-image url('../images/banners/banner-ny/banner-ny-bg_s@2x.webp?v=1')
  @media(max-width point-s - 1)
    background-image url('../images/banners/banner-ny/banner-ny-bg_xs.webp?v=1')
  &::before
  &::after
    content ''
    top 0
    width 100%
    height 100%
    background-repeat no-repeat
    pointer-events none
  &::after
    width 162px
    height 279px
    left 38%
    background-image url('../images/banners/banner-ny/banner-ny-red-ball.webp?v=1')
    background-size contain
    z-index -1 
    @media(max-width point-m - 1)
      top -27px
      left 10%
    @media(max-width point-s - 1)
      left 1%
  &__container
    z-index 3
  &__title
    color transparent
    background linear-gradient(180deg, #CCA473 0%, #975F22 100%)
    background-clip text
  &__discount
    letter-spacing 0.04em
    & span 
      color #D12525
