#CatalogElementBasket_bx_117848907_409.popup-window.popup-window-content-white.popup-window-with-titlebar
  #popup-window-titlebar-CatalogElementBasket_bx_117848907_409.popup-window-titlebar
    span.popup-window-titlebar-text Товар добавлен в корзину
  #popup-window-content-CatalogElementBasket_bx_117848907_409.popup-window-content
    div(style='width: 100%; margin: 0; text-align: center;')
      img(src='/images/catalog/hairfor2.jpg' height='130' style='max-height:130px')
      p Камуфляж для волос Toppik – Светло-коричневый
  span.popup-window-close-icon.popup-window-titlebar-close-icon
  .popup-window-buttons
    span.btn.btn-default.btn-buy.btn-sm(id='') Перейти в корзину
