.popup-window
  display flex
  flex-direction column
  align-items center
  width 30rem
  max-width 100%
  padding basePadding
  border .5px var(--border-color) solid
.popup-window-titlebar
  margin-bottom 1rem
.popup-window-content
  display flex
  flex-direction column
  align-items center
  margin-bottom 1rem
  img
    margin 0 auto .5rem
.popup-window-buttons
  display grid
  align-items center
  grid-gap (basePadding*2)
  grid-template-columns 1fr
