mixin homeNews(news)
  +grid({'padding-y': true}).home-news
    each item in news.list
      +cell({m:3,s:4,xs:12})
        .home-news__item
          .home-news__title !{item.title}
          .home-news__body: +createElement(item.body)
          if item.date
            .home-news__date !{item.date}
    +cell({xs:12}).home-news__read-more: a(href='') !{news.readmore || `Читать все новости`}
