.home-news
  h2 + &
    margin-top 0
  &__item
    display flex
    flex-direction column
    justify-content flex-start
    height 100%
    padding basePadding
    font-size font-s
    background-color #fff
  &__title
    font-weight 500
    line-height line-m
  &__body
    margin-top font-m
    margin-bottom auto
    color var(--font-color-secondary)
  &__date
    align-self flex-end
    margin-top font-m
    text-align right
    color var(--font-color-secondary)
  &__read-more
    text-align center
