.article-content 
  display flex
  flex-direction column
  align-items flex-start
  padding (basePadding*1.6)
  background-color var(--marked-color-light)
  counter-reset numbers // @stylint ignore
  &__title
    margin-bottom 1rem
    font-size 1.25rem
    line-height 1.2
    font-weight 700
  &__link
    counter-increment numbers // @stylint ignore
    &[href^='#']
      text-decoration none
  &__item
    font-size 1rem
    line-height 1.625
    font-weight 400
    color var(--link-color)
    display flex
    align-items center
    transition color .4s
    &::before
      box-sizing content-box
      content counter(numbers)
      min-width 1.25rem
      height 1.25rem
      margin-right 1.375rem
      font-size 0.875rem
      line-height 1.5
      text-align center
      color #B49D84
      border 1px solid #B49D84
      border-radius 50%
      transition color .4s, border-color .4s
    &:hover
      color var(--font-color)
      transition-duration .1s
      &::before
        color var(--font-color)
        border-color var(--font-color)
        transition-duration .1s
  &__all
    display inline-block
    margin-top 0.5rem
    font-size 1rem
