mixin articleContent(content)
  .article-content 
    p.article-content__title Содержание
    - for (let i = 0; i < content.length; i++)
      a(href=`#content${i}`).article-content__link
        .article-content__item= content[i]
    a(href='/').link-secondary.article-content__all Показать все
