include /blocks/img/img

mixin articleItemSquare(path, imgName, imgAlt, width, height)
  +cell({ m:4, s:8})
    +img({
      name: imgName,
      path: `/images/stati/${path}/`, 
      formats: [
        { ext: 'png', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [
        { values: [ 1,2 ] }
      ]
      })(alt= imgAlt title= imgAlt width= width height= height class=['article-item__img']) 
  +cell({ m:8, s:12})
    block

mixin articleItemRound(path, imgName, imgAlt)
  +cell({ s:3, xs:8 })
    +img({
      name: imgName,
      path: `/images/stati/${path}/`, 
      formats: [
        { ext: 'png', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [
        { values: [ 1,2 ] }
      ]
      })(alt= imgAlt title= imgAlt width='480' height='480' class=['article-item__img', 'article-item__img--round']) 
  +cell({ s:9})
    block

mixin articleItemProduct(path, imgName, imgAlt, width, height, url)
  li(class= cellClasses({ s:4, xs:12 })).products-list-element
    a(href= url).products-list-element__image
      if (path)
        +img({
          name: imgName,
          path: `/images/stati/${path}/`,
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1,2 ] }
          ]
          })(alt= imgAlt title= imgAlt width= width height= height)
      else 
        +img({
          name: imgName,
          path: `/images/stati/`,
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1,2 ] }
          ]
          })(alt= imgAlt title= imgAlt width= width height= height)
    a(href= url).products-list-element__name= imgAlt
