.filter
  &__inner
    display grid
    grid-template-columns repeat(6, min-content)
    gap 2rem
    @media(max-width point-l - 1)
      justify-content space-between
      column-gap 0.5rem
    @media(max-width point-m - 1)
      position absolute
      width 100%
      grid-template-columns repeat(3, 1fr)
      grid-template-rows repeat(4, min-content)
      gap 1rem
      padding 1rem 0 2rem
      background-color #fff
      transform translate(var(--filter-inner-translate, -100%))
      transition-duration 0.2s
      z-index 10
      &--active
        transform (var(--filter-inner-translate, 0))
        transition transform 0.1s
        box-shadow 0px 15px 10px -15px rgba(0,0,0,0.2)
  & .form-input__field
    padding 0
  &__item
    &--color
      @media(max-width point-m - 1)
        grid-column 1/-1
        grid-row 1/2
    &--show
      display flex
      flex-direction column
      gap 0.5rem
      @media(max-width point-m - 1)
        grid-column 1/-1
        grid-row 4/5
        flex-direction row
        width 100%
  &__color
    @media(min-width point-m)
      width 13.4rem
      height 7.5rem
      padding 0.2rem
      overflow-y scroll
    @media(max-width point-m - 1)
      display grid
      grid-template-columns repeat(3, 1fr)
      align-items center
      column-gap 0.4rem
    @media(max-width point-s - 1)
      grid-template-columns repeat(2, 1fr)
  &__title
    margin-bottom 1rem
    @media(max-width point-m - 1)
      margin-bottom 0.5rem
  &__checkbox-color .filter__label-color
    margin-left 0
  &__label-color
    display flex
    align-items center
    column-gap 0.5rem
  &__field-color
    display none
    & + label .filter__color-image
      display inline-block
      min-width 1rem
      min-height 1rem
      border-radius 50%
      // background-image url("https://dummyimage.com/484x726")
      background-repeat no-repeat
    &:checked + label .filter__color-image
      box-shadow 0 0 0 2px var(--font-color)
  &__show-btn
    font-weight 400
    white-space nowrap
    @media(min-width point-m)
      padding-y (basePadding/1.5)
      font-size 0.9em
    @media(max-width point-m - 1)
      width 50%
    &--reset
      color var(--link-secondary-color)
      background-color #fff
      border 1px solid var(--link-secondary-color)
  // Состояние disabled
  & .form-input--checkbox label.disabled
  & .filter__label-color.disabled
    color silver
  & .filter__label-color.disabled .filter__color-image
    box-shadow none
    opacity 0.5
  // Стили для фильтра в отзывах
  &--feedback
    & > .filter__inner
      display flex
      @media(max-width point-m - 1)
        display grid
        grid-template-columns repeat(2, 1fr)
        gap 0.5rem
      @media(max-width point-s - 1)
        grid-template-columns 1fr
  &__btn
    width 100%
    font-weight normal
    @media(min-width point-m)
      padding-y (basePadding/1.5)
      font-size 0.9em
    &--active
      font-weight 700
