.banner-sevich
  background-color #F6F3EF
  background-image url(../images/banners/banner-sevich/banner-sevich_l.webp)
  background-repeat no-repeat
  background-size cover
  overflow hidden
  @media (max-width point-m - 1)
    background-image url(../images/banners/banner-sevich/banner-sevich_s.webp)
  &__info
    @media (max-width point-m - 1)
      z-index 2
  &__image
    img
      position absolute
      top 50%
      left 0
      height auto
      translate 0 -50%
      z-index 1
      @media (max-width point-m - 1)
        left 50%
        max-width calc(100% - 2.5rem)
        translate -50% -50%
    &::before
    &::after
      position absolute
      content ''
      background-repeat no-repeat
      background-size cover
    &::before
      bottom 2.6rem
      width 570px
      height 134px
      left -60px
      background-image url(../images/banners/banner-sevich/banner-sevich-bg-1.webp)
      @media(max-width point-m - 1)
        display none
    &::after
      top 0
      left 0
      width 510px
      height 175px
      background-image url(../images/banners/banner-sevich/banner-sevich-bg-2.webp)
      @media(max-width point-m - 1)
        top auto
        bottom 0
        left 50%
        translate -50% 0
  &__promo
    @media (max-width point-m - 1)
      align-items center
  &__duration
    color #816B60
  &__discount
    color #D12525
    letter-spacing 0.05em
  &__brands
    color #222222
