include /blocks/page-section/page-section

+pageSection.banner-sevich
  .container
    .content
      +grid({ align: 'center' })
        +cell({ l: 5, m: 6, xs: 12 }).banner-sevich__info
          +img({
            name: 'sevich',
            path: '/images/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            })(alt= 'Логотип Sevich' width=128 height=48)
          .banner-sevich__promo
            .banner-sevich__duration с 1 по 30 июня
            .banner-sevich__discount Скидка 20%
            .banner-sevich__brands на пудру-загуститель Sevich #[br] по промокоду #[strong June]
          a(href='/catalog/kamuflyazh/sevich/').banner-sevich__button.btn.btn--secondary Выбрать загуститель
        +cell({ l: 7, m: 6, xs: 12 }).banner-sevich__image
          +img({
            name: 'banner-sevich',
            path: '/images/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1,2 ] }
            ]
            })(alt= 'Пудра-загуститель Sevich' width=450 height=145)
