.link-icons
  --color-link-bg var(--font-color)
  --color-link-bg-hover  var(--link-secondary-color)
  parMargin()
  display flex
  align-items center
  margin-x -.25rem
  &--dark
    --color-link-bg var(--background-color)
    --color-link-bg-hover var(--marked-color-medium)
  &__link
    display block
    height 0
    margin-x .25rem
    padding .75rem
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-link-bg)
    transition background-color .4s
    &:hover
      background-color var(--color-link-bg-hover)
      transition-duration  .1s
    &--facebook
      mask-image var(--icon-facebook)
    &--vk
      mask-image var(--icon-vk)
    &--ok
      mask-image var(--icon-ok)
    &--viber
      mask-image var(--icon-viber)
    &--whatsapp
      mask-image var(--icon-whatsapp)
    &--instagram
      mask-image var(--icon-instagram)
