mixin linkIcons(list = [], settings = {})
  -
    const links = {
      facebook: 'https://www.facebook.com/pages/Центр-дизайна-волос/280103245357085',
      vk: 'https://vk.com/club1969216',
      ok: 'http://ok.ru/group/51895164076252',
      viber: 'viber://chat?number=79215710124',
      whatsapp: 'https://wa.me/79215710124',
      instagram: 'https://www.instagram.com/hair_design_spb/',
    }
    const blockClass = classes('link-icons', settings)
  div(class != blockClass)&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
