.header
  &__navigation
    & > .content
      position relative
      display flex
  &__navigation-phone
    align-self center
    margin-left auto
  &__search
    height 100%
    margin-left auto
    aspect-ratio 1/1

.appointment
  position sticky
  top 0
  width 100%
  padding-y 0.75rem
  p 
    font-size 1rem
    line-height 1.2
    font-weight 500
