.header
  &__navigation
    background-color var(--nav-background)
  &__navigation-phone
    a
      color var(--background-color)

.appointment
  z-index 900
  background-color var(--link-color)
  p 
    text-align center
    color #ffffff
