include /blocks/modal/modal
include /blocks/banner-schedule/banner-schedule

.container.appointment: .content
  p Предварительная запись в салон обязательна, так как консультация и подбор цвета займет ваше время.

header.header
  include ../header-sites/header-sites
  .container
    .content
      include ../header-top/header-top
  .container.header__navigation
    .content
      include ../header-mobile-switcher/header-mobile-switcher
      include ../header-navigation/header-navigation
      +headerNavigation(mainMenu)
      .header__navigation-phone.hidden-hd.hidden-xl.hidden-l.hidden-m
        a(href='tel:+7 (812) 701-06-04') +7 (812) 701-06-04
      .header__search: include /blocks/header-search/header-search
  .container
    .content.banner-mini
      p #[strong ВСЕГО 3 ДНЯ #[span #[strong -23%]] НА ЛЮБОЙ БРЕНД ЗАГУСТИТЕЛЕЙ] по промокоду #[strong Man]
      //- p 27 декабря и 28 декабря: сокращенный день до 17:00 #[br] #[strong #[a(href='#new-year' data-modal) График работы в праздничные дни]]
      //- +modal#new-year
      //-   p 30&nbsp;декабря: с 10:00 до 19:00 #[br] 31&nbsp;декабря&nbsp;&mdash; 3&nbsp;января: выходной #[br] 4&nbsp;января&nbsp;&mdash; 6&nbsp;января: с 10:00 до 19:00 #[br] 7 января: выходной #[br] 8 января: с 10:00 до 19:00 #[br] c 09 января работаем в обычной режиме
  +bannerSchedule
