.text-marked
  font-size font-xl
  &--size-small
    font-size font-m
  &--size-big
    font-size font-xxxl
  &--size-medium
    font-size font-l
  &--bold
    font-weight bold
  &--center
    text-align center
  &--color-green
    color var(--message-text-success-color)
