mixin textMarked(settings = {'tag':'span'})
  -
    const tag = settings.tag ? settings.tag : 'div'
    const classList = `${classes('text-marked', settings)}`

  #{tag}(class!= classList id= attributes.id)&attributes(attributes)
    block
