.header-search
  a(href='#').header-search__open
  form.header-search__form
    a(href='#').header-search__close
    input(type='text' name='search').header-search__field
    button(type='submit').header-search__submit
