searchControl()
  --search-control-bg-color var(--font-color-secondary)
  --search-control-bg-color-hover var(--font-color)
  --search-control-transition-duration .4s
  position relative
  display block
  width 3rem
  height 2.5rem
  padding 0
  border none
  appearance none
  background-color #fff
  &:hover
    --search-control-bg-color var(--search-control-bg-color-hover)
    --search-control-transition-duration .1s
  &::before
    content ''
    position absolute
    top 50%
    left 50%
    width 1.75rem
    height 1.75rem
    background-color var(--search-control-bg-color)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    transform translate(-50%, -50%)
    transition background-color var(--search-control-transition-duration)

.header-search
  position relative
  width 100%
  height 100%
  &__open
    searchControl()
    --search-control-bg-color var(--background-color)
    --search-control-bg-color-hover var(--marked-color-light)
    height 3rem
    background-color var(--nav-background)
    &::before
      mask-image var(--icon-search)
  &__form
    position absolute
    top 0
    right 0
    bottom 0
    display none
    align-items center
    opacity 0
    background-color var(--nav-background)
    transition opacity .2s
    transition-timing-function ease-out
    &--visible
      display flex
    &::before
      content ''
      position absolute
      top 0
      bottom 0
      left -2.875rem
      width 2.875rem
      background-image linear-gradient(to right, transparent, var(--nav-background))
    ^[-1]--active &
      opacity 1
      transition opacity .1s
      transition-timing-function ease-in
  &__field
    display block
    width 6rem
    max-width unquote('calc(100vw - 5.5rem - '+ basePadding * 2 +')')
    padding .5rem 1.25rem
    line-height 1.5rem
    border none
    border-radius 0
    transition width .2s
    transition-timing-function ease-out
    ^[-1]--active &
      width 12rem
      transition width .1s
      transition-timing-function ease-in
  &__submit
    searchControl()
    &::before
      mask-image var(--icon-search)
  &__close
    searchControl()
    width 2.5rem
    height 2.5rem
    &::before
      width 1rem
      height 1rem
      mask-image url(../images/svg-sprites/rest.svg#cross)
