
-
  const aboutMenu = [
    {'name':'Сотрудничество','href':'sotrudnichestvo.html'},
    {'name':'Дистрибьютеры','href':'distribyutery.html'},
    {'name':'Сертификаты','href':'sertifikaty.html'},
    {'name':'Новости','href':'novosti.html'},
    {'name':'Шоу-рум','href':'shou-rum.html'},
    {'name':'Консультация','href':'konsultatsiya.html'},
  ]
