-
  var consCategories = [
    {name:'Аксессуары',count:'0'},
    {name:'Заказ, доставка и оплата',count:'29'},
    {name:'Особенности использования загустителя',count:'48'},
    {name:'Подбор цвета',count:'9'},
  ]
