-
  const kerMenu = [
    {'name':'Как пользоваться','href':'kak-polzovatsya.html'},
    {'name':'Как подобрать цвет','href':'/'},
    {'name':'Для мужчин','href':'/'},
    {'name':'Для женщин','href':'/'},
  ]
