
-
  const mainMenu = [
    {'name':'О нас','href':'o-nas.html', settings: { active: true }, sublist: [
        {'name':'Сотрудничество','href':'sotrudnichestvo.html'},
        {'name':'Дистрибьютеры','href':'distribyutery.html'},
        {'name':'Сертификаты','href':'sertifikaty.html'},
        {'name':'Новости','href':'novosti.html'},
        {'name':'Шоу-рум','href':'shou-rum.html'},
        {'name':'Консультация','href':'konsultatsiya.html'},
      ] },
    {'name':'Каталог','href':'catalog.html', sublist: [
        {'name':'Загустители','href':'catalog-category.html', settings: { active: true }, sublist: [
            {'name':'Порошок - загуститель волос Toppik','href':'#'},
            {'name':'Порошок - загуститель волос Fidentia','href':'#'},
            {'name':'Спрей - загуститель волос Hairfor2','href':'#'},
          ],
        },
        {'name':'Пудра загуститель для волос','href':'#', sublist: [
            {'name':'Порошок - загуститель волос Toppik','href':'#'},
            {'name':'Порошок - загуститель волос Fidentia','href':'#'},
            {'name':'Спрей - загуститель волос Hairfor2','href':'#'},
          ],
        },
        {'name':'Аксессуары','href':'catalog-category.html'},
      ],
    },
    {'name':'До и после','href':'do-i-posle.html'},
    {'name':'Доставка и оплата','href':'dostavka-i-oplata.html'},
    {'name':'Оптовые продажи','href':'optovye-prodazhi.html'},
    {'name':'Отзывы','href':'otzyvy.html'},
    {'name':'Контакты','href':'kontakty.html'},
  ]
