include /blocks/modal/modal

-
  const cities = [ 'Благовещенск', 'Владикавказ', 'Волжский', 'Воронеж', 'Екатеринбург', 'Ижевск', 'Коломна', 'Краснодар', 'Красноярск', 'Москва', 'Нижний Новгород', 'Нижний Тагил', 'Новосибирск', 'Омск', 'Пермь', 'Петрозаводск', 'Поставы', 'Санкт-Петербург', 'Тверь', 'Тюмень', 'Уфа', 'Челябинск', 'Череповец', 'Ярославль']

+modal.modal-city#modal-city
  h2 Укажите свой город
  ul(class= gridClasses({ 'par-like': true }))
    each item in cities
      li(class= cellClasses({ l:6, m:6, s:6 })).modal-city__item
        a(href='/').modal-city__link= item
