.modal-reminder
  .modal__inner
    display flex
    flex-direction column
    align-items center
    min-width unset
    width 24rem
    padding 1.25rem 2rem
    text-align center
  &__button
    margin-top 2rem
