include /blocks/modal/modal
  
+modal.modal-reminder#modal-reminder
  h2 Твой заказ ждёт тебя
  p В твоей корзине осталась незавершённая покупка
  a(href='/personal/cart/').btn.modal-reminder__button Оплатить сейчас
