.rating-sum
  display flex
  column-gap 0.2rem
  &__star
    --gradient-stop 0 // @stylint ignore
    width 1rem
    height 1rem
    mask-image url(../images/svg-sprites/rest.svg#star)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha // @stylint ignore
    background-image linear-gradient(to right, var(--star-color) var(--gradient-stop), var(--marked-color-medium) var(--gradient-stop))
