.header-navigation
  @media screen and (max-width point-m - 1)
    position absolute
    top 3rem
    z-index 20
    display block
    width 20rem
    background-color var(--marked-color-light)
    transition transform .2s
    transform scale(0)
    transform-origin 0 0 0
    &--active
      transition none
      transform scale(1)
    &__list
      flex-direction column
      &--sub
        display none
        width 100%
      &--active
        display block
    &__item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding basePadding
        font-weight 500
        text-decoration none
        color var(--link-secondary-color)
        transition color .2s
      &:hover
        & > a
          color var(--link-secondary-color-hover)
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
      &--sub
        & > a
          padding 0 (basePadding)
          font-weight 400
          white-space nowrap
          color var(--nav-background)
          transition color .2s
          text-decoration underline
        &:hover
          & > a
            color var(--link-color-hover)
            background-color transparent
            transition none
      &--sub-1
        & > a
          padding basePadding
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
