.header-navigation
  @media screen and (min-width (point-m))
    &__list
      ^[-1]__item:hover > & // @stylint ignore
        transition none
        transform scaleY(1)
      &--sub
        position absolute
        top 3.0625rem
        z-index 10
        display block
        background-color var(--marked-color-light)
        transform scaleY(0)
        transform-origin 0 0 0
        transition transform .2s
      &--sub-2
        top 0
        left 100%
        background-color lighten(#f4f4f4, 50%)
    &__item
      transition background-color .2s
      & > a
        text-decoration none
        color #ffffff
        transition color .2s
      &:hover
        background-color var(--marked-color)
        transition none
        & > a
          color #fff
          transition none
      &--parent
        & > a::after
          content ''
          display inline-block
          width .5rem
          height .5rem
          margin-left (basePadding/3*2)
          border-right 2px solid
          border-bottom 2px solid
          transform scaleY(.875) translateY(-25%) rotate(45deg)
        & ^[-2]__item--sub-1
          & > a::after
            transform scaleY(.875) translateY(-25%) rotate(315deg)
      &--active
        background-color var(--marked-color)
        & > a
          color #fff
      &--sub
        position relative
        display flex
        & > a
          display block
          padding (basePadding)
          font-weight 500
          flex-grow 1
          padding-y (basePadding/4*3)
          font-size font-s
          white-space nowrap
          color var(--nav-background)
          transition color .2s
          text-decoration none
        &:hover
          background-color transparent
          & > a
            color var(--link-color-hover)
            background-color transparent
            transition none
      &--active
        background-color var(--marked-color)
        & > a
          color #fff
          background-color var(--marked-color)
        &:hover
          background-color var(--marked-color)
          & > a
            color #ffffff
            background-color var(--marked-color)
