.header-navigation
  @media screen and (min-width (point-m))
    &__list
      display flex
      flex-wrap wrap
      &--sub
        display none
    &__item
      position relative
      display flex
      & > a
        display block
        padding (basePadding)
        font-weight 500
